doctype html
html(lang="ru")
    head
        meta(charset="utf-8")

        title blinnikof
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="Front-end by unTsar")
        meta(name="robots" content ="index, follow")

        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        //- Chrome, Firefox OS and Opera
        meta(name="theme-color" content="#000")
        //- Windows Phone
        meta(name="msapplication-navbutton-color" content="#000")
        //- iOS Safari
        meta(name="apple-mobile-web-app-status-bar-style" content="#000")

        link(rel="stylesheet", href="css/bootstrap-grid.min.css")
        link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
        link(rel="stylesheet", href="css/bootstrap.min.css")

        link(rel="stylesheet", href="css/hamburgers.css")

        link(rel="stylesheet", href="css/jquery.mmenu.css")
        link(rel="stylesheet", href="css/jquery.mmenu.effects.css")
        link(rel="stylesheet", href="css/jquery.mmenu.pagedim.css")

        link(rel="stylesheet", href="css/main.css")


        script(src="https://api-maps.yandex.ru/2.1/?apikey=898ba7e1-09fd-4997-8dc5-402d4333d428&lang=ru_RU" type="text/javascript")

        block styles

        //- //- Favicons
        //- link(rel="icon", sizes="48x48", type="image/png", href="img/fav/ws_48x48.png")
        //- link(rel="icon", sizes="57x57", type="image/png", href="img/fav/ws_57x57.png")
        //- link(rel="icon", sizes="72x72", type="image/png", href="img/fav/ws_72x72.png")
        //- link(rel="icon", sizes="114x114s", type="image/png", href="img/fav/ws_114x114.png")f
        //- link(rel="icon", type="image/x-icon", href="img/fav/ws_48x48.ico")
    
    body

        include ../_partials/mmenu.pug

        block content


    //- For Bootstrap
    script(src="js/jquery.min.js")
    script(src="js/popper.min.js")

    //- Bootstrap
    script(src="js/bootstrap.min.js")
    script(src="js/bootstrap.bundle.min.js")

    //- Jquery Mmenu
    script(src="js/jquery.mmenu.js")
    script(src="js/common.js")
    block scripts
