extends _layouts/home

block styles

    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/contacts.css")
    link(rel="stylesheet", href="css/prices.css")


block content

    include _partials/header.pug
    main
        section.header
            .container
                .header-breadcrumbs
                    .breadcrumbs #[a.home(href="#") Главная] #[span.slash /] #[a.active(href="prices.html") Цены на занятия]
                .head
                    .row
                        .col-12
                            span.head Наши 
                                span.red занятия
        section.schoolProgress
            .container
                .head
                    .row
                        .col-12
                            span.head Школа достижения результатов #[br] #[span.red #BodyEvolution]
                .steps.row
                    .col-12.col-lg-4
                        .step
                            .header.d-flex.justify-content-center.align-items-center
                                .wrap.d-flex.align-items-center
                                    .circle.d-flex.align-items-center.justify-content-center
                                        span 1
                                    span.red ступень
                                span.name BodyEvolution
                            .desc
                                ul
                                    li
                                        span 4-х недельный фитнес интенсив
                                    li
                                        span Программа питания
                                    li
                                        span Сбросить лишний вес
                                    li
                                        span Убрать лишние сантиметры
                                    li
                                        span Изменить качество кожи
                                    li
                                        span Придать тонус и рельеф телу
                            .buy
                                .text
                                    span.price 13 900 р.
                                    a(href="be.html") Подробнее о курсе
                                .button.d-flex.align-items-center.justify-content-center
                                    span Купить
                    .col-12.col-lg-4
                        .step
                            .header.d-flex.justify-content-center.align-items-center
                                .wrap.d-flex.align-items-center
                                    .circle.d-flex.align-items-center.justify-content-center
                                        span 2
                                    span.red ступень
                                span.name BodyEvolution
                            .desc
                                ul
                                    li
                                        span 4-х недельный фитнес интенсив
                                    li
                                        span Программа питания
                                    li
                                        span Сбросить лишний вес
                                    li
                                        span Убрать лишние сантиметры
                                    li
                                        span Изменить качество кожи
                                    li
                                        span Придать тонус и рельеф телу
                            .buy
                                .text
                                    span.price 12 900 р.
                                    a(href="be.html") Подробнее о курсе
                                .button.d-flex.align-items-center.justify-content-center
                                    span Купить
                    .col-12.col-lg-4
                        .step
                            .header.d-flex.justify-content-center.align-items-center
                                .wrap.d-flex.align-items-center
                                    .circle.d-flex.align-items-center.justify-content-center
                                        span 3
                                    span.red ступень
                                span.name BodyEvolution
                            .desc
                                ul
                                    li
                                        span 4-х недельный фитнес интенсив
                                    li
                                        span Программа питания
                                    li
                                        span Сбросить лишний вес
                                    li
                                        span Убрать лишние сантиметры
                                    li
                                        span Изменить качество кожи
                                    li
                                        span Придать тонус и рельеф телу
                            .buy
                                .text
                                    span.price 11 900 р.
                                    a(href="be.html") Подробнее о курсе
                                .button.d-flex.align-items-center.justify-content-center
                                    span Купить
        section.sizePlus
            .container
                .head
                    .col-12.col-lg-8.ml-auto.mr-auto
                        span.head #[span.red #BodyEvolution Size plus] #[br] Курс для женщин кто за 100кг
                .courses
                    .row
                        .col-12.col-md-6.col-lg-4.ml-auto
                            .course
                                .header.d-flex.justify-content-start.align-items-center
                                    .circle.d-flex.align-items-center.justify-content-center
                                        span 1
                                    .text
                                        span.red ступень
                                        br
                                        span.subname 4-х недельный курс
                                .desc
                                    ul
                                        li
                                            span 12 тренировок с фитнес куратором
                                        li
                                            span 4 проработки с диетологом (еженедельно) 
                                        li
                                            span Анализ БИОИМПЕДАНС (до и после)
                                        li
                                            span Персональное питание 
                                        li
                                            span Дневник и сопровождение диетологом
                                        li
                                            span|Постановка техники упражнений с 
                                                br
                                                |учетом особенностей высокой 
                                                br
                                                |массы тела, без доп.оборудования, 
                                                br
                                                |плавный вход в  физические 
                                                br
                                                |нагрузки. 
                                .buy
                                    .text
                                        span.price 12 900 р.
                                        a(href="#") Подробнее о курсе
                                    .button.d-flex.align-items-center.justify-content-center
                                        span Записаться
                        .col-12.col-md-6.col-lg-4.mr-auto
                            .course
                                .header.d-flex.justify-content-start.align-items-center
                                    .circle.d-flex.align-items-center.justify-content-center
                                        span 2
                                    .text
                                        span.red ступень
                                        br
                                        span.subname 4-х недельный курс
                                .desc
                                    ul
                                        li
                                            span 12 тренировок с фитнес куратором
                                        li
                                            span 4 проработки с диетологом (еженедельно) 
                                        li
                                            span Анализ БИОИМПЕДАНС (до и после)
                                        li
                                            span Персональное питание 
                                        li
                                            span Дневник и сопровождение диетологом
                                        li
                                            span|Постановка техники упражнений с 
                                                br
                                                |учетом особенностей высокой 
                                                br
                                                |массы тела, без доп.оборудования, 
                                                br
                                                |плавный вход в  физические 
                                                br
                                                |нагрузки. 
                                .buy
                                    .text
                                        span.price 12 900 р.
                                        a(href="#") Подробнее о курсе
                                    .button.d-flex.align-items-center.justify-content-center
                                        span Записаться
        section.schoolSupport
            .container
                .head
                    .row
                        .col-12
                            span.head Школа #[span.red поддержки] #[br]результатов
                .courses
                    .row
                        .col-12.col-md-6.col-lg-3
                            .course
                                .header.d-flex.justify-content-center.align-items-center
                                    .circle.d-flex.align-items-center.justify-content-center
                                        span 1
                                    span.name Занятие
                                .desc
                                    .subhead.d-flex.justify-content-start.align-items-center
                                        img.icon(src="img/prices/prices-schoolSupport-desc-icon.jpg", alt="prices-schoolSupport-desc-icon")
                                        p.subname|Действует месяц
                                            br
                                            |и включает занятия:
                                    ul
                                        li
                                            span LadyFit
                                        li
                                            span Towel Workout #[br](полотенца)
                                        li
                                            span Stretching 
                                        li
                                            span и другие занятия 
                                .buy
                                    .text
                                        span.price 900 р.
                                        a(href="additional.html") Подробнее
                                    .button.d-flex.align-items-center.justify-content-center
                                        span Купить

                        .col-12.col-md-6.col-lg-3
                            .course
                                .header.d-flex.justify-content-center.align-items-center
                                    .circle.d-flex.align-items-center.justify-content-center
                                        span 4
                                    span.name Занятия
                                .desc
                                    .subhead.d-flex.justify-content-start.align-items-center
                                        img.icon(src="img/prices/prices-schoolSupport-desc-icon.jpg", alt="prices-schoolSupport-desc-icon")
                                        p.subname|Действует месяц
                                            br
                                            |и включает занятия:
                                    ul
                                        li
                                            span LadyFit
                                        li
                                            span Towel Workout #[br](полотенца)
                                        li
                                            span Stretching 
                                        li
                                            span и другие занятия 
                                .buy
                                    .text
                                        span.price 3 000 р.
                                        a(href="additional.html") Подробнее
                                    .button.d-flex.align-items-center.justify-content-center
                                        span Купить
                        .col-12.col-md-6.col-lg-3
                            .course
                                .header.d-flex.justify-content-center.align-items-center
                                    .circle.d-flex.align-items-center.justify-content-center
                                        span 8
                                    span.name Занятий
                                .desc
                                    .subhead.d-flex.justify-content-start.align-items-center
                                        img.icon(src="img/prices/prices-schoolSupport-desc-icon.jpg", alt="prices-schoolSupport-desc-icon")
                                        p.subname|Действует месяц
                                            br
                                            |и включает занятия:
                                    ul
                                        li
                                            span LadyFit
                                        li
                                            span Towel Workout #[br](полотенца)
                                        li
                                            span Stretching 
                                        li
                                            span и другие занятия 
                                .buy
                                    .text
                                        span.price 5 200 р.
                                        a(href="additional.html") Подробнее
                                    .button.d-flex.align-items-center.justify-content-center
                                        span Купить
                        .col-12.col-md-6.col-lg-3
                            .course
                                .header.d-flex.justify-content-center.align-items-center
                                    .circle.d-flex.align-items-center.justify-content-center
                                        span 12
                                    span.name Занятий
                                .desc
                                    .subhead.d-flex.justify-content-start.align-items-center
                                        img.icon(src="img/prices/prices-schoolSupport-desc-icon.jpg", alt="prices-schoolSupport-desc-icon")
                                        p.subname|Действует месяц
                                            br
                                            |и включает занятия:
                                    ul
                                        li
                                            span LadyFit
                                        li
                                            span Towel Workout #[br](полотенца)
                                        li
                                            span Stretching 
                                        li
                                            span и другие занятия 
                                .buy
                                    .text
                                        span.price 6 800 р.
                                        a(href="additional.html") Подробнее
                                    .button.d-flex.align-items-center.justify-content-center
                                        span Купить

        include _partials/contacts.pug
    include _partials/footer.pug

block scripts
    script(src="js/map.js")
