@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.otf") format("opentype");
}

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.otf") format("opentype");
}

@font-face {
  font-family: "MullerRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerRegular/MullerRegular.eot");
  src: url("../fonts/MullerRegular/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerRegular/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular/MullerRegular.ttf") format("truetype"), url("../fonts/MullerRegular/MullerRegular.otf") format("opentype");
}

@font-face {
  font-family: "MullerLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerLight/MullerLight.eot");
  src: url("../fonts/MullerLight/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerLight/MullerLight.woff") format("woff"), url("../fonts/MullerLight/MullerLight.ttf") format("truetype"), url("../fonts/MullerLight/MullerLight.otf") format("opentype");
}

@font-face {
  font-family: "MullerLightItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerLightItalic/MullerLightItalic.eot");
  src: url("../fonts/MullerLightItalic/MullerLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerLightItalic/MullerLightItalic.woff") format("woff"), url("../fonts/MullerLightItalic/MullerLightItalic.ttf") format("truetype"), url("../fonts/MullerLightItalic/MullerLightItalic.otf") format("opentype");
}

@font-face {
  font-family: "MullerThin";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerThin/MullerThin.eot");
  src: url("../fonts/MullerThin/MullerThin.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerThin/MullerThin.woff") format("woff"), url("../fonts/MullerThin/MullerThin.ttf") format("truetype"), url("../fonts/MullerThin/MullerThin.otf") format("opentype");
}

@font-face {
  font-family: "MullerMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerMedium/MullerMedium.eot");
  src: url("../fonts/MullerMedium/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerMedium/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium/MullerMedium.ttf") format("truetype"), url("../fonts/MullerMedium/MullerMedium.otf") format("opentype");
}

@font-face {
  font-family: "MullerBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerBold/MullerBold.eot");
  src: url("../fonts/MullerBold/MullerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBold/MullerBold.woff") format("woff"), url("../fonts/MullerBold/MullerBold.ttf") format("truetype"), url("../fonts/MullerBold/MullerBold.otf") format("opentype");
}

@font-face {
  font-family: "MullerExtraBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerExtraBold/MullerExtraBold.eot");
  src: url("../fonts/MullerExtraBold/MullerExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerExtraBold/MullerExtraBold.woff") format("woff"), url("../fonts/MullerExtraBold/MullerExtraBold.ttf") format("truetype"), url("../fonts/MullerExtraBold/MullerExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "MullerBlack";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerBlack/MullerBlack.eot");
  src: url("../fonts/MullerBlack/MullerBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBlack/MullerBlack.woff") format("woff"), url("../fonts/MullerBlack/MullerBlack.ttf") format("truetype"), url("../fonts/MullerBlack/MullerBlack.otf") format("opentype");
}

@font-face {
  font-family: "Aeroport";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Aeroport/Aeroport.eot");
  src: url("../fonts/Aeroport/Aeroport.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport/Aeroport.woff") format("woff"), url("../fonts/Aeroport/Aeroport.ttf") format("truetype"), url("../fonts/Aeroport/Aeroport.otf") format("opentype");
}

@font-face {
  font-family: "Aeroport-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Aeroport-Bold/Aeroport-Bold.eot");
  src: url("../fonts/Aeroport-Bold/Aeroport-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport-Bold/Aeroport-Bold.woff") format("woff"), url("../fonts/Aeroport-Bold/Aeroport-Bold.ttf") format("truetype"), url("../fonts/Aeroport-Bold/Aeroport-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Aeroport-BoldItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Aeroport-BoldItalic/Aeroport-BoldItalic.eot");
  src: url("../fonts/Aeroport-BoldItalic/Aeroport-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport-BoldItalic/Aeroport-BoldItalic.woff") format("woff"), url("../fonts/Aeroport-BoldItalic/Aeroport-BoldItalic.ttf") format("truetype"), url("../fonts/Aeroport-BoldItalic/Aeroport-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "Aeroport-Italic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Aeroport-Italic/Aeroport-Italic.eot");
  src: url("../fonts/Aeroport-Italic/Aeroport-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport-Italic/Aeroport-Italic.woff") format("woff"), url("../fonts/Aeroport-Italic/Aeroport-Italic.ttf") format("truetype"), url("../fonts/Aeroport-Italic/Aeroport-Italic.otf") format("opentype");
}

@font-face {
  font-family: "Aeroport-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Aeroport-Light/Aeroport-Light.eot");
  src: url("../fonts/Aeroport-Light/Aeroport-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport-Light/Aeroport-Light.woff") format("woff"), url("../fonts/Aeroport-Light/Aeroport-Light.ttf") format("truetype"), url("../fonts/Aeroport-Light/Aeroport-Light.otf") format("opentype");
}

@font-face {
  font-family: "Aeroport-LightItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Aeroport-LightItalic/Aeroport-LightItalic.eot");
  src: url("../fonts/Aeroport-LightItalic/Aeroport-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport-LightItalic/Aeroport-LightItalic.woff") format("woff"), url("../fonts/Aeroport-LightItalic/Aeroport-LightItalic.ttf") format("truetype"), url("../fonts/Aeroport-LightItalic/Aeroport-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: "Aeroport-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Aeroport-Medium/Aeroport-Medium.eot");
  src: url("../fonts/Aeroport-Medium/Aeroport-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport-Medium/Aeroport-Medium.woff") format("woff"), url("../fonts/Aeroport-Medium/Aeroport-Medium.ttf") format("truetype"), url("../fonts/Aeroport-Medium/Aeroport-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Aeroport-MediumItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Aeroport-MediumItalic/Aeroport-MediumItalic.eot");
  src: url("../fonts/Aeroport-MediumItalic/Aeroport-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport-MediumItalic/Aeroport-MediumItalic.woff") format("woff"), url("../fonts/Aeroport-MediumItalic/Aeroport-MediumItalic.ttf") format("truetype"), url("../fonts/Aeroport-MediumItalic/Aeroport-MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: "AeroportMono";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AeroportMono/AeroportMono.eot");
  src: url("../fonts/AeroportMono/AeroportMono.eot?#iefix") format("embedded-opentype"), url("../fonts/AeroportMono/AeroportMono.woff") format("woff"), url("../fonts/AeroportMono/AeroportMono.ttf") format("truetype"), url("../fonts/AeroportMono/AeroportMono.otf") format("opentype");
}

@font-face {
  font-family: "HeadingSmallcasePro-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HeadingSmallcasePro-Bold/HeadingSmallcasePro-Bold.eot");
  src: url("../fonts/HeadingSmallcasePro-Bold/HeadingSmallcasePro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HeadingSmallcasePro-Bold/HeadingSmallcasePro-Bold.woff") format("woff"), url("../fonts/HeadingSmallcasePro-Bold/HeadingSmallcasePro-Bold.ttf") format("truetype"), url("../fonts/HeadingSmallcasePro-Bold/HeadingSmallcasePro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "HeadingSmallcasePro-Book";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HeadingSmallcasePro-Book/HeadingSmallcasePro-Book.eot");
  src: url("../fonts/HeadingSmallcasePro-Book/HeadingSmallcasePro-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/HeadingSmallcasePro-Book/HeadingSmallcasePro-Book.woff") format("woff"), url("../fonts/HeadingSmallcasePro-Book/HeadingSmallcasePro-Book.ttf") format("truetype"), url("../fonts/HeadingSmallcasePro-Book/HeadingSmallcasePro-Book.otf") format("opentype");
}

@font-face {
  font-family: "HeadingSmallcasePro-ExtLt";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HeadingSmallcasePro-ExtLt/HeadingSmallcasePro-ExtLt.eot");
  src: url("../fonts/HeadingSmallcasePro-ExtLt/HeadingSmallcasePro-ExtLt.eot?#iefix") format("embedded-opentype"), url("../fonts/HeadingSmallcasePro-ExtLt/HeadingSmallcasePro-ExtLt.woff") format("woff"), url("../fonts/HeadingSmallcasePro-ExtLt/HeadingSmallcasePro-ExtLt.ttf") format("truetype"), url("../fonts/HeadingSmallcasePro-ExtLt/HeadingSmallcasePro-ExtLt.otf") format("opentype");
}

@font-face {
  font-family: "HeadingSmallcasePro-ExtraBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HeadingSmallcasePro-ExtraBold/HeadingSmallcasePro-ExtraBold.eot");
  src: url("../fonts/HeadingSmallcasePro-ExtraBold/HeadingSmallcasePro-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HeadingSmallcasePro-ExtraBold/HeadingSmallcasePro-ExtraBold.woff") format("woff"), url("../fonts/HeadingSmallcasePro-ExtraBold/HeadingSmallcasePro-ExtraBold.ttf") format("truetype"), url("../fonts/HeadingSmallcasePro-ExtraBold/HeadingSmallcasePro-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "HeadingSmallcasePro-Heavy";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HeadingSmallcasePro-Heavy/HeadingSmallcasePro-Heavy.eot");
  src: url("../fonts/HeadingSmallcasePro-Heavy/HeadingSmallcasePro-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/HeadingSmallcasePro-Heavy/HeadingSmallcasePro-Heavy.woff") format("woff"), url("../fonts/HeadingSmallcasePro-Heavy/HeadingSmallcasePro-Heavy.ttf") format("truetype"), url("../fonts/HeadingSmallcasePro-Heavy/HeadingSmallcasePro-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "HeadingSmallcasePro-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HeadingSmallcasePro-Light/HeadingSmallcasePro-Light.eot");
  src: url("../fonts/HeadingSmallcasePro-Light/HeadingSmallcasePro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HeadingSmallcasePro-Light/HeadingSmallcasePro-Light.woff") format("woff"), url("../fonts/HeadingSmallcasePro-Light/HeadingSmallcasePro-Light.ttf") format("truetype"), url("../fonts/HeadingSmallcasePro-Light/HeadingSmallcasePro-Light.otf") format("opentype");
}

@font-face {
  font-family: "HeadingSmallcasePro-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HeadingSmallcasePro-Regular/HeadingSmallcasePro-Regular.eot");
  src: url("../fonts/HeadingSmallcasePro-Regular/HeadingSmallcasePro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/HeadingSmallcasePro-Regular/HeadingSmallcasePro-Regular.woff") format("woff"), url("../fonts/HeadingSmallcasePro-Regular/HeadingSmallcasePro-Regular.ttf") format("truetype"), url("../fonts/HeadingSmallcasePro-Regular/HeadingSmallcasePro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "HeadingSmallcasePro-Thin";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HeadingSmallcasePro-Thin/HeadingSmallcasePro-Thin.eot");
  src: url("../fonts/HeadingSmallcasePro-Thin/HeadingSmallcasePro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/HeadingSmallcasePro-Thin/HeadingSmallcasePro-Thin.woff") format("woff"), url("../fonts/HeadingSmallcasePro-Thin/HeadingSmallcasePro-Thin.ttf") format("truetype"), url("../fonts/HeadingSmallcasePro-Thin/HeadingSmallcasePro-Thin.otf") format("opentype");
}

::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: #ff2e2f;
  color: #fff;
}

::selection {
  background-color: #ff2e2f;
  color: #fff;
}

html, body {
  width: 100%;
  min-width: 320px;
}

.fixed {
  position: fixed;
  width: 100%;
}

body {
  width: 100%;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  line-height: 1.65;
  font-family: "MullerRegular";
  color: #000000;
  background-color: #F8F8F8;
}

body a, body a:active, body a:focus, body a:link, body a:visited {
  outline: none;
  text-decoration: none;
}

body input, body textarea {
  border: #666 1px solid;
  outline: none;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
  border-color: red;
}

body input:required:valid, body textarea:required:valid {
  border-color: green;
}

body input:not([type=checkbox]):not([type=radio]), body textarea, body select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body .red, body a.red {
  color: #ff2e2f;
}

body #menu-pagedim {
  background-color: #000000;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4500;
}

body #menu-pagedim.turned {
  display: block;
}

body #menu-pagedim.turnedOpacity {
  opacity: 0.3;
}

body nav.menu.hidden {
  left: -500px;
}

body nav.menu {
  position: fixed;
  left: 0px;
  top: 0;
  z-index: 5000;
  height: 100%;
  min-width: 500px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding-top: 215px;
  background-color: #303030;
}

body nav.menu ul {
  padding: 0;
  list-style-type: none;
}

body nav.menu ul .separLine {
  background-color: #eeeeee;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

body nav.menu ul li.item {
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 10px;
  padding-bottom: 10px;
}

body nav.menu ul li.item a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  font-family: 'MullerLight';
  font-size: 24px;
}

body nav.menu ul li.item a:hover {
  color: #ff2e2f;
}

body .header-breadcrumbs .breadcrumbs a.home {
  font-family: 'MullerRegular';
  font-size: 15px;
  color: #ff2e2f;
}

body .header-breadcrumbs .breadcrumbs a.active {
  position: relative;
  font-family: 'MullerRegular';
  font-size: 15px;
  color: #262626;
}

body .header-breadcrumbs .breadcrumbs a.active::before {
  position: absolute;
  bottom: 0;
  content: '';
  background-color: #AFAFAF;
  width: 100%;
  height: 2px;
}

body .header-breadcrumbs .breadcrumbs span.slash {
  margin-left: 5px;
  margin-right: 5px;
  color: #777777;
}

body .header-breadcrumbs .breadcrumbs a, body .header-breadcrumbs .breadcrumbs span {
  vertical-align: bottom;
}

body header .menu {
  padding-left: 47.5px;
}

body header .menu .circle {
  position: relative;
  z-index: 5000;
  cursor: pointer;
  background-color: #ff1c1c;
  width: 66px;
  height: 66px;
  outline: none;
}

body header .menu .hamburger {
  outline: none;
}

body header .menu .hamburger .hamburger-box {
  width: 35px;
}

body header .menu .hamburger .hamburger-box .hamburger-inner,
body header .menu .hamburger .hamburger-box .hamburger-inner::after,
body header .menu .hamburger .hamburger-box .hamburger-inner::before {
  background-color: #fff;
  width: 35px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

body header .menu .hamburger:hover, body header .menu .hamburger.is-active:hover {
  opacity: 1;
}

body header .logo .textLogo {
  line-height: 1.2;
  margin-left: 10px;
}

body header .logo .textLogo span {
  color: #fff;
}

body header .logo .textLogo span.name {
  letter-spacing: 3px;
  font-family: 'MullerExtraBold';
  text-transform: uppercase;
  font-size: 26.53px;
}

body header .logo .textLogo span.desc {
  font-family: 'MullerRegular';
  font-size: 15px;
}

body header.container-fluid {
  background-color: #212121;
  padding: 30px 0;
}

body header.container-fluid .adress .circleAdress {
  width: 54px;
  height: 54px;
  background-color: transparent;
  border: 1px solid #616161;
}

body header.container-fluid .adress span.desc {
  font-family: 'MullerRegular';
  font-size: 16px;
  color: #eaeaea;
  line-height: 1.2;
  margin-left: 24px;
}

body header.container-fluid .socials .social {
  cursor: pointer;
  width: 54px;
  height: 54px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

body header.container-fluid .socials .social.Vk {
  background-color: transparent;
  border: 1px solid #616161;
}

body header.container-fluid .socials .social.Fb, body header.container-fluid .socials .social.Inst {
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid #616161;
}

body header.container-fluid .socials .social:hover {
  background-color: #FF2F2F;
  border: 1px solid #FF2F2F;
}

body header.container-fluid .phoneCont {
  padding-right: 54px;
}

body header.container-fluid .phoneCont .circlePhone {
  background-color: #fff;
  width: 54px;
  height: 54px;
  margin-right: 20px;
}

body header.container-fluid .phoneCont .text {
  position: relative;
  top: 2px;
  line-height: 1.2;
}

body header.container-fluid .phoneCont .text span {
  color: #fff;
}

body header.container-fluid .phoneCont .text span.phone {
  line-height: 1.35;
  font-family: 'MullerBold';
  font-size: 22px;
}

body header.container-fluid .phoneCont .text span.desc {
  font-family: 'MullerRegular';
  font-size: 14px;
}

body footer.container-fluid {
  background-color: #fff;
  padding: 78px 0;
}

body footer.container-fluid .logoFooter {
  padding-left: 57.5px;
}

body footer.container-fluid .logoFooter .imgLogo {
  position: relative;
  top: -6px;
}

body footer.container-fluid .logoFooter .textLogo {
  margin-left: 5px;
  line-height: 0.85;
}

body footer.container-fluid .logoFooter .textLogo span {
  color: #000;
}

body footer.container-fluid .logoFooter .textLogo span.name {
  line-height: 1.25;
  text-transform: uppercase;
  font-family: 'MullerExtraBold';
  font-size: 18px;
  letter-spacing: 3px;
}

body footer.container-fluid .logoFooter .textLogo span.desc {
  font-family: 'MullerLight';
  font-size: 12px;
}

body footer.container-fluid .adress {
  padding-left: 60px;
}

body footer.container-fluid .adress .circleAdress {
  width: 54px;
  height: 54px;
  background-color: transparent;
  border: 1px solid #000;
}

body footer.container-fluid .adress span.desc {
  font-family: 'MullerRegular';
  font-size: 16px;
  color: #000;
  line-height: 1.2;
  margin-left: 24px;
}

body footer.container-fluid .socials {
  padding-left: 100px;
}

body footer.container-fluid .socials .social {
  cursor: pointer;
  width: 54px;
  height: 54px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

body footer.container-fluid .socials .social.Vk {
  background-color: transparent;
  border: 1px solid #000;
}

body footer.container-fluid .socials .social.Fb, body footer.container-fluid .socials .social.Inst {
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid #000;
}

body footer.container-fluid .socials .social:hover {
  background-color: #FF2F2F;
  border: 1px solid #FF2F2F;
}

body footer.container-fluid .phoneCont {
  padding-right: 54px;
}

body footer.container-fluid .phoneCont .circlePhone {
  background-color: transparent;
  border: 1px solid #000;
  width: 54px;
  height: 54px;
  margin-right: 20px;
}

body footer.container-fluid .phoneCont .text {
  position: relative;
  top: 2px;
  line-height: 1.2;
}

body footer.container-fluid .phoneCont .text span {
  color: #000;
}

body footer.container-fluid .phoneCont .text span.phone {
  line-height: 1.35;
  font-family: 'MullerBold';
  font-size: 22px;
}

body footer.container-fluid .phoneCont .text span.desc {
  font-family: 'MullerRegular';
  font-size: 14px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-responsive.img-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

b, strong {
  font-weight: bold;
}

@media only screen and (max-height: 830px) {
  body nav.menu {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 1600px) {
  body header.container-fluid .menu {
    padding-left: 24px;
  }
  body header.container-fluid .phoneCont {
    padding-right: 24px;
  }
}

@media only screen and (max-width: 1500px) {
  body footer.container-fluid .adress {
    padding-left: 10px;
  }
  body footer.container-fluid .phoneCont {
    padding-right: 15px;
  }
  body footer.container-fluid .logoFooter {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 1499px) {
  body nav.menu {
    min-width: 450px;
  }
  body nav.menu.hidden {
    left: -450px;
  }
}

@media only screen and (max-width: 1400px) {
  body section.first .numbers .aboutNumbers {
    padding-left: 100px;
  }
}

@media only screen and (max-width: 1300px) {
  body header.container-fluid .menu, body header.container-fluid .logo, body header.container-fluid .adress, body header.container-fluid .socials, body header.container-fluid .phoneCont {
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
  }
  body header.container-fluid .adress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  body header.container-fluid .adress span.desc {
    margin-top: 10px;
    margin-left: 0;
  }
  body header.container-fluid .socials .social {
    width: 48px;
    height: 48px;
  }
  body header.container-fluid .phoneCont {
    padding-right: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  body header.container-fluid .phoneCont .circlePhone {
    margin-right: 0;
    margin-bottom: 10px;
  }
  body header.container-fluid .menu {
    padding-left: 15px;
  }
  body footer.container-fluid .logoFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  body footer.container-fluid .logoFooter .imgLogo {
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  body footer.container-fluid .logoFooter .textLogo {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1199px) {
  body header.container-fluid .menu, body header.container-fluid .logo, body header.container-fluid .adress, body header.container-fluid .socials, body header.container-fluid .phoneCont {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  body header.container-fluid .socials {
    display: none !important;
  }
  body footer.container-fluid .phoneCont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  body footer.container-fluid .phoneCont .circlePhone {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
  }
  body footer.container-fluid .adress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  body footer.container-fluid .adress .circleAdress {
    margin-top: auto;
    margin-bottom: auto;
  }
  body footer.container-fluid .adress span.desc {
    margin-top: 10px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 992px) {
  body footer.container-fluid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer.container-fluid .logoFooter {
    margin-bottom: 10px;
  }
  body footer.container-fluid .logoFooter .imgLogo {
    margin-bottom: 10px;
  }
  body footer.container-fluid .phoneCont .circlePhone {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  body footer.container-fluid .socials {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 991px) {
  body nav.menu {
    min-width: 400px;
  }
  body nav.menu.hidden {
    left: -400px;
  }
  body header.container-fluid .adress {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  body nav.menu {
    min-width: 390px;
  }
  body nav.menu.hidden {
    left: -390px;
  }
  body header.container-fluid .phoneCont {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  body nav.menu {
    padding-top: 125px;
  }
}

@media only screen and (max-width: 500px) {
  body nav.menu {
    width: 100%;
    min-width: 320px;
  }
  body nav.menu ul li.item a {
    font-size: 20px;
  }
  body nav.menu.hidden {
    left: -100%;
  }
}

@media only screen and (max-width: 400px) {
  body header.container-fluid .menu .circle {
    width: 60px;
    height: 60px;
  }
  body header.container-fluid .menu .circle .line {
    width: 26.5px;
  }
  body header.container-fluid .logo .textLogo span.name {
    font-size: 22px;
  }
  body header.container-fluid .logo .textLogo span.desc {
    font-size: 13px;
  }
  body header.container-fluid .logo .imgsLogo svg {
    height: 32px;
    width: auto;
  }
}

@media only screen and (max-width: 340px) {
  body footer.container-fluid .container .adress .circleAdress, body header.container-fluid .container .adress .circleAdress {
    margin-left: 0;
  }
  body footer.container-fluid .container .adress span.desc, body header.container-fluid .container .adress span.desc {
    margin-left: 10px;
  }
}
