main .header-breadcrumbs {
  padding-top: 65px;
}

main .header-breadcrumbs .breadcrumbs a.active {
  color: #777777;
}

main h1 {
  margin-top: 85px;
  margin-bottom: 0;
  font-family: 'MullerExtraBold';
  font-size: 60px;
  color: #000000;
}

main h2 {
  margin-top: 30px;
  padding-bottom: 25px;
  margin-bottom: 0;
  font-family: 'MullerMedium';
  font-size: 30px;
  color: #333333;
}

main .col {
  padding-left: 0;
  padding-right: 0;
}

main p.text {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: 'MullerRegular';
  font-size: 20px;
  color: #000000;
}

main p.text .underlined {
  position: relative;
}

main p.text .underlined::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ff2e2f;
}

main p.text span.thin {
  font-family: 'MullerThin';
  font-weight: bold;
}

main p.text.light {
  font-family: 'MullerLight';
  font-size: 18px;
}

main p.text.sm {
  font-size: 18px;
}

main .infBlock {
  margin-top: 57.5px;
  margin-bottom: 0;
}

main .infBlock .textInf.mob {
  display: none;
}

main .infBlock .textInf p.inf {
  font-family: 'MullerLight';
  font-size: 20px;
  color: #000000;
  margin-bottom: 0;
}

main .infBlock .textInf p.red {
  font-family: 'MullerMedium';
  font-size: 28px;
  margin-bottom: 22.5px;
}

main .infBlock .textInf span.b {
  font-family: 'MullerMedium';
  font-size: 20px;
  color: #000000;
}

main .infBlock .textInf, main .infBlock .schedule {
  vertical-align: top;
  display: inline-block;
}

main .infBlock .schedule {
  margin-left: 95px;
}

main .infBlock .schedule span.head {
  font-family: 'MullerBold';
  font-size: 20px;
  color: #000000;
}

main .infBlock .schedule .list {
  margin-top: 22.5px;
  border-left: 4px solid #ff2e2f;
  font-family: 'MullerLight';
  font-size: 20px;
  color: #000000;
  padding-left: 20px;
  line-height: 7.5px;
}

main .infBlock .schedule .list .item {
  line-height: 1;
}

main .button {
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 80px;
  background-color: #ff2e2f;
  -webkit-border-radius: 35px;
          border-radius: 35px;
  color: #ffffff;
  height: 68px;
  font-family: 'MullerMedium';
  font-size: 20px;
}

@media only screen and (max-width: 991px) {
  body main h1 {
    margin-top: 55px;
    font-size: 50px;
  }
  body main h2 {
    font-size: 25px;
  }
  body main .infBlock .schedule {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 767px) {
  body main h1 {
    margin-top: 30px;
    font-size: 45px;
  }
  body main h2 {
    margin-top: 25px;
  }
  body main .button {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  body main .infBlock {
    margin-top: 30px;
  }
  body main .infBlock .textInf.mob {
    display: block;
  }
  body main .infBlock .textInf .desk {
    display: none;
  }
  body main .infBlock .textInf p.red {
    margin-bottom: 0;
  }
  body main .infBlock .schedule {
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 575px) {
  body main .button {
    width: 215px;
    height: 50px;
    font-size: 16px;
    font-family: 'MullerBold';
  }
}

@media only screen and (max-width: 500px) {
  body main .header-breadcrumbs {
    padding-top: 35px;
    margin-left: -15px;
    margin-right: -15px;
  }
  body main h1 {
    font-size: 30px;
  }
  body main h2 {
    font-size: 18px;
  }
  body main p.text, body main p.text.light, body main p.text.sm {
    font-size: 14px;
    padding-right: 35px;
  }
  body main p.text .underlined, body main p.text span.thin, body main p.text.light .underlined, body main p.text.light span.thin, body main p.text.sm .underlined, body main p.text.sm span.thin {
    height: 18px;
    display: inline-block;
  }
  body main .infBlock {
    padding-bottom: 0;
  }
  body main .infBlock .textInf p.inf {
    font-size: 14px;
    margin-right: -15px;
  }
  body main .infBlock .textInf p.red {
    font-size: 18px;
  }
  body main .infBlock .textInf span.b {
    font-size: 16px;
  }
  body main .infBlock .schedule span.head {
    font-size: 16px;
  }
  body main .infBlock .schedule .list {
    margin-top: 20px;
    font-size: 16px;
  }
  body main .button {
    margin-left: auto;
    margin-right: auto;
  }
}
