@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

@font-face {
  font-family: "MullerRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerRegular/MullerRegular.eot");
  src: url("../fonts/MullerRegular/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerRegular/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular/MullerRegular.ttf") format("truetype");
}

@font-face {
  font-family: "MullerLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerLight/MullerLight.eot");
  src: url("../fonts/MullerLight/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerLight/MullerLight.woff") format("woff"), url("../fonts/MullerLight/MullerLight.ttf") format("truetype");
}

@font-face {
  font-family: "MullerMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerMedium/MullerMedium.eot");
  src: url("../fonts/MullerMedium/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerMedium/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium/MullerMedium.ttf") format("truetype");
}

@font-face {
  font-family: "MullerBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerBold/MullerBold.eot");
  src: url("../fonts/MullerBold/MullerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBold/MullerBold.woff") format("woff"), url("../fonts/MullerBold/MullerBold.ttf") format("truetype");
}

@font-face {
  font-family: "MullerExtraBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerExtraBold/MullerExtraBold.eot");
  src: url("../fonts/MullerExtraBold/MullerExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerExtraBold/MullerExtraBold.woff") format("woff"), url("../fonts/MullerExtraBold/MullerExtraBold.ttf") format("truetype");
}

main section.header .container {
  padding-top: 65px;
}

main section.header .container span.breadcrumbs {
  font-family: 'MullerRegular';
  font-size: 16px;
  color: #969696;
}

main section.header .container span.breadcrumbs span.active {
  position: relative;
  color: #262626;
}

main section.header .container span.breadcrumbs span.active::before {
  position: absolute;
  bottom: 0;
  content: '';
  background-color: #AFAFAF;
  width: 100%;
  height: 2px;
}

main section.header .container .head {
  margin-top: 50px;
}

main section.header .container .head span.head {
  line-height: 1.2;
  font-family: 'MullerExtraBold';
  font-size: 50px;
  color: #262626;
}

main section.header .container .head .line {
  width: 67px;
  height: 3px;
  background-color: #FF2E2E;
  margin-top: 20px;
  margin-bottom: 30px;
}

main section.header .container .head p.text {
  font-family: 'MullerLight';
  font-size: 20px;
  color: #000;
  line-height: 1.3;
}

main section.header .container .buttons {
  margin-top: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.header .container .buttons .button:hover, main section.header .container .buttons .button.active {
  background-color: #ff2e2f;
}

main section.header .container .buttons .button {
  padding-left: 15px;
  padding-right: 15px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  height: 50px;
  background-color: #373737;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

main section.header .container .buttons .button span {
  font-size: 16px;
  color: #fff;
  font-family: "MullerBold";
  font-weight: 600;
  letter-spacing: 0.25px;
}

main section.personInf {
  padding-top: 60px;
  padding-bottom: 25px;
}

main section.personInf .container {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 25px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
}

main section.personInf .container .photo .button {
  background-color: #373737;
  width: 100%;
  height: 55px;
  cursor: pointer;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

main section.personInf .container .photo .button span {
  font-size: 16px;
  color: #fff;
  font-family: "MullerBold";
  font-weight: 600;
  letter-spacing: 0.25px;
}

main section.personInf .container .text {
  width: 100%;
}

main section.personInf .container .text .line.gray {
  background-color: #f9f9f9;
}

main section.personInf .container .text .line {
  padding-left: 100px;
  display: grid;
  grid-template-columns: 40% 60%;
}

main section.personInf .container .text .line .item {
  font-family: "MullerLight";
  font-size: 16px;
  color: #333333;
  margin-top: 14px;
  margin-bottom: 14px;
}

main section.personInf .container .text .line .item .buttonCancel {
  cursor: pointer;
  max-width: 67px;
  height: 22px;
  -webkit-border-radius: 11px;
          border-radius: 11px;
  background-color: #8e8989;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
  font-family: 'MullerMedium';
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

main section.personInf .container .text .line .itemB {
  font-family: "MullerMedium";
}

main section.personInf .container .text .line .itemRed {
  color: #ff2e2f;
}

main section.personInf .container .iconQr {
  padding-top: 25px;
  margin-left: -15px;
}

main section.promo .hidden .list .topLine, main section.promo .hidden .list .line {
  display: grid;
  grid-template-columns: 79% 21%;
}

main section.promo .hidden .list span.text, main section.promo .hidden .list span.b, main section.promo .hidden .list .badge {
  vertical-align: middle;
}

main section.promo .hidden .list .badge {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-bottom: 5.5px;
  background-image: url("../img/profile/badge.png");
  -webkit-background-size: cover;
          background-size: cover;
}

main section.promo .hidden .list .tooltip {
  line-height: 1.4;
  width: 200px;
}

main section.promo .hidden .list .tooltip .name {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

main section.promo .hidden .list .tooltip ol {
  text-align: left;
}

main section.promo .hidden .list .tooltip ol li {
  font-size: 12px;
}

main section.socials .hidden img.social {
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  margin-right: 5px;
}

main section.socials .hidden p.desc {
  line-height: 1.3;
  margin-bottom: 0;
}

main section.socials .hidden .list {
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 5px;
}

main section.socials .hidden .list .topLine, main section.socials .hidden .list .line {
  display: grid;
  grid-template-columns: 69% 31%;
}

main section.appForm .hidden .button:hover {
  background-color: #ff2e2f;
}

main section.appForm .hidden .button {
  margin-top: 50px;
  margin-left: 15px;
  width: 195px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  height: 50px;
  background-color: #373737;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

main section.appForm .hidden .button span {
  font-size: 16px;
  color: #fff;
  font-family: "MullerBold";
  font-weight: 600;
  letter-spacing: 0.25px;
}

main section.appForm .hidden .list {
  padding-bottom: 5px;
}

main section.appForm .hidden .list .topLine, main section.appForm .hidden .list .line {
  display: grid;
  grid-template-columns: 92% 8%;
}

main section.orders .hidden .button:hover, main section.orders .hidden .button.active, main section.appointDiet .hidden .button:hover, main section.appointDiet .hidden .button.active, main section.sTicketInf .hidden .button:hover, main section.sTicketInf .hidden .button.active {
  background-color: #ff2e2f;
}

main section.orders .hidden .button, main section.appointDiet .hidden .button, main section.sTicketInf .hidden .button {
  margin-top: 35px;
  margin-right: 15px;
  width: 195px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  height: 50px;
  background-color: #373737;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

main section.orders .hidden .button span, main section.appointDiet .hidden .button span, main section.sTicketInf .hidden .button span {
  font-size: 16px;
  color: #fff;
  font-family: "MullerBold";
  font-weight: 600;
  letter-spacing: 0.25px;
}

main section.sTicketInf .list .line .buttonPay, main section.orders .list .line .buttonPay, main section.appointDiet .list .line .buttonPay {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-border-radius: 11px;
          border-radius: 11px;
  background-color: #3B3B3B;
  color: #ffffff;
  font-size: 10px;
  font-family: 'MullerMedium';
  height: 20px;
  max-width: 75px;
  padding-left: 10px;
  padding-right: 10px;
}

main section.sTicketInf .list .line .buttonPay span, main section.orders .list .line .buttonPay span, main section.appointDiet .list .line .buttonPay span {
  height: 15px;
}

main section.sTicketInf .list .line .buttonPay:hover, main section.orders .list .line .buttonPay:hover, main section.appointDiet .list .line .buttonPay:hover {
  background-color: #ff2e2f;
}

main section.orders .list {
  padding-bottom: 5px;
}

main section.orders .list .topLine, main section.orders .list .line {
  display: grid;
  grid-template-columns: 21% 38% 25% 16%;
}

main section.sTicketInf .sTicket .list .topLine, main section.sTicketInf .sTicket .list .line {
  display: grid;
  grid-template-columns: 21% 25% 18% 20% 16%;
}

main section.sTicketInf .schedule {
  margin-top: 35px;
}

main section.sTicketInf .schedule .list .topLine, main section.sTicketInf .schedule .list .line {
  display: grid;
  grid-template-columns: 38% 12% 22% 28%;
}

main section.sTicketInf .schedule .list .topLine span, main section.sTicketInf .schedule .list .line span {
  font-size: 14px;
}

main section.sTicketInf .schedule .list .topLine span.b, main section.sTicketInf .schedule .list .line span.b {
  font-size: 16px;
}

main section.appointDiet .hidden .list .topLine, main section.appointDiet .hidden .list .line {
  display: grid;
  grid-template-columns: 46% 17% 20% 17%;
}

main section.progressInf .stats .hidden .list .topLine, main section.progressInf .stats .hidden .list .line {
  display: grid;
  grid-template-columns: 24% 9% 11% 10% 11% 11% 24%;
}

main section.progressInf .stats .hidden .list .topLine span.gr, main section.progressInf .stats .hidden .list .line span.gr {
  color: #3b3b3b;
}

main section.progressInf .stats .hidden .list .topLine span.small, main section.progressInf .stats .hidden .list .line span.small {
  font-size: 14px;
}

main section.progressInf .stats .hidden .list .topLine span.time, main section.progressInf .stats .hidden .list .line span.time {
  margin-left: 10px;
}

main section.progressInf .stats .hidden .list .topLine img, main section.progressInf .stats .hidden .list .line img {
  margin-left: 47.5px;
  margin-top: -13px;
  margin-bottom: -13px;
}

main section.progressInf .stats .hidden .list .topLine .circle-progress, main section.progressInf .stats .hidden .list .line .circle-progress {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #2FA318;
  width: 26px;
  height: 22px;
  color: #ffffff;
  font-family: 'MullerBold';
  font-size: 12px;
  margin-left: 7.5px;
}

main section.progressInf .collages .item {
  margin-right: 30px;
}

main section.progressInf .collages .item .borderOuter {
  border: 1px solid #ddd8d8;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 7.5px;
}

main section.progressInf .collages .item span.name {
  font-family: 'MullerMedium';
  font-size: 12px;
  margin-left: 15px;
  margin-top: 10px;
  color: #333333;
}

main section.appForm, main section.promo, main section.socials, main section.orders, main section.sTicketInf, main section.schedule, main section.appointDiet, main section.progressInf {
  padding-left: 0;
}

main section.appForm .head, main section.promo .head, main section.socials .head, main section.orders .head, main section.sTicketInf .head, main section.schedule .head, main section.appointDiet .head, main section.progressInf .head {
  padding-left: 80px;
}

main section.appForm .container.contentBlock, main section.promo .container.contentBlock, main section.socials .container.contentBlock, main section.orders .container.contentBlock, main section.sTicketInf .container.contentBlock, main section.schedule .container.contentBlock, main section.appointDiet .container.contentBlock, main section.progressInf .container.contentBlock {
  padding-left: 50px;
  padding-bottom: 40px;
  padding-top: 25px;
  background-color: #fff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  margin-top: 25px;
  margin-bottom: 35px;
}

main section.appForm .container.contentBlock .head, main section.promo .container.contentBlock .head, main section.socials .container.contentBlock .head, main section.orders .container.contentBlock .head, main section.sTicketInf .container.contentBlock .head, main section.schedule .container.contentBlock .head, main section.appointDiet .container.contentBlock .head, main section.progressInf .container.contentBlock .head {
  display: grid;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  margin-bottom: 5px;
}

main section.appForm .container.contentBlock .head span.name, main section.promo .container.contentBlock .head span.name, main section.socials .container.contentBlock .head span.name, main section.orders .container.contentBlock .head span.name, main section.sTicketInf .container.contentBlock .head span.name, main section.schedule .container.contentBlock .head span.name, main section.appointDiet .container.contentBlock .head span.name, main section.progressInf .container.contentBlock .head span.name {
  font-family: 'MullerExtraBold';
  font-size: 30px;
  color: #333;
}

main section.appForm .container.contentBlock .head .line, main section.promo .container.contentBlock .head .line, main section.socials .container.contentBlock .head .line, main section.orders .container.contentBlock .head .line, main section.sTicketInf .container.contentBlock .head .line, main section.schedule .container.contentBlock .head .line, main section.appointDiet .container.contentBlock .head .line, main section.progressInf .container.contentBlock .head .line {
  background-color: black;
  opacity: 0.102;
  height: 1px;
  margin-left: 30px;
  margin-right: 10px;
}

main section.appForm .container.contentBlock .head .profile-buttonClose, main section.promo .container.contentBlock .head .profile-buttonClose, main section.socials .container.contentBlock .head .profile-buttonClose, main section.orders .container.contentBlock .head .profile-buttonClose, main section.sTicketInf .container.contentBlock .head .profile-buttonClose, main section.schedule .container.contentBlock .head .profile-buttonClose, main section.appointDiet .container.contentBlock .head .profile-buttonClose, main section.progressInf .container.contentBlock .head .profile-buttonClose {
  background-color: #ff2e2f;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

main section.appForm .container.contentBlock .head .profile-buttonClose img, main section.promo .container.contentBlock .head .profile-buttonClose img, main section.socials .container.contentBlock .head .profile-buttonClose img, main section.orders .container.contentBlock .head .profile-buttonClose img, main section.sTicketInf .container.contentBlock .head .profile-buttonClose img, main section.schedule .container.contentBlock .head .profile-buttonClose img, main section.appointDiet .container.contentBlock .head .profile-buttonClose img, main section.progressInf .container.contentBlock .head .profile-buttonClose img {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

main section.appForm .container.contentBlock .head .profile-buttonClose:hover, main section.promo .container.contentBlock .head .profile-buttonClose:hover, main section.socials .container.contentBlock .head .profile-buttonClose:hover, main section.orders .container.contentBlock .head .profile-buttonClose:hover, main section.sTicketInf .container.contentBlock .head .profile-buttonClose:hover, main section.schedule .container.contentBlock .head .profile-buttonClose:hover, main section.appointDiet .container.contentBlock .head .profile-buttonClose:hover, main section.progressInf .container.contentBlock .head .profile-buttonClose:hover {
  background-color: #fa8384;
}

main section.appForm .container.contentBlock .head .profile-buttonOpen, main section.promo .container.contentBlock .head .profile-buttonOpen, main section.socials .container.contentBlock .head .profile-buttonOpen, main section.orders .container.contentBlock .head .profile-buttonOpen, main section.sTicketInf .container.contentBlock .head .profile-buttonOpen, main section.schedule .container.contentBlock .head .profile-buttonOpen, main section.appointDiet .container.contentBlock .head .profile-buttonOpen, main section.progressInf .container.contentBlock .head .profile-buttonOpen {
  background-color: #3b3b3b;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  display: none;
}

main section.appForm .container.contentBlock .head .profile-buttonOpen img, main section.promo .container.contentBlock .head .profile-buttonOpen img, main section.socials .container.contentBlock .head .profile-buttonOpen img, main section.orders .container.contentBlock .head .profile-buttonOpen img, main section.sTicketInf .container.contentBlock .head .profile-buttonOpen img, main section.schedule .container.contentBlock .head .profile-buttonOpen img, main section.appointDiet .container.contentBlock .head .profile-buttonOpen img, main section.progressInf .container.contentBlock .head .profile-buttonOpen img {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

main section.appForm .container.contentBlock .head .profile-buttonOpen:hover, main section.promo .container.contentBlock .head .profile-buttonOpen:hover, main section.socials .container.contentBlock .head .profile-buttonOpen:hover, main section.orders .container.contentBlock .head .profile-buttonOpen:hover, main section.sTicketInf .container.contentBlock .head .profile-buttonOpen:hover, main section.schedule .container.contentBlock .head .profile-buttonOpen:hover, main section.appointDiet .container.contentBlock .head .profile-buttonOpen:hover, main section.progressInf .container.contentBlock .head .profile-buttonOpen:hover {
  background-color: #9b9797;
}

main section.appForm .container.contentBlock .head .profile-buttonClose, main section.appForm .container.contentBlock .head .profile-buttonOpen, main section.promo .container.contentBlock .head .profile-buttonClose, main section.promo .container.contentBlock .head .profile-buttonOpen, main section.socials .container.contentBlock .head .profile-buttonClose, main section.socials .container.contentBlock .head .profile-buttonOpen, main section.orders .container.contentBlock .head .profile-buttonClose, main section.orders .container.contentBlock .head .profile-buttonOpen, main section.sTicketInf .container.contentBlock .head .profile-buttonClose, main section.sTicketInf .container.contentBlock .head .profile-buttonOpen, main section.schedule .container.contentBlock .head .profile-buttonClose, main section.schedule .container.contentBlock .head .profile-buttonOpen, main section.appointDiet .container.contentBlock .head .profile-buttonClose, main section.appointDiet .container.contentBlock .head .profile-buttonOpen, main section.progressInf .container.contentBlock .head .profile-buttonClose, main section.progressInf .container.contentBlock .head .profile-buttonOpen {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-left: 15px;
}

main section.appForm .container.contentBlock p.desc, main section.promo .container.contentBlock p.desc, main section.socials .container.contentBlock p.desc, main section.orders .container.contentBlock p.desc, main section.sTicketInf .container.contentBlock p.desc, main section.schedule .container.contentBlock p.desc, main section.appointDiet .container.contentBlock p.desc, main section.progressInf .container.contentBlock p.desc {
  color: #333;
  font-size: 16px;
  font-family: 'MullerLight';
  margin-top: 25px;
  margin-bottom: 0;
  letter-spacing: 0.25px;
}

main section.appForm .hidden, main section.appForm .content, main section.promo .hidden, main section.promo .content, main section.socials .hidden, main section.socials .content, main section.orders .hidden, main section.orders .content, main section.sTicketInf .hidden, main section.sTicketInf .content, main section.schedule .hidden, main section.schedule .content, main section.appointDiet .hidden, main section.appointDiet .content, main section.progressInf .hidden, main section.progressInf .content {
  padding-left: 30px;
  padding-right: 50px;
}

main section.appForm .hidden .list, main section.appForm .content .list, main section.promo .hidden .list, main section.promo .content .list, main section.socials .hidden .list, main section.socials .content .list, main section.orders .hidden .list, main section.orders .content .list, main section.sTicketInf .hidden .list, main section.sTicketInf .content .list, main section.schedule .hidden .list, main section.schedule .content .list, main section.appointDiet .hidden .list, main section.appointDiet .content .list, main section.progressInf .hidden .list, main section.progressInf .content .list {
  padding-top: 35px;
}

main section.appForm .hidden .list .topLine, main section.appForm .content .list .topLine, main section.promo .hidden .list .topLine, main section.promo .content .list .topLine, main section.socials .hidden .list .topLine, main section.socials .content .list .topLine, main section.orders .hidden .list .topLine, main section.orders .content .list .topLine, main section.sTicketInf .hidden .list .topLine, main section.sTicketInf .content .list .topLine, main section.schedule .hidden .list .topLine, main section.schedule .content .list .topLine, main section.appointDiet .hidden .list .topLine, main section.appointDiet .content .list .topLine, main section.progressInf .hidden .list .topLine, main section.progressInf .content .list .topLine {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #3b3b3b;
  width: 100%;
  -webkit-border-top-left-radius: 15px;
          border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
          border-top-right-radius: 15px;
}

main section.appForm .hidden .list .topLine span, main section.appForm .content .list .topLine span, main section.promo .hidden .list .topLine span, main section.promo .content .list .topLine span, main section.socials .hidden .list .topLine span, main section.socials .content .list .topLine span, main section.orders .hidden .list .topLine span, main section.orders .content .list .topLine span, main section.sTicketInf .hidden .list .topLine span, main section.sTicketInf .content .list .topLine span, main section.schedule .hidden .list .topLine span, main section.schedule .content .list .topLine span, main section.appointDiet .hidden .list .topLine span, main section.appointDiet .content .list .topLine span, main section.progressInf .hidden .list .topLine span, main section.progressInf .content .list .topLine span {
  text-transform: uppercase;
  color: #fff;
  font-family: 'MullerBold';
  font-size: 13px;
  letter-spacing: 2px;
}

main section.appForm .hidden .list .line, main section.appForm .content .list .line, main section.promo .hidden .list .line, main section.promo .content .list .line, main section.socials .hidden .list .line, main section.socials .content .list .line, main section.orders .hidden .list .line, main section.orders .content .list .line, main section.sTicketInf .hidden .list .line, main section.sTicketInf .content .list .line, main section.schedule .hidden .list .line, main section.schedule .content .list .line, main section.appointDiet .hidden .list .line, main section.appointDiet .content .list .line, main section.progressInf .hidden .list .line, main section.progressInf .content .list .line {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  background-color: #fff;
}

main section.appForm .hidden .list .line.gray, main section.appForm .content .list .line.gray, main section.promo .hidden .list .line.gray, main section.promo .content .list .line.gray, main section.socials .hidden .list .line.gray, main section.socials .content .list .line.gray, main section.orders .hidden .list .line.gray, main section.orders .content .list .line.gray, main section.sTicketInf .hidden .list .line.gray, main section.sTicketInf .content .list .line.gray, main section.schedule .hidden .list .line.gray, main section.schedule .content .list .line.gray, main section.appointDiet .hidden .list .line.gray, main section.appointDiet .content .list .line.gray, main section.progressInf .hidden .list .line.gray, main section.progressInf .content .list .line.gray {
  background-color: #F5F5F5;
}

main section.appForm span.b, main section.promo span.b, main section.socials span.b, main section.orders span.b, main section.sTicketInf span.b, main section.schedule span.b, main section.appointDiet span.b, main section.progressInf span.b {
  font-family: 'MullerMedium';
  font-size: 16px;
  color: #323232;
}

main section.appForm span.bb, main section.promo span.bb, main section.socials span.bb, main section.orders span.bb, main section.sTicketInf span.bb, main section.schedule span.bb, main section.appointDiet span.bb, main section.progressInf span.bb {
  font-family: 'MullerBold';
  font-size: 16px;
  color: #323232;
}

main section.appForm span.gr, main section.promo span.gr, main section.socials span.gr, main section.orders span.gr, main section.sTicketInf span.gr, main section.schedule span.gr, main section.appointDiet span.gr, main section.progressInf span.gr {
  font-size: 16px;
  font-family: 'MullerRegular';
  color: #575757;
  margin-right: 25px;
}

main section.appForm span.lite, main section.promo span.lite, main section.socials span.lite, main section.orders span.lite, main section.sTicketInf span.lite, main section.schedule span.lite, main section.appointDiet span.lite, main section.progressInf span.lite {
  font-family: 'MullerLight';
  color: #3b3b3b;
  font-size: 16px;
}

main section.appForm span.m, main section.promo span.m, main section.socials span.m, main section.orders span.m, main section.sTicketInf span.m, main section.schedule span.m, main section.appointDiet span.m, main section.progressInf span.m {
  font-family: 'MullerMedium';
  color: #3b3b3b;
}

main section.appForm span.red, main section.promo span.red, main section.socials span.red, main section.orders span.red, main section.sTicketInf span.red, main section.schedule span.red, main section.appointDiet span.red, main section.progressInf span.red {
  color: #ff2e2f;
  font-family: 'MullerRegular';
  font-weight: bold;
}

main section.appForm .collages, main section.promo .collages, main section.socials .collages, main section.orders .collages, main section.sTicketInf .collages, main section.schedule .collages, main section.appointDiet .collages, main section.progressInf .collages {
  margin-top: 35px;
}

@media only screen and (max-width: 1200px) {
  body main section.header .container .buttons .button span {
    font-size: 13px;
    text-align: center;
  }
  body main section.personInf .photo .button {
    padding-left: 15px;
  }
  body main section.personInf .photo .button span {
    font-size: 12px;
    text-align: center;
  }
}

@media only screen and (max-width: 1199px) {
  body main section.progressInf .hidden .list .topLine span {
    font-size: 12px;
  }
}

@media only screen and (max-width: 991px) {
  body main section.header .container .buttons {
    grid-template-columns: repeat(3, 1fr);
  }
  body main section.personInf .photo .button, body main section.personInf .photo img.imgPerson {
    margin-left: auto;
    margin-right: auto;
  }
  body main section.personInf .photo .button {
    width: 225px;
  }
  body main section.promo, body main section.socials, body main section.appForm, body main section.orders, body main section.sTicketInf, body main section.schedule, body main section.appointDiet, body main section.progressInf {
    padding-left: 0;
  }
  body main section.promo .head, body main section.socials .head, body main section.appForm .head, body main section.orders .head, body main section.sTicketInf .head, body main section.schedule .head, body main section.appointDiet .head, body main section.progressInf .head {
    padding-left: 30px;
  }
  body main section.promo .hidden, body main section.promo .content, body main section.socials .hidden, body main section.socials .content, body main section.appForm .hidden, body main section.appForm .content, body main section.orders .hidden, body main section.orders .content, body main section.sTicketInf .hidden, body main section.sTicketInf .content, body main section.schedule .hidden, body main section.schedule .content, body main section.appointDiet .hidden, body main section.appointDiet .content, body main section.progressInf .hidden, body main section.progressInf .content {
    padding-left: 0px;
    padding-right: 0px;
  }
  body main section.promo .hidden .list .topLine, body main section.promo .content .list .topLine, body main section.socials .hidden .list .topLine, body main section.socials .content .list .topLine, body main section.appForm .hidden .list .topLine, body main section.appForm .content .list .topLine, body main section.orders .hidden .list .topLine, body main section.orders .content .list .topLine, body main section.sTicketInf .hidden .list .topLine, body main section.sTicketInf .content .list .topLine, body main section.schedule .hidden .list .topLine, body main section.schedule .content .list .topLine, body main section.appointDiet .hidden .list .topLine, body main section.appointDiet .content .list .topLine, body main section.progressInf .hidden .list .topLine, body main section.progressInf .content .list .topLine {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  body main section.promo .hidden .list .topLine span, body main section.promo .content .list .topLine span, body main section.socials .hidden .list .topLine span, body main section.socials .content .list .topLine span, body main section.appForm .hidden .list .topLine span, body main section.appForm .content .list .topLine span, body main section.orders .hidden .list .topLine span, body main section.orders .content .list .topLine span, body main section.sTicketInf .hidden .list .topLine span, body main section.sTicketInf .content .list .topLine span, body main section.schedule .hidden .list .topLine span, body main section.schedule .content .list .topLine span, body main section.appointDiet .hidden .list .topLine span, body main section.appointDiet .content .list .topLine span, body main section.progressInf .hidden .list .topLine span, body main section.progressInf .content .list .topLine span {
    font-size: 12.5px;
  }
  body main section.promo span.b, body main section.socials span.b, body main section.appForm span.b, body main section.orders span.b, body main section.sTicketInf span.b, body main section.schedule span.b, body main section.appointDiet span.b, body main section.progressInf span.b {
    font-family: 'MullerMedium';
    font-size: 12.5px;
    color: #323232;
  }
  body main section.promo span.gr, body main section.socials span.gr, body main section.appForm span.gr, body main section.orders span.gr, body main section.sTicketInf span.gr, body main section.schedule span.gr, body main section.appointDiet span.gr, body main section.progressInf span.gr {
    font-size: 12.5px;
    font-family: 'MullerRegular';
    color: #575757;
    margin-right: 25px;
  }
  body main section.promo span.lite, body main section.socials span.lite, body main section.appForm span.lite, body main section.orders span.lite, body main section.sTicketInf span.lite, body main section.schedule span.lite, body main section.appointDiet span.lite, body main section.progressInf span.lite {
    font-family: 'MullerLight';
    color: #3b3b3b;
    font-size: 12.5px;
  }
  body main section.progressInf .hidden .topLine .container span {
    font-size: 10px;
  }
}

@media only screen and (max-width: 767px) {
  body main section.header .container .buttons {
    grid-template-columns: repeat(2, 1fr);
  }
  body main section.promo .head, body main section.socials .head, body main section.appForm .head, body main section.orders .head, body main section.sTicketInf .head, body main section.schedule .head, body main section.appointDiet .head, body main section.progressInf .head {
    padding-left: 0px;
  }
  body main section.promo .head .profile-buttonOpen, body main section.promo .head .profile-buttonClose, body main section.socials .head .profile-buttonOpen, body main section.socials .head .profile-buttonClose, body main section.appForm .head .profile-buttonOpen, body main section.appForm .head .profile-buttonClose, body main section.orders .head .profile-buttonOpen, body main section.orders .head .profile-buttonClose, body main section.sTicketInf .head .profile-buttonOpen, body main section.sTicketInf .head .profile-buttonClose, body main section.schedule .head .profile-buttonOpen, body main section.schedule .head .profile-buttonClose, body main section.appointDiet .head .profile-buttonOpen, body main section.appointDiet .head .profile-buttonClose, body main section.progressInf .head .profile-buttonOpen, body main section.progressInf .head .profile-buttonClose {
    width: 40px;
    height: 40px;
  }
  body main section.promo .hidden .list .topLine .container span, body main section.promo .content .list .topLine .container span, body main section.socials .hidden .list .topLine .container span, body main section.socials .content .list .topLine .container span, body main section.appForm .hidden .list .topLine .container span, body main section.appForm .content .list .topLine .container span, body main section.orders .hidden .list .topLine .container span, body main section.orders .content .list .topLine .container span, body main section.sTicketInf .hidden .list .topLine .container span, body main section.sTicketInf .content .list .topLine .container span, body main section.schedule .hidden .list .topLine .container span, body main section.schedule .content .list .topLine .container span, body main section.appointDiet .hidden .list .topLine .container span, body main section.appointDiet .content .list .topLine .container span, body main section.progressInf .hidden .list .topLine .container span, body main section.progressInf .content .list .topLine .container span {
    font-size: 10px;
  }
  body main section.promo span.b, body main section.socials span.b, body main section.appForm span.b, body main section.orders span.b, body main section.sTicketInf span.b, body main section.schedule span.b, body main section.appointDiet span.b, body main section.progressInf span.b {
    font-family: 'MullerMedium';
    font-size: 10px;
    color: #323232;
  }
  body main section.promo span.gr, body main section.socials span.gr, body main section.appForm span.gr, body main section.orders span.gr, body main section.sTicketInf span.gr, body main section.schedule span.gr, body main section.appointDiet span.gr, body main section.progressInf span.gr {
    font-size: 10px;
    font-family: 'MullerRegular';
    color: #575757;
    margin-right: 25px;
  }
  body main section.promo span.lite, body main section.socials span.lite, body main section.appForm span.lite, body main section.orders span.lite, body main section.sTicketInf span.lite, body main section.schedule span.lite, body main section.appointDiet span.lite, body main section.progressInf span.lite {
    font-family: 'MullerLight';
    color: #3b3b3b;
    font-size: 10px;
  }
  body main section.progressInf .hidden .topLine .container span {
    font-size: 8px;
  }
  body main section.progressInf .hidden .topLine .container .col {
    width: auto;
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
}

@media only screen and (max-width: 500px) {
  body main section.socials .hidden .socialIcons {
    padding-left: 0;
  }
  body main section.promo .head span.name, body main section.socials .head span.name, body main section.appForm .head span.name, body main section.orders .head span.name, body main section.sTicketInf .head span.name, body main section.schedule .head span.name, body main section.appointDiet .head span.name, body main section.progressInf .head span.name {
    line-height: 1.2;
  }
  body main section.promo .hidden .topLine .container span, body main section.promo .content .topLine .container span, body main section.socials .hidden .topLine .container span, body main section.socials .content .topLine .container span, body main section.appForm .hidden .topLine .container span, body main section.appForm .content .topLine .container span, body main section.orders .hidden .topLine .container span, body main section.orders .content .topLine .container span, body main section.sTicketInf .hidden .topLine .container span, body main section.sTicketInf .content .topLine .container span, body main section.schedule .hidden .topLine .container span, body main section.schedule .content .topLine .container span, body main section.appointDiet .hidden .topLine .container span, body main section.appointDiet .content .topLine .container span, body main section.progressInf .hidden .topLine .container span, body main section.progressInf .content .topLine .container span {
    line-height: 1.2;
  }
  body main section.schedule .content .topLine .container .col {
    width: auto;
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
}
