extends _layouts/home

block styles
	
	link(rel="stylesheet", href="css/additional.css")
	link(rel="stylesheet", href="css/contacts.css")

block content
	.popup
		.popup#popup1
			p Чтобы добиться спортивной формы и красивой фигуры, о которой мечтает каждая женщина, необходимо включать в работу все группы мышц.
			p|Именно поэтому, нами был создан фитнес класс LadyFit для женщин.
				br
				|На котором за 55 минут мы проработаем все группы мышц, плечи, руки, живот, ягодицы и ноги.
				br
				|Тренировка направлена на создание тонуса, рельефа и сжигание жира, с использованием гантелей, различных эспандеров, утяжелителей.
			p|Программа LadyFit помогает всегда быть в тонусе, подойдёт для поддержания результата после нашего основного курса на снижение веса, рельефа тонуса #BodyEvolution, а также для тех, кто может выделить не более 2 часов в неделю для спорта, так как мы будем задействовать все группы мышщ.
				br
				|Подойдёт для любого уровня подготовки.
			p Попробуйте - и ваше тело скажет вам спасибо!
		.popup#popup2
			p Это уникальная функциональная тренировка с использованием обычных полотенец. Первая часть занятия направлена на работу мышц верхнего отдела: плечи, руки, спина Во-второй части, упражнения выполняются скользя на полотенцах, где прорабатываются глубокие мышц стабилизаторов. Это мышцы, так называемого кора, ягодичные и некоторые мышцы бедра. А именно: прямые и косые мышцы живота поперечная мышца живота малые и средние ягодичные мышцы мышцы задней поверхности бедра и приводящие бедро подостная мышца (именно она работает, когда мы расправляем плечи) В результате вы сможете: - проработать все проблемные зоны - выполнение упражнений проходят в среднем и высоком темпе, что способствует повышению выносливости. - снижение веса и коррекция фигуры - сжигание жира - привести в тонус мышцы пресса, спины, ягодиц и рук. Достоинством этой программы является практически полное отсутствие противопоказаний, ни варикоз, ни проблемы с суставами или позвоночником не будут препятствием. Это программа уникальна не только своей эффективностью, но и прикладным назначением. Вы всегда можете тренироваться в отпуске, на отдыхе и дома, имея под рукой полотенце. На этот класс необходимо принести 2 маленьких обычных полотенца.
		.popup#popup3
			p Это силовая тренировка была создана для проблемных зон, «волнующих» женщин, таких как:
			ul
				li ягодицы
				li ноги (внутренние, внешние, передние и задние поверхности бёдер
				li мышцы живота
			p|Если вы хотите, чтобы ваши ягодицы были круглые, ноги приобрели тонус и ваш живот стал плоским и красивым, вам нужно выбирать этот фитнес класс.
				br
				|Этот класс подойдёт для любого уровня подготовки.
			p Попробуйте - и ваши ягодицы скажут вам спасибо!
		.popup#popup4
			p TRX Rip Trainer - это многофункциональный тренажёр для развития всего тела.
			p|Помимо подготовки тела к функциональным нагрузкам, вы сбросите вес и подкачаете мышцы.
				br
				|Нам предстоит поработать над скоростными и силовыми характеристиками, балансом и развитием мышц.
			p|TRX Rip Trainer, помогает и молодым мамам вновь прийти в форму, восстановить силу мышц кора и улучшить координацию, так как создаёт асимметричную амортизационную нагрузку, включая в работу мышцы брюшного пресса при выполнении каждого движения, поэтому кому нужен плоский и красивый живот вам точно на этот урок.
				br
				|Тренажёр также широко применяется для реабилитации после травм.
			p Кроме того, меняется весовая нагрузка, что требует постоянных усилий для сохранения баланса, позволяет выполнять тренировку всего тела вне зависимости от уровня физической подготовки.
			p|Тренажёр также позволяет выполнять вращательные движения.
				br
				|Это крайне важно, ведь большинство действий, выполняемых в спорте и повседневной жизни, производится в той или иной степени по спиралевидной траектории.
			p Подготовьтесь к непростой, необычной и самое главное – по-настоящему полезной и увлекательной тренировке.
		.popup#popup5
			p Этот крутой фитнес класс был разработан V-Concept, специально для женщин.
			p|В этот класс входят силовые и кардио блоки, с элементами классического бокса-это работа руками в перчатках.
				br
				|Одна из самых эффективных тренировок для снижения веса.
			p|На этом классе будут включаться в работу все группы мышц, а это значит, что тело будет подтянутым и рельефным.
				br
				|Например, тренировка продолжительностью полчаса поможет избавиться в среднем от 400-500 калорий. Такое же количество сгорает за час бега при средней скорости. Делайте выводы.
			p|Крут этот класс ещё и потому, что это прекрасный способ дать волю эмоциям и разрядиться.
				br
				|Вот увидите, это реально помогает и расслабляет.
				br
				|Если вы из тех, кажется вам скучной?
				br
				|Запишитесь на ФитБокс!
				br
				|Это море эмоций, удовольствие и просто мега-крутой фитнес класс!
				br
				|Вас ждут настоящие боксёрские перчатки и груши!
	include _partials/header.pug
	main
		section.list
			.container
				span.breadcrumbs Главная / <span class="active">Дополнительные занятия</span>
				.head
					.row
						.col-12.col-lg-5
							span.head Дополнительные <br/><span class="red">уроки</span>
						.col-12.col-lg-7
							.line
							p.text это интенсивные программы по коррекции и снижению веса, <br/>развитию пластики и гибкости, обучение элементам дефиле, <br/>актерского мастерства и латины.
				.item.row.item1
					.foto-mobile
						img.red(src="img/additional/list-item-mobile_1red.jpg", alt="list-item-mobile_1red")
						img(src="img/additional/list-item-mobile_1.jpg", alt="list-item-mobile_1")
					.col-12.col-lg-7.c7
						.name.d-flex.align-items-center
							span LadyFit 
							.line
							span.red от 750 руб.
						.desc Чтобы добиться спортивной формы и красивой фигуры, о которой мечтает каждая женщина, необходимо включать в работу все группы мышц. <div class="red" id="btnp1">Подробнее</div>
						.separ
						.list.d-flex
							span.name Что <br/>тренируем?
							.flexCol
								.elem ягодицы
								.elem пресс
								.elem ноги
							.flexCol
								.elem внешняя, внутренняя, <br/>задняя поверхности бёдер
								.elem плечи и руки
								.elem грудь и спина.
						.separ
						.list.d-flex
							span.name Время <br/>тренировки
							.flexCol
								.elem 60 минут
						.buttons.d-flex
							.button1.rounded-pill.d-flex.align-items-center.justify-content-center
								span Записаться
							.button2.rounded-pill.d-flex.align-items-center.justify-content-center
								span Описание тренировки
					.c5
						img.foto(src="img/additional/list-item1.jpg", alt="list-item1.jpg")
						img.fotof(src="img/additional/list-item1red.png", alt="list-item1red")
					img.number(src="img/additional/number01.png", alt="number01.png")
				.item.row.item2
					.foto-mobile
						img.red(src="img/additional/list-item-mobile_2red.jpg", alt="list-item-mobile_2red")
						img(src="img/additional/list-item-mobile_2.jpg", alt="list-item-mobile_2")
					.col-12.col-lg-7.c7
						.name.d-flex.align-items-center
							span Towel Workout
							.line
							span.red от 750 руб.
						.desc Это уникальная функциональная тренировка с использованием обычных полотенец. Первая часть занятия направлена на работу мышц верхнего отдела: плечи, руки, спина...<div class="red" id="btnp2">Подробнее</div>
						.separ
						.list.d-flex
							span.name Что <br/>тренируем?
							.flexCol
								.elem ягодицы
								.elem пресс
								.elem ноги
							.flexCol
								.elem внешняя, внутренняя, <br/>задняя поверхности бёдер
								.elem плечи и руки
								.elem грудь и спина.
						.separ
						.list.d-flex
							span.name Время <br/>тренировки
							.flexCol
								.elem 60 минут
						.buttons.d-flex
							.button1.rounded-pill.d-flex.align-items-center.justify-content-center
								span Записаться
							.button2.rounded-pill.d-flex.align-items-center.justify-content-center
								span Описание тренировки
					.c5
						img.foto(src="img/additional/list-item2.jpg", alt="list-item2.jpg")
						img.fotof(src="img/additional/list-item2red.png", alt="list-item2red")
					img.number(src="img/additional/number02.png", alt="number02.png")
				.item.row.item3
					.foto-mobile
						img.red(src="img/additional/list-item-mobile_3red.jpg", alt="list-item-mobile_3red")
						img(src="img/additional/list-item-mobile_3.jpg", alt="list-item-mobile_3")
					.col-12.col-lg-7.c7
						.name.d-flex.align-items-center
							span Ягодицы+ноги+пресс
							.line
							span.red от 750 руб.
						.desc Это силовая тренировка была создана для проблемных зон, «волнующих» женщин, таких как... <div class="red" id="btnp3">Подробнее</div>
						.separ
						.list.d-flex
							span.name Что <br/>тренируем?
							.flexCol
								.elem ягодицы
								.elem пресс
								.elem ноги
							.flexCol
								.elem внешняя, внутренняя, <br/>задняя поверхности бёдер
								.elem плечи и руки
								.elem грудь и спина.
						.separ
						.list.d-flex
							span.name Время <br/>тренировки
							.flexCol
								.elem 60 минут
						.buttons.d-flex
							.button1.rounded-pill.d-flex.align-items-center.justify-content-center
								span Записаться
							.button2.rounded-pill.d-flex.align-items-center.justify-content-center
								span Описание тренировки
					.c5
						img.foto(src="img/additional/list-item3.jpg", alt="list-item3.jpg")
						img.fotof(src="img/additional/list-item3red.png", alt="list-item3red")
					img.number(src="img/additional/number03.png", alt="number03.png")
				.item.row.item3
					.foto-mobile
						img.red(src="img/additional/list-item-mobile_3red.jpg", alt="list-item-mobile_3red")
						img(src="img/additional/list-item-mobile_3.jpg", alt="list-item-mobile_3")
					.col-12.col-lg-7.c7
						.name.d-flex.align-items-center
							span TRX Rip
							.line
							span.red от 750 руб.
						.desc TRX Rip Trainer - это многофункциональный тренажёр для развития всего тела. Помимо подготовки тела к функциональным нагрузкам, вы... <div class="red" id="btnp4">Подробнее</div>
						.separ
						.list.d-flex
							span.name Что <br/>тренируем?
							.flexCol
								.elem ягодицы
								.elem пресс
								.elem ноги
							.flexCol
								.elem внешняя, внутренняя, <br/>задняя поверхности бёдер
								.elem плечи и руки
								.elem грудь и спина.
						.separ
						.list.d-flex
							span.name Время <br/>тренировки
							.flexCol
								.elem 60 минут
						.buttons.d-flex
							.button1.rounded-pill.d-flex.align-items-center.justify-content-center
								span Записаться
							.button2.rounded-pill.d-flex.align-items-center.justify-content-center
								span Описание тренировки
					.c5
						img.foto(src="img/additional/list-item3.jpg", alt="list-item3.jpg")
						img.fotof(src="img/additional/list-item3red.png", alt="list-item3red")
					img.number(src="img/additional/number03.png", alt="number03.png")
				.item.row.item3
					.foto-mobile
						img.red(src="img/additional/list-item-mobile_3red.jpg", alt="list-item-mobile_3red")
						img(src="img/additional/list-item-mobile_3.jpg", alt="list-item-mobile_3")
					.col-12.col-lg-7.c7
						.name.d-flex.align-items-center
							span ФитБокс
							.line
							span.red от 750 руб.
						.desc Этот крутой фитнес класс был разработан V-Concept, специально для женщин. В этот класс входят силовые и кардио блоки, с элементами ... <div class="red" id="btnp5">Подробнее</div>
						.separ
						.list.d-flex
							span.name Что <br/>тренируем?
							.flexCol
								.elem ягодицы
								.elem пресс
								.elem ноги
							.flexCol
								.elem внешняя, внутренняя, <br/>задняя поверхности бёдер
								.elem плечи и руки
								.elem грудь и спина.
						.separ
						.list.d-flex
							span.name Время <br/>тренировки
							.flexCol
								.elem 60 минут
						.buttons.d-flex
							.button1.rounded-pill.d-flex.align-items-center.justify-content-center
								span Записаться
							.button2.rounded-pill.d-flex.align-items-center.justify-content-center
								span Описание тренировки
					.c5
						img.foto(src="img/additional/list-item3.jpg", alt="list-item3.jpg")
						img.fotof(src="img/additional/list-item3red.png", alt="list-item3red")
					img.number(src="img/additional/number03.png", alt="number03.png")
				.advert.d-flex.align-items-center
					.text
						span Смотрите также курс
						br
						span.red #BodyEvolution
					.button.rounded-pill.d-flex.align-items-center.justify-content-center
						span Узнать о курсе подробнее
		include _partials/contacts.pug

	include _partials/footer.pug


block scripts
	script(src="js/bpopup.js")
	script(src="js/map.js")
	script(src="js/additional.js")