doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		title BodyEvolution Box
		meta(name="description" content="Front-end by Vladimir Vostrikov")
		meta(name="keywords" content="")
		meta(name="author" content="Vladimir Vostrikov")
		meta(name="robots" content ="index, follow")

		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- meta(http-equiv="X-UA-Compatible" content="IE=edge")

		//- Chrome, Firefox OS and Opera
		meta(name="theme-color" content="#000")
		//- Windows Phone
		meta(name="msapplication-navbutton-color" content="#000")
		//- iOS Safari
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")


		link(rel="stylesheet", href="css/hamburgers.css")

		link(rel="stylesheet", href="css/owl.carousel.min.css")
		link(rel="stylesheet", href="css/owl.theme.default.min.css")

		link(rel="stylesheet", href="css/animate.min.css")

		link(rel="stylesheet", href="css/be-box.css")


		//- Favicons
		link(rel="icon", sizes="180x180", type="image/png", href="img/favicon/apple-touch-icon.png")
		link(rel="icon", sizes="32x32", type="image/png", href="img/favicon/favicon-32x32.png")
		link(rel="icon", sizes="16x16", type="image/png", href="img/favicon/favicon-16x16.png")
		link(rel="icon", type="image/x-icon", href="img/favicon/48favicon.ico")

		//- link(rel="icon", sizes="57x57", type="image/png", href="img/fav/ws_57x57.png")
		//- link(rel="icon", sizes="72x72", type="image/png", href="img/fav/ws_72x72.png")
		//- link(rel="icon", sizes="114x114s", type="image/png", href="img/fav/ws_114x114.png")
	
	body

		.vimeo-video-popup
			#vimeo-video-container
				img.btn-close(src="img/be-box/cross_white.svg", alt="cross_white.svg")

		#menu-pagedim
		include _partials/menu.pug

		header
			.bg-outer#plx-scene-back
				.bg-inner(data-depth="0.075")
			.container
				nav.d-flex
					.menu.d-flex
						button.circle.d-flex.justify-content-center.align-items-center.hamburger.hamburger--slider#my-button(type="button")
							span.hamburger-box
								span.hamburger-inner
					.logo.d-flex.align-items-center.justify-content-center
						img(src="img/favicon/apple-touch-icon.png").imgLogo
						.textLogo
							span.name Concept
							br
							span.desc Школа фитнеса и питания
					.contacts.d-flex.align-items-center
						span 8 (495) 125–22–25
						span info@v-concept.ru
						span Кутузовский проспект, 35 стр.5
				.maintext-outer
					#plx-scene-text
						.maintext.rel(data-depth="0.2")
							span.tag #BODY EVOLUTION BOX
							h1 Интенсивный фитнес курс по женскому боксу
							a(href="#").btn.btn-submit Оставить заявку
				.scrollDown
					p.text когда хотела врезать, но держалась...
					img(src="img/be-box/scrollDown-arrow.svg", alt="scrollDown-arrow.svg")
		section.wantsTo#wantsTo
			.video#video1-container.load-vimeo-video.parallax-elem-1
				.preview
					img.poster(src="img/be-box/video1-poster.jpg", alt="video1-poster.jpg")
					.title О КУРСЕ #BODYEVOLUTIONBOX ЗА 50 СЕКУНД
					img.img-btn(src="img/be-box/btn-play.svg", alt="btn-play.svg")
			.container
				.ovh
					h2.parallax-elem-2
						|#[span.sm-text КУРС #BODY EVOLUTION BOX]
						br
						|#[span.b-text #[span.underline-text для женщин,] кто хочет:]
					ul.desires.parallax-elem-2.rel
						li.wT-li
							|Прийти в форму 
							br
							|за короткий срок 
						li.wT-li
							
							|Получить 
							br
							|гарантированный рельеф 
						li.wT-li
							
							|Получить мощную 
							br
							|эмоциональную 
							br
							|и психологическую 
							br
							|разгрузку 
						li.wT-li

							|Испытать новые крутые 
							br
							|эмоции от самого 
							br
							|динамичного и драйвого 
							br
							|тренинга в вашей жизни 
					.circle-text-outer
						img.circle-text(src="img/be-box/circle-text.png", alt="circle-text.png")
						img.zipper(src="img/be-box/zipper.svg", alt="zipper.svg")
					.figure-block#wantsTo-fb
						.fb-img
						p 
							|800 килокаллорий за тренировку, 
							br
							|это круче чем тренажёрка, бег и даже секс 
		section.whatGet#whatGet
			.container
				h2.parallax-elem-3.rel
					span.b-text ЧТО ВЫ #[span.underline-text ПОЛУЧАЕТЕ]
					br
					span.sm-text ПРИНЯВ УЧАСТИЕ В КУРСЕ #BODY EVOLUTION BOX
				.advantages.ovh#whatGet-advantages.parallax-elem-3.rel
					.table.d-flex
						.item.whatGet-item
							img(src="img/be-box/advantages-icon1.jpg", alt="advantages-icon1.jpg")
							p 
								|4 недели курса в группе смелых 
								br
								|девушек под руководством 
								br
								|настоящего тренера по боксу
						.item.whatGet-item
							img(src="img/be-box/advantages-icon2.jpg", alt="advantages-icon2.jpg")
							p
								|Силовые и кардио 
								br
								|тренировки с элементами 
								br
								|бокса
						.item.whatGet-item
							img(src="img/be-box/advantages-icon3.jpg", alt="advantages-icon3.jpg")
							p
								|12 уникальных супер 
								br
								|тренировок по 3 раза в неделю 
								br
								|до последней капли пота
						.item.whatGet-item
							img(src="img/be-box/advantages-icon4.jpg", alt="advantages-icon4.jpg")
							p
								|Постановка боксерской 
								br
								|техники
						.item.whatGet-item
							img(src="img/be-box/advantages-icon5.jpg", alt="advantages-icon5.jpg")
							p
								|Персональный план питания 
								br
								|на 30 дней
						.item.whatGet-item
							img(src="img/be-box/advantages-icon6.jpg", alt="advantages-icon6.jpg")
							p Постановка удара
					a(href="#").btn.btn-subscribe.d-flex.align-items-center.justify-content-center записаться на курс
		.scrollText-block
		section.antidepr#antidepr
			.cross-block
				img.cross.cross1(src="img/be-box/redCross2.svg", alt="redCross2.svg")
				img.cross.cross2(src="img/be-box/redCross2.svg", alt="redCross2.svg")
				img.cross.cross3(src="img/be-box/redCross2.svg", alt="redCross2.svg")
			.container
				.text-block.parallax-elem-4
					h3
						span.b-text Лучший антидепрессант 
						br
						span.sm-text для женщин…
					p.desc Мегаполис, стресс на работе, пмс и вот ты уже готова кого-нибудь убить...
		section.reasons#reasons
			.container
				h2
					span.b-text #[span.underline-text 7 ПРИЧИН]
					br
					span.sm-text влюбиться в бокс
				.table.d-flex
					.item.reasons-item
						.number 1
						p Бокс является полноценной заменой фитнеса: в боксе работают абсолютно все мышцы тела, оно становится упругим и подтянутым
					.item.reasons-item
						.number 2
						p Постановка боксёрской техника придаст вам новый уровень координации тела
					.item.reasons-item
						.number 3
						p Бокс - это супер интенсивный тренинг, что придаст вам выносливости в разы, а ягодичные и пресс будут гореть.
					.item.reasons-item
						.number 4
						p Бокс - это пожиратель коллорий, за одну тренировки можно сжечь до 800 каллорий
					.item.reasons-item
						.number 5
						p Бокс - это новый опыт в вашей спортивной жизни, который так требуется для поддержания мотивации
					.item.reasons-item
						.number 6
						p Бокс + фитнес дает бесконечное разнообразие упражнений, поэтому вам всегда будет нескучно тренироваться, поддерживая себя в тонусе 
					.item.reasons-item
						.number 7
						p Вы будете бежать на каждую тренировку, чтобы получить этот заряд энергии и кайфа
					.heart-boxing
						span BOXING
		section.videos.ovh#videos
			.container
				h2
					span.b-text Пара #[span.underline-text видео]
					br
					span.sm-text С НАШИХ РЕАЛЬНЫХ ТРЕНИРОВОК #[span.tag #BODY EVOLUTION BOX]
				.table.d-flex
					.video-item.parallax-elem-5
						.video#video2-container.load-vimeo-video
							.preview
								img.poster(src="img/be-box/videos1.jpg", alt="videos1.jpg")
								img.img-btn(src="img/be-box/btn-play.svg", alt="btn-play.svg")
						p.desc Видео с тренировок по боксу
					.video-item.parallax-elem-5
						.video#video3-container.load-vimeo-video
							.preview
								img.poster(src="img/be-box/videos2.jpg", alt="videos2.jpg")
								img.img-btn(src="img/be-box/btn-play.svg", alt="btn-play.svg")
						p.desc Видео с тренировок по фитнесу
		section.trainer#trainer
			.container
				img.aim.aim1(src="img/be-box/aim.png", alt="aim.png")
				img.aim.aim2(src="img/be-box/aim.png", alt="aim.png")
				.text-block
					h2
						span.b-text Главный тренер
						br
						span.sm-text #BODY EVOLUTION BOX
					.trainer-img.parallax-elem-6
						img(src="img/be-box/trainer-img.jpg", alt="trainer-img.jpg")
					.desc.parallax-elem-6
						p.subhead
							|САМЫЙ РУССКИЙ 
							br
							|СРЕДИ ВСЕХ КУБИНЦЕВ
						p.text
							|Единственный и неповторимый 
							br
							|тренер по женскому боксу, 
							br
							|которого любят все 
		section.gym#gym
			h2
				span.b-text #[span.underline-text ЗАЛЫ]
				br
				span.sm-text #body evolution box
			.gym-carousel#gym-carousel.owl-carousel.owl-theme
				img(src="img/be-box/csl-slide.jpg", alt="csl-slide.jpg")
				img(src="img/be-box/csl-slide.jpg", alt="csl-slide.jpg")
				img(src="img/be-box/csl-slide.jpg", alt="csl-slide.jpg")
				img(src="img/be-box/csl-slide.jpg", alt="csl-slide.jpg")
		section.buyCourse#buyCourse
			h2 
				span.b-text ваше время #[span.underline-text пришло] 
				br
				span.sm-text #body evolution box
			.container
				.course-card.d-flex
					.text-block
						ul
							li 4 недели курса в группе 12-15 человек
							li 3 тренировки в неделю
							li Персональный план питания на 30 дней
							li Под руководством настоящего тренера по боксу
						.video#video4-container.load-vimeo-video
							.preview
								img.poster(src="img/be-box/video1-poster.jpg", alt="video1-poster.jpg")
								.title О КУРСЕ #BODYEVOLUTIONBOX ЗА 50 СЕКУНД
								img.img-btn(src="img/be-box/btn-play.svg", alt="btn-play.svg")
					.btns-block
						span.price
							span.number 12 900
							span.text руб.
						a(href="#").btn.btn-submit оставить заявку
						a(href="#").btn.btn-buyNow оплатить сейчас со скидкой
		section.finishing#finishing
			.scrollText-block
		footer
			.container
				.d-flex.align-items-center.justify-content-between.footer-d-flex
					.logo.d-flex.align-items-center.justify-content-center
						img(src="img/favicon/apple-touch-icon.png", alt="apple-touch-icon.png").imgLogo
						.textLogo
							span.name Concept
							br
							span.desc Школа фитнеса и питания
					span.phone 8 (495) 125–22–25
					a(href="#").btn.btn-submit Оставить заявку
			


	script(src="js/jquery.min.js")
	script(src="js/common.js")

	script(src="https://player.vimeo.com/api/player.js")

	script(src="js/owl.carousel.min.js")

	script(src="js/jquery.waypoints.min.js")

	script(src="js/parallax.min.js")

	script.

		$(document).ready(function(){

			$('#video1-container').click(function(){
				$('#vimeo-video-container').append('<iframe id="vimeo-video" src="https://player.vimeo.com/video/430331368" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>')
			})
			$('#video2-container').click(function(){
				$('#vimeo-video-container').append('<iframe id="vimeo-video" src="https://player.vimeo.com/video/424833760" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>')
			})
			$('#video3-container').click(function(){
				$('#vimeo-video-container').append('<iframe id="vimeo-video" src="https://player.vimeo.com/video/427520618" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>')
			})
			$('#video4-container').click(function(){
				$('#vimeo-video-container').append('<iframe id="vimeo-video" src="https://player.vimeo.com/video/430331368" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>')
			})

			function existVerticalScroll() {
				return $('body').outerHeight() > $(window).innerHeight()
			}


			$('.load-vimeo-video').click(function(){
				if(existVerticalScroll()) { 
					wScrollTop = $(document).scrollTop()
					$('body').css('top', '-' + wScrollTop + 'px' )
					$('body').addClass('body-fix')
				}

				$('.vimeo-video-popup').fadeIn(250)
				var vimeo = new Vimeo.Player('vimeo-video');
				vimeo.play()

			})

			$('#vimeo-video-container').click(function(e){
				if (!$('iframe').is(e.target) && $('iframe').has(e.target).length === 0) {
					$('.vimeo-video-popup').fadeOut(250)
					$(this).children('iframe').remove()
					$('body').removeClass('body-fix')
					$('body').css('top', '0')
					$(document).scrollTop(wScrollTop)
					//- alert(wScrollTop)
				}
			})
			//- Owl carousel

			$('#gym-carousel').owlCarousel({
				items: 1,
				loop: true,
				dots: false,
				nav: true,
				responsive: {
					960: {
						stagePadding: 100,
					},
					1367: {
						stagePadding: 344,
					}
				},
				margin: 20,
			})
			
			$('header').addClass('active')
			$('header .maintext').addClass('animate__animated animate__fadeInUp')
			$('section.wantsTo .video').addClass('active')
			setTimeout(function(){
				$('section.wantsTo .video').css('transition', 'none')
				$('header .maintext').removeClass('animate__animated animate__fadeInUp')
				$('header .maintext').css('opacity', '1')
			}, 1000)

			//- $("header, section.wantsTo").mousemove(function(e) {
			//- 	var xCenter = $(window).width() / 2
			//- 	var yCenter = $(window).height() / 2
			//- 	var x = (e.pageX - xCenter) * -1 / 30, y = (e.pageY - yCenter) * -1 / 30
			//- 	$('header .maintext').css('transform', 'translate3d(' + x + 'px, ' + y + 'px, 0px)');
			//- });

			var sceneBack = document.getElementById('plx-scene-back');
			var parallaxInstance = new Parallax(sceneBack, {
				relativeInput: true,
			});
			var sceneText = document.getElementById('plx-scene-text');

			var parallaxInstance = new Parallax(sceneText, {
				relativeInput: true,
				pointerEvents: true
			});

			$(window).scroll(function(){
				parallaxScroll()
			});

			function parallaxScroll(){
				var scrolled1 = $(window).scrollTop() - $('.parallax-elem-1').offset().top + 752
				var scrolled2 = $(window).scrollTop() - $('.parallax-elem-2').offset().top + 800
				var scrolled3 = $(window).scrollTop() - $('.parallax-elem-3').offset().top + 300
				var scrolled4 = $(window).scrollTop() - $('.parallax-elem-4').offset().top + 300
				var scrolled5 = $(window).scrollTop() - $('.parallax-elem-5').offset().top + 300
				var scrolled6 = $(window).scrollTop() - $('.parallax-elem-6').offset().top + 300
				$('.parallax-elem-1').css('transform', 'translate3d( 0px,' + (0-(scrolled1*0.15)) + 'px, 0px');
				$('.parallax-elem-2').css('transform', 'translate3d( 0px,' + (0-(scrolled2*0.25)) + 'px, 0px');
				$('.parallax-elem-3').css('top', (0-(scrolled3*0.25)) + 'px' );
				$('.parallax-elem-4').css('transform', 'translate3d( 0px,' + (0-(scrolled4*0.25)) + 'px, 0px');
				$('.parallax-elem-5').css('transform', 'translate3d( 0px,' + (0-(scrolled5*0.25)) + 'px, 0px');
				$('.parallax-elem-6').css('transform', 'translate3d( 0px,' + (0-(scrolled6*0.25)) + 'px, 0px');

			}

			var waypWantsTo = new Waypoint({
				element: $('#wantsTo'),
				handler: function() {
					$.each($('.wT-li'), function(i, el) {
						setTimeout(function() {
							$(el).addClass("active");
						}, 0 + (i * 200));
					});
				}
			})
			var waypWantsToFb = new Waypoint({
				element: $('#wantsTo-fb'),
				handler: function() {
					$('.fb-img').addClass('active')
				},
				offset: 500
			})
			var waypWhatGet = new Waypoint({
				element: $('#whatGet'),
				handler: function() {
					$('section.whatGet h2').addClass("animate__animated animate__fadeInUp")
					setTimeout(function(){
						$('section.whatGet h2').css({"animation": "none", "opacity": "1"})
					}, 500)
				},
				offset: 500
			})
			var waypWhatGetAdvantages = new Waypoint({
				element: $('#whatGet-advantages'),
				handler: function() {
					$.each($('.whatGet-item').children('img'), function(i, el) {
						setTimeout(function() {
							$(el).addClass("animate__animated animate__fadeIn animate__slow");
						}, 0 + (i * 150));
					});
					$.each($('.whatGet-item').children('p'), function(i, el) {
						setTimeout(function() {
							$(el).addClass("animate__animated animate__fadeInLeft");
						}, 0 + (i * 150));
					});
				},
				offset: 800
			})
			var waypAntidepr = new Waypoint({
				element: $('#antidepr'),
				handler: function() {
					$('#antidepr').addClass('animate__animated animate__fadeIn animate__fast')

					$.each($('#antidepr').find('img.cross'), function(i, el) {
						setTimeout(function() {
							$(el).addClass("db active");
						}, 500 + (i * 350));
					});
				},
				offset: 800
			})
			var waypReasons = new Waypoint({
				element: $('#reasons'),
				handler: function() {
					$.each($('#reasons').find('.reasons-item'), function(i, el) {
						setTimeout(function() {
							$(el).addClass("animate__animated animate__fast animate__fadeInUp");
						}, 0 + (i * 150));
					});
				},
				offset: 500
			})
			var waypVideos = new Waypoint({
				element: $('#videos'),
				handler: function() {
					$('#videos').find('.container').addClass('active')
					$.each($('#videos').find('.video'), function(i, el) {
						setTimeout(function() {
							$(el).addClass("animate__animated animate__zoomIn .animate__faster");
						}, 100 + (i * 350));
					});
				},
				offset: 500
			})
			var waypTrainer = new Waypoint({
				element: $('#trainer'),
				handler: function() {
					$.each($('#trainer').find('img.aim'), function(i, el) {
						setTimeout(function() {
							$(el).addClass("db animate__animated animate__faster animate__flash");
						}, 500 + (i * 500));
					});
					setTimeout(function() {
						$('#trainer').find('.trainer-img').addClass('animate__animated animate__zoomIn animate__faster')
					}, 750)
				},
				offset: 500
			})
			var waypGym = new Waypoint({
				element: $('#gym'),
				handler: function() {
					$('#gym').find('h2').addClass('animate__animated animate__fadeInUp')
				},
				offset: 200
			})
			var waypCourse = new Waypoint({
				element: $('#buyCourse'),
				handler: function() {
					$('#buyCourse').find('h2').addClass('active')
					setTimeout(function() {
						$('#buyCourse').find('ul, .video').addClass('animate__animated animate__fadeInUp')
					}, 750)
				},
				offset: 500
			})
			var waypFinishing = new Waypoint({
				element: $('#finishing'),
				handler: function() {
					$('#finishing').addClass('animate__animated animate__fadeIn animate__fast')
				},
				offset: 500
			})

		});
