extends _layouts/home

block styles
	
	link(rel="stylesheet", href="css/chooseSchool.css")
	link(rel="stylesheet", href="css/contacts.css")

block content
	include _partials/header.pug
	main
		.container-fluid
			.container
				section.header-breadcrumbs
					.breadcrumbs #[a.home(href="#") Главная] #[span.slash /] #[a.active(href="chooseSchool.html") Выбор школы]
				section.header
					.row
						.col-12.col-md-6.col-lg-5
							h1 <span class="red">Наши</span> школы
						.col-12.col-md-6.col-lg-7
							.subhead
								.line
								p.text|Выберите адрес школы, где Вам удобно 
									br
									|будет заниматься
				section.list
					.item
						.row
							.col-12.col-md-6.col-xl-7
								h2 Школа #[span.red #[span.tahoma №]1]
								.inf.d-flex
									.line
									.textBlock
										.text.b Адрес школы:
										.text.adress Москва, Кутузовский проспект, дом 36 стр.5
								.btnChoose.desk.align-items-center.justify-content-center
									input#radioChoose1(type="radio", name="a")
									label(for="radioChoose1")
									span Выбрать
							.col-12.col-md-6.col-xl-5
								img(src="img/howToPass-images/sch1-img.jpg", alt="sch1-img.jpg")
								.btnChoose.mob.align-items-center.justify-content-center
									input#radioChoose1mob(type="radio", name="a")
									label(for="radioChoose1")
									span Выбрать
					.item
						.row
							.col-12.col-md-6.col-xl-7
								h2 Школа #[span.red #[span.tahoma №]2]
								.inf.d-flex
									.line
									.textBlock
										.text.b Адрес школы:
										.text.adress Москва, 2-я Звенигородская ул., 12, стр.18
								.btnChoose.desk.align-items-center.justify-content-center
									input#radioChoose2(type="radio", name="a")
									label(for="radioChoose2")
									span Выбрать
							.col-12.col-md-6.col-xl-5
								img(src="img/chooseSchool/c-building.png", alt="c-building.png")
								.btnChoose.mob.align-items-center.justify-content-center
									input#radioChoose2mob(type="radio", name="a")
									label(for="radioChoose1")
									span Выбрать
				a(href="schedulesBE.html").btnOrder.d-flex.align-items-center.justify-content-center
					span Записаться на занятие

		include _partials/contacts.pug

	include _partials/footer.pug

block scripts
	script(src="js/map.js")
	script.
		$(document).ready(function(){
			$('.btnChoose').click(function() {
				if ($(this).children('input').is(':checked')) {
					$(this).children('input').prop('checked', false);
					$(this).removeClass('checked')
				}else{
					$(this).children('input').prop('checked', true);
					$('.btnChoose').removeClass('checked')
					$(this).addClass('checked')
				}
			})
		})