extends _layouts/home

block styles
	
	link(rel="stylesheet", href="css/contacts.css")
	link(rel="stylesheet", href="css/contacts-page.css")

block content
	include _partials/header.pug
	main
		.container-fluid
			.container
				section.header-breadcrumbs
					.breadcrumbs #[a.home(href="#") Главная] #[span.slash /] #[a.active(href="contacts.html") Контакты]
				section.header
					.row
						.col-12
							h1 <span class="red">Наши</span> контакты
							.line
				section.list
					.item
						.row
							.col-12.col-md-6.col-xl-7
								h2 Школа #[span.red #[span.tahoma №]1]
								.inf.d-flex
									.line
									.textBlock
										.text.b Адрес школы:
										.text.adress Москва, Кутузовский проспект, дом 36 стр.5
								a(href="contacts-sch1.html").btnAdress.desk.align-items-center.justify-content-center
									span Как добраться
							.col-12.col-md-6.col-xl-5
								img(src="img/howToPass-images/sch1-img.jpg", alt="sch1-img.jpg")
								a(href="contacts-sch1.html").btnAdress.mob.align-items-center.justify-content-center
									span Как добраться
					.item
						.row
							.col-12.col-md-6.col-xl-7
								h2 Школа #[span.red #[span.tahoma №]2]
								.inf.d-flex
									.line
									.textBlock
										.text.b Адрес школы:
										.text.adress Москва, Старокирочный переулок, дом 2(метро Бауманская) 
								a(href="contacts-sch2.html").btnAdress.desk.align-items-center.justify-content-center
									span Как добраться
							.col-12.col-md-6.col-xl-5
								img(src="img/howToPass-images/sch2-img.jpg", alt="sch2-img.jpg")
								a(href="contacts-sch2.html").btnAdress.mob.align-items-center.justify-content-center
									span Как добраться

		section.contacts
			.container
				.col-12.col-lg-6.c6
					span.name
						|Звоните 
						br
						|и пишете нам:
					br
					.list
						.item.phone
							img(src="img/additional/phone.svg", alt="svg1")
							span +7 (499)-125-32-25
						.item.mail
							img(src="img/additional/mail.svg", alt="svg3") 
							span info@v-concept.ru
						.item.time
							img(src="img/additional/time.svg", alt="svg4") 
							span Время работы: 10:00-20:00<br/>(в выходные 10:00-17:00)
					.social-block
						span.head Мы в соцсетях:
						.socials.d-flex
							a(href="#").social.Vk.rounded-circle.d-flex.align-items-center.justify-content-center
								<svg xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink"width="21px" height="13px"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)"d="M20.669,11.068 C20.644,11.015 20.621,10.970 20.599,10.935 C20.241,10.293 19.557,9.507 18.547,8.574 L18.526,8.553 L18.515,8.542 L18.505,8.532 L18.494,8.532 C18.035,8.097 17.745,7.805 17.624,7.655 C17.401,7.371 17.352,7.082 17.473,6.790 C17.559,6.569 17.882,6.104 18.440,5.391 C18.734,5.013 18.966,4.712 19.138,4.483 C20.377,2.846 20.914,1.799 20.749,1.343 L20.685,1.237 C20.642,1.172 20.531,1.114 20.352,1.061 C20.173,1.007 19.944,0.998 19.665,1.034 L16.571,1.055 C16.521,1.038 16.450,1.039 16.357,1.061 C16.263,1.082 16.217,1.093 16.217,1.093 L16.163,1.119 L16.120,1.152 C16.084,1.172 16.045,1.210 16.002,1.264 C15.959,1.317 15.924,1.379 15.895,1.451 C15.558,2.312 15.175,3.113 14.746,3.854 C14.481,4.295 14.237,4.678 14.015,5.001 C13.793,5.326 13.607,5.564 13.457,5.717 C13.306,5.871 13.170,5.993 13.048,6.086 C12.927,6.178 12.834,6.217 12.769,6.203 C12.705,6.189 12.644,6.175 12.586,6.161 C12.486,6.096 12.406,6.009 12.345,5.899 C12.284,5.788 12.243,5.649 12.221,5.483 C12.200,5.314 12.187,5.171 12.184,5.050 C12.180,4.928 12.182,4.757 12.189,4.537 C12.197,4.316 12.200,4.167 12.200,4.088 C12.200,3.818 12.205,3.524 12.216,3.207 C12.227,2.890 12.236,2.640 12.243,2.454 C12.250,2.269 12.254,2.073 12.254,1.867 C12.254,1.660 12.241,1.498 12.216,1.381 C12.191,1.264 12.153,1.149 12.103,1.039 C12.053,0.928 11.980,0.843 11.883,0.782 C11.787,0.722 11.667,0.674 11.523,0.638 C11.144,0.553 10.661,0.507 10.073,0.500 C8.741,0.485 7.886,0.570 7.506,0.756 C7.356,0.834 7.220,0.941 7.098,1.076 C6.969,1.233 6.951,1.318 7.044,1.333 C7.474,1.397 7.778,1.549 7.957,1.792 L8.022,1.920 C8.072,2.012 8.122,2.177 8.172,2.411 C8.222,2.646 8.254,2.906 8.269,3.191 C8.304,3.711 8.304,4.155 8.269,4.526 C8.233,4.896 8.199,5.185 8.167,5.391 C8.134,5.598 8.086,5.765 8.022,5.894 C7.957,6.021 7.914,6.100 7.893,6.128 C7.871,6.157 7.853,6.174 7.839,6.182 C7.746,6.217 7.649,6.235 7.549,6.235 C7.449,6.235 7.327,6.185 7.184,6.085 C7.041,5.986 6.892,5.848 6.738,5.674 C6.584,5.500 6.410,5.255 6.217,4.943 C6.024,4.629 5.823,4.259 5.616,3.832 L5.444,3.522 C5.336,3.323 5.190,3.032 5.003,2.652 C4.817,2.271 4.653,1.902 4.509,1.546 C4.452,1.397 4.366,1.283 4.252,1.204 L4.198,1.172 C4.162,1.144 4.105,1.114 4.026,1.081 C3.947,1.049 3.865,1.026 3.779,1.013 L0.836,1.033 C0.535,1.033 0.331,1.101 0.224,1.236 L0.181,1.300 C0.159,1.336 0.148,1.393 0.148,1.471 C0.148,1.549 0.170,1.646 0.213,1.759 C0.642,2.763 1.110,3.732 1.614,4.665 C2.119,5.598 2.558,6.348 2.930,6.918 C3.302,7.488 3.682,8.026 4.069,8.531 C4.455,9.037 4.711,9.361 4.837,9.503 C4.962,9.646 5.061,9.752 5.132,9.823 L5.401,10.079 C5.573,10.250 5.825,10.455 6.158,10.694 C6.491,10.933 6.860,11.167 7.264,11.399 C7.669,11.630 8.140,11.819 8.677,11.965 C9.214,12.111 9.737,12.170 10.245,12.141 L11.480,12.141 C11.731,12.120 11.921,12.041 12.050,11.906 L12.092,11.853 C12.121,11.810 12.148,11.743 12.173,11.655 C12.198,11.566 12.210,11.469 12.210,11.361 C12.203,11.056 12.226,10.780 12.280,10.534 C12.334,10.288 12.395,10.104 12.463,9.979 C12.531,9.854 12.608,9.749 12.694,9.663 C12.780,9.578 12.841,9.526 12.877,9.509 C12.912,9.490 12.941,9.479 12.962,9.471 C13.134,9.414 13.336,9.470 13.569,9.636 C13.802,9.804 14.020,10.011 14.225,10.256 C14.429,10.502 14.674,10.778 14.960,11.084 C15.247,11.390 15.497,11.618 15.712,11.768 L15.927,11.896 C16.070,11.981 16.257,12.060 16.486,12.130 C16.714,12.202 16.915,12.220 17.087,12.184 L19.837,12.142 C20.109,12.142 20.320,12.097 20.470,12.007 C20.621,11.919 20.710,11.821 20.739,11.715 C20.768,11.608 20.769,11.487 20.744,11.351 C20.719,11.215 20.694,11.121 20.669,11.068 Z"/></svg>
							a(href="#").social.Fb.rounded-circle.d-flex.align-items-center.justify-content-center
								<svg xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink"width="10px" height="20px"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)"d="M7.548,3.470 C7.087,3.470 6.621,3.928 6.621,4.269 C6.621,4.609 6.621,6.548 6.621,6.548 C6.621,6.548 8.868,6.548 9.647,6.548 L9.647,8.694 C9.553,9.410 9.473,9.894 9.473,9.894 L6.605,9.894 L6.605,19.800 L2.332,19.800 L2.332,9.894 L0.252,9.894 L0.252,6.561 L2.332,6.561 C2.332,6.561 2.332,4.334 2.332,3.835 C2.332,3.337 2.226,-0.000 6.710,-0.000 C7.274,-0.000 8.507,-0.000 9.647,-0.000 L9.647,3.470 C8.817,3.470 7.969,3.470 7.548,3.470 Z"/></svg>
							a(href="#").social.Inst.rounded-circle.d-flex.align-items-center.justify-content-center
								<svg xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink"width="24px" height="24px"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)"d="M17.313,23.500 L6.863,23.500 C3.314,23.500 0.426,20.603 0.426,17.043 L0.426,6.558 C0.426,2.997 3.314,0.100 6.863,0.100 L17.313,0.100 C20.863,0.100 23.750,2.997 23.750,6.558 L23.750,17.043 C23.750,20.603 20.863,23.500 17.313,23.500 ZM21.680,17.043 L21.680,6.558 C21.680,4.142 19.721,2.176 17.313,2.176 L6.863,2.176 C4.455,2.176 2.496,4.142 2.496,6.558 L2.496,17.043 C2.496,19.458 4.455,21.424 6.863,21.424 L17.313,21.424 C19.721,21.424 21.681,19.458 21.681,17.043 L21.680,17.043 ZM18.350,7.055 C17.951,7.055 17.560,6.892 17.278,6.609 C16.995,6.326 16.833,5.933 16.833,5.532 C16.833,5.131 16.995,4.738 17.278,4.456 C17.560,4.172 17.951,4.010 18.350,4.010 C18.750,4.010 19.142,4.172 19.423,4.456 C19.706,4.738 19.868,5.131 19.868,5.532 C19.868,5.933 19.706,6.326 19.423,6.609 C19.141,6.892 18.750,7.055 18.350,7.055 ZM12.088,17.829 C8.774,17.829 6.078,15.125 6.078,11.800 C6.078,8.476 8.774,5.771 12.088,5.771 C15.402,5.771 18.098,8.476 18.098,11.800 C18.098,15.125 15.402,17.829 12.088,17.829 ZM12.088,7.846 C9.915,7.846 8.148,9.620 8.148,11.800 C8.148,13.980 9.915,15.754 12.088,15.754 C14.261,15.754 16.029,13.980 16.029,11.800 C16.029,9.620 14.261,7.846 12.088,7.846 Z"/></svg>
			.ymap
				a(href="https://yandex.ru/maps/-/CCe2AJnW").bg-mobile
				.map#mapy
			img.bg(src="img/additional/bg6.png", alt="bg6.png")

	include _partials/footer.pug

block scripts
	script(src="js/map.js")