extends _layouts/home

block styles
	
	link(rel="stylesheet", href="css/schedules.css")
	link(rel="stylesheet", href="css/contacts.css")

block content
	
	main
		section.container.breadcrumbs 
			span Главная / <span class="active">Расписание занятий</span>
		section.container.dates
			.header
				.row
					.col-12.col-lg-4
						h2.head Расписание <br/>групп
					.col-12.col-lg-8
						.line
						.wrap.d-flex
							p.text Расписание старта занятий BodyEvolution <br/> на 2018 год 
							.button.d-flex.align-items-center.justify-content-center#btn
								span Показать
			.list#list(style="display: none;")
				.wrap
					.elem.d-flex.align-items-center
						.circle.d-flex.justify-content-center.align-items-center
							span.number 1
						span.date 08 Января - 04 Февраля
					.elem.d-flex.align-items-center
						.circle.d-flex.justify-content-center.align-items-center
							span.number 2
						span.date 05 Февраля - 04 Марта
					.elem.d-flex.align-items-center
						.circle.d-flex.justify-content-center.align-items-center
							span.number 3
						span.date 05 Марта - 01 Апреля
					.elem.d-flex.align-items-center
						.circle.d-flex.justify-content-center.align-items-center
							span.number 4
						span.date 02 Апреля - 29 Апреля
					.elem.d-flex.align-items-center
						.circle.d-flex.justify-content-center.align-items-center
							span.number 5
						span.date 06 Мая - 02 Июня
					.elem.d-flex.align-items-center
						.circle.d-flex.justify-content-center.align-items-center
							span.number 6
						span.date 03 Июня - 30 Июня
					.elem.d-flex.align-items-center
						.circle.d-flex.justify-content-center.align-items-center
							span.number 7
						span.date 08 Января - 04 Февраля
					.elem.d-flex.align-items-center
						.circle.d-flex.justify-content-center.align-items-center
							span.number 8
						span.date 05 Февраля - 04 Марта
					.elem.d-flex.align-items-center
						.circle.d-flex.justify-content-center.align-items-center
							span.number 9
						span.date 05 Марта - 01 Апреля
		section.container.lessons
			.head Занятия BodyEvolution 1-я ступень
			.head.red Вечерние группы
			.tables.row
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_05
							.places.d-flex.align-items-center
								.circle.red.d-flex.align-items-center.justify-content-center
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"width="10px" height="10px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)"d="M10.001,8.125 L8.125,10.001 L5.000,6.875 L1.875,10.001 L-0.000,8.125 L3.125,5.000 L-0.000,1.875 L1.875,-0.001 L5.000,3.125 L8.125,-0.001 L10.001,1.875 L6.875,5.000 L10.001,8.125 Z"/></svg>
								.text Свободных мест нет
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_06
							.places.d-flex.align-items-center
								.circle.green.d-flex.align-items-center.justify-content-center
									span 8
								.text Свободных мест
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_07
							.places.d-flex.align-items-center
								.circle.green.d-flex.align-items-center.justify-content-center
									span 7
								.text Свободных мест
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_08
							.places.d-flex.align-items-center
								.circle.green.d-flex.align-items-center.justify-content-center
									span 10
								.text Свободных мест
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_01
							.places.d-flex.align-items-center
								.circle.red.d-flex.align-items-center.justify-content-center
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"width="10px" height="10px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)"d="M10.001,8.125 L8.125,10.001 L5.000,6.875 L1.875,10.001 L-0.000,8.125 L3.125,5.000 L-0.000,1.875 L1.875,-0.001 L5.000,3.125 L8.125,-0.001 L10.001,1.875 L6.875,5.000 L10.001,8.125 Z"/></svg>
								.text Свободных мест нет
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_02
							.places.d-flex.align-items-center
								.circle.green.d-flex.align-items-center.justify-content-center
									span 8
								.text Свободных мест
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_03
							.places.d-flex.align-items-center
								.circle.green.d-flex.align-items-center.justify-content-center
									span 7
								.text Свободных мест
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_04
							.places.d-flex.align-items-center
								.circle.green.d-flex.align-items-center.justify-content-center
									span 10
								.text Свободных мест
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
			.head.red Дневные группы
			.tables.row
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_05
							.places.d-flex.align-items-center
								.circle.red.d-flex.align-items-center.justify-content-center
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"width="10px" height="10px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)"d="M10.001,8.125 L8.125,10.001 L5.000,6.875 L1.875,10.001 L-0.000,8.125 L3.125,5.000 L-0.000,1.875 L1.875,-0.001 L5.000,3.125 L8.125,-0.001 L10.001,1.875 L6.875,5.000 L10.001,8.125 Z"/></svg>
								.text Свободных мест нет
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_06
							.places.d-flex.align-items-center
								.circle.green.d-flex.align-items-center.justify-content-center
									span 8
								.text Свободных мест
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_07
							.places.d-flex.align-items-center
								.circle.green.d-flex.align-items-center.justify-content-center
									span 7
								.text Свободных мест
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_08
							.places.d-flex.align-items-center
								.circle.green.d-flex.align-items-center.justify-content-center
									span 10
								.text Свободных мест
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_05
							.places.d-flex.align-items-center
								.circle.red.d-flex.align-items-center.justify-content-center
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"width="10px" height="10px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)"d="M10.001,8.125 L8.125,10.001 L5.000,6.875 L1.875,10.001 L-0.000,8.125 L3.125,5.000 L-0.000,1.875 L1.875,-0.001 L5.000,3.125 L8.125,-0.001 L10.001,1.875 L6.875,5.000 L10.001,8.125 Z"/></svg>
								.text Свободных мест нет
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_06
							.places.d-flex.align-items-center
								.circle.green.d-flex.align-items-center.justify-content-center
									span 8
								.text Свободных мест
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_07
							.places.d-flex.align-items-center
								.circle.green.d-flex.align-items-center.justify-content-center
									span 7
								.text Свободных мест
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
				.col-12.col-md-6.col-lg-4.col-xl-3
					.item
						.topDate.d-flex.align-items-center.justify-content-center
							span 03.06.18 - 03.06.18
						.content
							.name|#BodyEvolution
								br
								|июнь_08
							.places.d-flex.align-items-center
								.circle.green.d-flex.align-items-center.justify-content-center
									span 10
								.text Свободных мест
							.times
								.line.d-flex.justify-content-between
									span.day Понедельник
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Среда
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Пятница
									span.time 19:00
								.line.d-flex.justify-content-between
									span.day Воскресенье
									span.time 11:00
						.button.d-flex.align-items-center.justify-content-center
							span Записаться
		section.container.form
			h2.head|Не нашли
				br
				|подходящего времени?
			.line
			.desc Запишитесь на следующий курс
			form
				.row
					.col-12.col-sm-6.col-md-4
						input(type="name" placeholder="Ваше имя*")
					.col-12.col-sm-6.col-md-4
						input(type="tel" placeholder="Ваш телефон*")
				.row
					.col-12.col-sm-6.col-md-4
						input(type="email" placeholder="Ваш e-mail*")
					.col-12.col-sm-6.col-md-4
						input(type="text" placeholder="Желаемое время")
				input.submit(type="submit" value="Отправить")
		include _partials/contacts.pug

block scripts
	//- Yandex Map
	script(src="js/map.js")
	//- Script
	script(src="js/schedules.js")