section.contacts
	.container
		.col-12.col-md-6.c6
			span.name Наши <span class="red">контакты</span>
			br
			span.desc Вы можете найти нас:
			.separ
			.list
				.item.phone
					img(src="img/additional/phone.svg", alt="svg1")
					span +7 (499)-125-32-25
				.item.adress
					img(src="img/additional/adress.svg", alt="svg2") 
					span Москва, Кутузовский <br/>проспект, дом 36 стр.5
				.item.mail
					img(src="img/additional/mail.svg", alt="svg3") 
					span info@v-concept.ru
				.item.time
					img(src="img/additional/time.svg", alt="svg4") 
					span Время работы: 10:00-20:00<br/>(в выходные 10:00-17:00)
	.ymap
		a(href="https://yandex.ru/maps/-/CCe2AJnW").bg-mobile
		.map#mapy
	img.bg(src="img/additional/bg6.png", alt="bg6.png")