nav.menu#menu.hidden
	ul
		li.item
			a(href="https://www.v-concept.ru/") Главная
		li.item
			a(href="https://www.v-concept.ru/body-evolution") BodyEvolution
		li.item
			a(href="https://www.besizeplus.v-concept.ru/") BodyEvolution Size+
		li.item
			a(href="be-box.html") BodyEvolution Box
		li.item
			a(href="https://www.v-concept.ru/lessons") Другие занятия
		li.item
			a(href="https://www.v-concept.ru/instructors") Наши тренеры
		li.item
			a(href="https://www.v-concept.ru/timetable") Расписание
		li.item
			a(href="https://www.v-concept.ru/prices") Цены
		li.item
			a(href="https://www.v-concept.ru/contacts") Контакты
		.separLine
		li.item
			a(href="https://www.v-concept.ru/login") Авторизация