nav.menu#menu.hidden
	ul
		li.item
			a(href="#") Главная
		li.item
			a(href="be.html") BodyEvolution
		li.item
			a(href="#") BodyEvolution Size+
		li.item
			a(href="additional.html") Другие занятия
		li.item
			a(href="#") Наши тренеры
		li.item
			a(href="schedules.html") Расписание
		li.item
			a(href="prices.html") Цены
		li.item
			a(href="#") Контакты
		.separLine
		li.item
			a(href="profile.html") Авторизация