nav#my-menu
	ul
		li
			a(href="#") Главная
		li
			a(href="be.html") BodyEvolution
		li
			a(href="#") BodyEvolution Size +
		li
			a(href="additional.html") Другие занятия
		li
			a(href="#") Наши тренеры
		li
			a(href="schedules.html") Расписание
		li
			a(href="prices.html") Цены
		.line
		li
			a(href="#") Авторизация