@import "fonts"

html, body
	margin: 0
	padding: 0
	width: 100%
*
	box-sizing: border-box
	outline: none
.ovh
	overflow: hidden
.fixed
	position: fixed
.rel
	position: relative
h1, h2, h3, span, p
	font-weight: normal
.transform-disabled
	transform: translate3d(0, 0, 0) !important
.transition-disabled
	transition: none !important
body
	background-color: #000
	width: 100%
	font-size: 16px
	position: relative
	overflow-x: hidden
	line-height: 1.65
	a, a:active, a:focus, a:link, a:visited
		outline: none
		text-decoration: none
	#menu-pagedim
		background-color: #000000
		opacity: 0
		transition: 0.3s
		position: absolute
		display: none
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 4500
	#menu-pagedim.turned
		display: block
	#menu-pagedim.turnedOpacity
		opacity: 0.3
	nav.menu.hidden
		left: -500px
	nav.menu
		position: fixed
		left: 0px
		top: 0
		z-index: 5000
		height: 100%
		min-width: 500px
		transition: 0.5s
		padding-top: 100px
		background-color: #303030
		ul 
			padding: 0
			list-style-type: none
			.separLine
				background-color: #eeeeee
				width: 100%
				height: 1px
				margin-top: 20px
				margin-bottom: 20px
			li.item 
				padding-left: 65px
				padding-right: 65px
				padding-top: 10px
				padding-bottom: 10px
				a
					transition: 0.3s
					text-decoration: none
					outline: none
					color: #ffffff
					font-family: 'MullerLight'
					font-size: 24px
				a:hover
					color: #ff2e2f
	.container
		max-width: 1200px
		width: 100%
		margin: auto
		padding-left: 20px
		padding-right: 20px
	.d-flex
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
	.align-items-center
		align-items: center
	.justify-content-center
		justify-content: center
	.justify-content-between
		justify-content: space-between
	.video
		.preview
			img.img-btn
				transition: 0.5s
	.video:hover
		.preview
			img.img-btn
				transform: scale(1.25)
	a.btn
		transition: 0.5s
	.vimeo-video-popup
		display: none
		position: fixed
		z-index: 9000
		margin-right: auto
		top: 0
		left: 0
		right: 0
		bottom: 0
		#vimeo-video-container
			width: 100%
			height: 100%
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			justify-content: center
			background-color: rgba(0, 0, 0, 0.5)
			transition: 0.5s
			cursor: pointer
			position: relative
			img.btn-close
				position: absolute
				top: 0
				right: 0
				margin-top: 32px
				margin-right: 31px
				cursor: pointer
				opacity: 0.5
				transition: 0.3s
			img.btn-close:hover
				opacity: 1
			iframe
				width: 1077px
				height: 600px
				max-height: 100%
	.scrollText-block
		width: 100%
		height: 117px
		background-image: url('../img/be-box/scrollText-be-box.svg')
		background-repeat: repeat
		animation: 4.5s linear scrollText infinite
	@keyframes scrollText
		0%
			background-position-x: 0
		100%
			background-position-x: -1117px
	section
		h2
			text-align: center
			color: #fff
			text-transform: uppercase
			margin: 0
			span.sm-text
				font-family: 'Aeroport-Bold'
				font-size: 30px
			span.b-text
				font-family: 'HeadingSmallcasePro-Regular'
				font-size: 72px
			span.underline-text
				position: relative
			span.underline-text::after
				content: ''
				position: absolute
				background-color: #FF0006
				width: 105%
				height: 4px
				bottom: 0
				left: -2.5%
	header.active
		background-color: rgba(0, 0, 0, 0)
	header
		position: relative
		min-height: 100vh
		padding-bottom: 50px
		background-color: rgba(0, 0, 0, 1)
		transition: 1s
		.bg-outer
			position: absolute
			z-index: -1
			top: 0
			left: 0
			width: 100%
			height: 100%
			overflow: hidden
			.bg-inner
				width: 110%
				height: 110%
				margin-left: -2.5%
				margin-top: -2.5%
				background-image: url('../img/be-box/header-bg.jpg')
				background-size: cover
				background-repeat: no-repeat
				background-position: center 0
				background-blend-mode: color
		.logo
			img.imgLogo
				width: 42px
				height: auto
			.textLogo
				line-height: 1.2
				margin-left: 10px
				span
					color: #fff
				span.name
					letter-spacing: 3px
					font-family: 'MullerExtraBold'
					text-transform: uppercase
					font-size: 26.53px
				span.desc
					font-family: 'MullerRegular'
					font-size: 15px
		nav
			padding: 37px 0
			.menu
				padding: 0
				.circle
					border-radius: 50%
					position: relative
					z-index: 5000
					cursor: pointer
					background-color: #ff1c1c
					width: 66px
					height: 66px
					outline: none
				.hamburger
					outline: none
					.hamburger-box
						width: 35px
						.hamburger-inner, 
						.hamburger-inner::after,
						.hamburger-inner::before
							background-color: #fff
							width: 35px
							transition-duration: 0.5s
				.hamburger:hover, .hamburger.is-active:hover
					opacity: 1
			.logo
				margin-left: 45px
			.contacts
				margin-left: auto
				a
					font-family: "Aeroport"
					font-size: 18px
					color: #fff
					margin-left: 30px
		.maintext-outer
			position: absolute
			height: 30%
			top: 0
			bottom: 0
			margin: auto
			.maintext.animate__animated
				opacity: 1
			.maintext
				pointer-events: all
				position: relative
				opacity: 0
				display: inline-block
				span.tag
					font-family: 'Aeroport-Bold'
					font-size: 30px
					color: #FF0006
				h1
					position: relative
					max-width: 944px
					text-transform: uppercase
					font-family: 'HeadingSmallcasePro-Regular'
					font-size: 96px
					color: #fff
					margin: 0
					margin-top: 30px
					line-height: 0.9
				h1::before
					content: ''
					background-color: #FF0006
					width: 141px
					height: 6px
					position: absolute
					top: 0
					bottom: 0
					left: 0
					margin-top: 34px
					margin-left: -176px
				a.btn-submit
					display: inline-block
					margin-top: 15px
					text-align: center
					background-color: #FF0006
					width: 300px
					height: 65px
					line-height: 64px
					font-family: 'Aeroport-Bold'
					color: #fff
					font-size: 16px
					text-transform: uppercase
				a.btn:hover
					font-size: 20px
		.scrollDown
			position: absolute
			width: 100%
			bottom: 0
			left: 0
			text-align: center
			margin-top: 73px
			margin-bottom: 50px
			p.text
				color: #fff
				font-family: 'Aeroport-Bold'
				font-size: 14px
				max-width: 180px
				margin: 0 auto
				text-transform: uppercase
				line-height: 1.2
				margin-bottom: 10px
			img
				width: 38px
				position: relative
				opacity: 0
				animation: 1s linear moveDown infinite
			@keyframes moveDown
				0%
					opacity: 0
					top: 0
				20%
					opacity: 1
					top: 7px
				80%
					top: 28px
					opacity: 1
				100%
					opacity: 0
					top: 35px
	section.wantsTo
		padding-bottom: 225px
		.container 
			padding-top: 20%
			margin-top: -20%
		h2
			margin-top: 180px
			line-height: 1.4

		.video.active
			margin-top: -102px
		.video
			transition: 1s
			cursor: pointer
			width: 462px
			position: relative
			margin-left: auto
			margin-top: 0
			margin-right: 67px
			.preview
				img.poster
					width: 100%
					vertical-align: bottom
				.title
					position: absolute
					top: 0
					color: #fff
					font-size: 16px
					font-family: 'Aeroport-Bold'
					padding-left: 47px
					padding-top: 27px
					text-transform: uppercase
				img.img-btn
					position: absolute
					margin: auto
					top: 0
					bottom: 0
					left: 0
					right: 0
					cursor: pointer
					z-index: 1
			iframe#vimeo-video1
				width: 462px
				height: 292px
				position: relative
				z-index: 2
		ul.desires
			padding: 0
			margin: 0
			margin-right: 60px
			margin-top: 160px
			li
				position: relative
				color: #fff
				font-family: 'Aeroport'
				font-size: 24px
				margin-top: 65px
				margin-left: auto
				list-style: none
				line-height: 1.2
				max-width: 310px
			li::before
				content: ''
				width: 0px
				transition: 1s
				height: 4px
				position: absolute
				left: 0
				top: 0
				margin-top: 12px
				margin-left: -110px
				background-color: #FF0006
			li.active::before
				width: 80px
		.circle-text-outer
			width: 196px
			margin: auto
			margin-top: 10px
			position: relative
			img.zipper
				position: absolute
				margin: auto
				top: 0
				bottom: 0
				left: 0
				right: 0
			img.circle-text
				animation: 10s fullRotate infinite
				animation-timing-function: linear
				transition: 0s
				width: 100%
			@keyframes fullRotate
				0%
					transform: rotate(0deg)
				100%
					transform: rotate(360deg)
			.photo1
				position: absolute
				bottom: 0
				right: 0
				margin-bottom: 10px
				margin-right: -55px
				z-index: -3
				width: 800px
				height: 534px
			.photo2
				position: absolute
				top: 0
				left: 0
				margin-top: 95px
				margin-left: -55px
				z-index: -2
				width: 800px
				height: 534px
		.figure-block
			margin-top: 280px
			.fb-img
				width: 0
				height: 166px
				background-repeat: no-repeat
				background-image: url('../img/be-box/800.svg')
				background-size: 230px
				transition: 1s
			.fb-img.active
				width: 230px
			p
				margin-top: 40px
				margin-bottom: 0
				font-family: 'Aeroport'
				font-size: 30px
				color: #fff
				line-height: 1.2
	section.whatGet
		padding-top: 375px
		background-image: url('../img/be-box/whatGet-bg.jpg')
		background-size: auto
		background-repeat: no-repeat
		background-position: center 0
		h2
			opacity: 0
			line-height: normal
			span.sm-text
				line-height: 2.2
		.advantages
			margin-top: 125px
			padding-top: 90px
			padding-bottom: 70px
			background-color: #FF0006
			.table
				flex-wrap: wrap
				margin-left: -40px
				.item
					display: flex
					align-items: center
					max-width: none
					width: calc((100% / 2) - 11.7%)
					margin-left: 11.7%
					margin-bottom: 60px
					img, p
						opacity: 0
					p
						font-size: 20px
						font-family: 'Aeroport'
						color: #fff
						line-height: 1.2
						margin-bottom: 0
						margin-top: 0
						margin-left: 20px
			a.btn-subscribe
				margin: auto
				background-color: #000
				color: #fff
				width: 340px
				height: 65px
				text-align: center
				text-transform: uppercase
				font-family: 'Aeroport-Bold'
				font-size: 18px
			a.btn:hover
				font-size: 20px
	@keyframes kick
		0%
			transform: scale(2.5)
		55%
			transform: scale(0.8)
		80%
			transform: scale(1.2)
		100%
			transform: scale(1)
	section.antidepr
		margin-top: 200px
		margin-bottom: 250px
		height: 800px
		opacity: 0
		position: relative
		background-image: url('../img/be-box/antidepr-bg.jpg')
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		position: relative
		.cross-block
			pointer-events: none
			max-width: 1425px
			width: 100%
			height: 100%
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			margin: auto

		img.cross.active
			animation: 1s kick
		img.cross
			position: absolute
			z-index: 1
			display: none
		img.db
			display: block
		img.cross1
			top: 75px
			left: 144px
			width: 61px
			height: 61px
		img.cross2
			top: 280px
			right: 120px
			width: 125px
			height: 125px
		img.cross3
			bottom: -42px
			right: 625px
			width: 90px
			height: 90px
		.text-block
			position: relative
			z-index: 1
			color: #fff
			max-width: 465px
			width: 100%
			margin-left: auto
			padding-top: 500px
			h3
				span.b-text
					font-family: 'HeadingSmallcasePro-Bold'
					font-size: 48px
					text-transform: uppercase
				span.sm-text
					font-family: 'Aeroport-Bold'
					font-size: 30px
					text-transform: uppercase
			p.desc
				font-family: 'Aeroport'
				font-size: 24px
				margin-bottom: 0
				line-height: 1.2
	section.reasons
		background-color: #FF0006
		padding-top: 100px
		padding-bottom: 40px
		span.underline-text::after
			background-color: #000
		.table
			flex-wrap: wrap
			margin: 0 -20px
			margin-top: 90px
			.item
				opacity: 0
				margin: 0 20px
				margin-bottom: 65px
				width: calc((100% / 4) - 40px)
				.number
					font-family: 'HeadingSmallcasePro-Regular'
					font-size: 72px
					line-height: 1.3
				p
					margin: 0
					margin-top: 12px
					color: #fff
					font-size: 18px
					font-family: 'Aeroport'
					line-height: 1.2
			.heart-boxing
				position: relative
				margin: 0 20px
				width: 225px
				height: 207px
				line-height: 195px
				text-align: center
				span
					text-transform: uppercase
					color: #000
					font-size: 48px
					font-family: 'HeadingSmallcasePro-Regular'
			.heart-boxing::before
				content: ''
				position: absolute
				width: 100%
				height: 100%
				top: 0
				left: 0
				background-image: url('../img/be-box/heart-outline.svg')
				background-repeat: no-repeat
				animation: 1s heartPulse infinite
			@keyframes heartPulse
				0%
					transform: scale(1)
				20%
					transform: scale(1.06)
				40%
					transform: scale(1.12)
	section.finishing
		opacity: 0
		height: 927px
		background-image: url('../img/be-box/finishing-bg.jpg')
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		padding-top: 628px
	section.videos
		margin: 250px 0
		padding: 0 40px
		.container
			padding: 95px 0
			border: 4px solid #fff
			border-color: transparent
			transition: 1s
		.container.active
			border-color: #fff
		h2
			line-height: 1.2
			margin-bottom: 95px
		.table
			margin: 0 -60px
			.video-item
				width: calc((100% / 2) - 40px)
				height: auto
				margin: 0 20px
				p.desc
					text-align: center
					margin: 0
					margin-top: 20px
					color: #fff
					font-size: 20px
					font-family: 'Aeroport'
				.video.animate__animated
					opacity: 1
				.video
					cursor: pointer
					opacity: 0
					width: 100%
					height: auto
					position: relative
					.preview
						position: relative
						top: 0
						left: 0
						z-index: 1
						width: 100%
						height: 100%
						transition: 1s
						img.poster
							vertical-align: bottom
							width: 100%
							z-index: -1
						img.img-btn
							position: absolute
							margin: auto
							top: 0
							bottom: 0
							left: 0
							right: 0
							cursor: pointer
							z-index: 1
					iframe
						width: 100%
						height: 100%
						position: absolute
						z-index: 2
						top: 0
						left: 0
	section.trainer
		height: 939px
		background-image: url('../img/be-box/trainer-bg.jpg')
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		.container
			position: relative
			height: 100%
			img.aim
				position: absolute
				display: none
			img.db
				display: block
			img.aim1
				top: 0
				right: 0
				width: 112px
				height: 112px
				margin-top: -56px
				margin-right: 35%
			img.aim2
				left: 0
				bottom: 0
				margin-bottom: 117px
				margin-left: 3.3%
				width: 60px
				height: 60px
		.text-block
			padding-top: 200px
			padding-left: 17.5%
			h2
				display: inline-block
				line-height: 1.2
				span.b-text
					font-size: 48px
				span.sm-text
					font-size: 24px
			.desc
				margin-top: 350px
				font-size: 30px
				color: #fff
				p.subhead
					font-family: 'Aeroport-Bold'
					line-height: 1.2
					margin: 0
				p.text
					font-family: 'Aeroport'
					margin: 0
					margin-top: 10px
					line-height: 1.2
					font-size: 24px
		.trainer-img.animate__animated
			opacity: 1
		.trainer-img
			opacity: 0
			width: 42%
			position: absolute
			z-index: 2
			right: 0
			bottom: 0
			margin-right: 5px
			margin-bottom: 5px
			margin-bottom: 80px
			img
				width: 100%
				position: relative
				z-index: 2
				vertical-align: bottom
		.trainer-img::before
			content: ''
			position: absolute
			right: 0
			bottom: 0
			width: 92%
			height: 92%
			z-index: 1
			background-color: #FF0006
			margin-right: -5px
			margin-bottom: -5px
	section.gym
		padding: 250px 0
		h2
			line-height: 1.3
			margin-bottom: 95px
			opacity: 0
		h2.animate__animated
			opacity: 1
		.gym-carousel
			.owl-item
				opacity: 0.2
				transition: 1s
			.owl-item.active
				opacity: 1
			.owl-nav
				button.owl-next, button.owl-prev, button:hover, button:focus
					position: absolute
					background-color: #FF0006
					border-radius: 50%
					width: 40px
					height: 40px
					top: 0
					bottom: 0
					margin: auto
					background-repeat: no-repeat
					span
						display: none
				button.owl-next
					background-position: 15px center
					margin-right: 8%
					right: 0
					background-image: url('../img/be-box/owl-next.svg')
				button.owl-prev
					background-position: 13px center
					margin-left: 8%
					left: 0
					background-image: url('../img/be-box/owl-prev.svg')
	section.buyCourse
		overflow: hidden
		padding-bottom: 365px
		h2
			line-height: 1.4
			margin-bottom: 240px
			opacity: 0
			transition: 0.3s
		h2.active
			opacity: 1
			animation: 1s kick
			span.underline-text::after
				width: 0
			span.underline-text.active::after
				transition: 0.5s
				width: 105%
		.course-card
			width: 100%
			background-color: #FF0006
			padding-top: 100px
			.text-block, .btns-block
				width: 50%
			.text-block
				text-align: right
				padding-left: 50px
				ul
					opacity: 0
					display: inline-block
					text-align: left
					list-style: none
					margin: 0
					padding: 0
					li
						position: relative
						font-family: 'Aeroport'
						font-size: 20px
						color: #fff
						margin-bottom: 12px
					li::before
						content: ''
						width: 51px
						height: 3px
						background-color: #000
						position: absolute
						right: 100%
						top: 4px
						bottom: 0
						margin: auto
						margin-right: 20px
				.video
					cursor: pointer
					opacity: 0
					width: 462px
					height: 292px
					position: relative
					margin-left: auto
					margin-bottom: -125px
					margin-top: 55px
					.preview
						position: absolute
						z-index: 1
						width: 100%
						height: 100%
						transition: 1s
						img.poster
							position: absolute
							top: 0
							left: 0
							width: 100%
							z-index: -1
						.title
							text-align: left
							color: #fff
							font-size: 16px
							font-family: 'Aeroport-Bold'
							padding-left: 47px
							padding-top: 27px
							text-transform: uppercase
						img.img-btn
							position: absolute
							margin: auto
							top: 0
							bottom: 0
							left: 0
							right: 0
							cursor: pointer
							z-index: 1
					iframe#vimeo-video4
						width: 462px
						height: 292px
						position: relative
						z-index: 2
			.btns-block
				text-align: center
				span.price, a.btn
					margin-right: -20px
					display: inline-block
				span.price
					color: #000
					line-height: 1
					span.number
						font-size: 118px
						font-family: 'HeadingSmallcasePro-Regular'
					span.text
						font-family: 'Aeroport'
						font-size: 36px
						margin-left: 5px
				a.btn
					height: 65px
					line-height: 65px
					width: 340px
					text-align: center
					color: #fff
					font-family: 'Aeroport-Bold'
					font-size: 18px
					text-transform: uppercase
					margin-top: 18px
				a.btn:hover
					font-size: 22.5px
				a.btn-buyNow:hover
					font-size: 19px
				a.btn-submit
					background-color: #000
				a.btn-buyNow
					display: none
					line-height: 60px
					background-color: transparent
					border: 3px solid #fff
	footer
		padding: 150px 0
		.logo
			img.imgLogo
				width: 42px
				height: auto
			.textLogo
				line-height: 1.2
				margin-left: 10px
				span
					color: #fff
				span.name
					letter-spacing: 3px
					font-family: 'MullerExtraBold'
					text-transform: uppercase
					font-size: 26.53px
				span.desc
					font-family: 'MullerRegular'
					font-size: 15px
		a.phone
			color: #fff
			font-family: 'Aeroport'
			font-size: 24px
		a.btn-submit
			display: inline-block
			text-align: center
			background-color: #FF0006
			width: 300px
			height: 65px
			line-height: 64px
			font-family: 'Aeroport-Bold'
			color: #fff
			font-size: 16px
			text-transform: uppercase
		a.btn:hover
			font-size: 20px

@media only screen and(max-height: 830px)
	body
		nav.menu
			overflow-y: scroll
@media only screen and(max-width: 1499px)
	body
		nav.menu
			min-width: 450px
		nav.menu.hidden
			left: -450px
@media only screen and(max-width: 1100px)
	body
		.vimeo-video-popup
			#vimeo-video-container
				iframe
					width: 900px
					height: 517px
		header
			nav
				.contacts
					a
						font-size: 16px
						margin-left: 17px
			.scrollDown
				margin-top: 25px
				margin-bottom: 130px
		section.reasons
			.table
				.heart-boxing
					width: 199px
					height: 182px
					line-height: 165px
				.heart-boxing::before
					background-size: contain

@media only screen and(max-width: 991px)
	body
		nav.menu
			min-width: 400px
		nav.menu.hidden
			left: -400px


@media only screen and(max-width: 960px)
	html
		font-size: 10px
	body
		font-size: 10px
		.container
			padding: 0 3em
		.vimeo-video-popup
			#vimeo-video-container
				iframe
					width: 72rem
					height: 41.5rem
		section
			h2
				font-size: 1em
				span.b-text
					font-size: 9.16em
					line-height: 1.2
				span.sm-text
					font-size: 3.75em
		header
			background-image: url('../img/be-box/header-mob-bg.jpg')
			background-size: contain
			background-repeat: no-repeat
			padding-bottom: 10em
			min-height: auto
			.bg-outer
				display: none
			nav
				padding: 3em 0
				.contacts
					display: none
				.logo
					margin-left: auto
					img.imgLogo
						width: 6.3em
					.textLogo
						margin-left: 1.5em
						span.name
							font-size: 4.2em
						span.desc
							font-size: 1.9em
				.menu
					button.circle
						width: 75px
						height: 75px
					.hamburger
						.hamburger-box
							width: 40px
							.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
								width: 40px
			.maintext-outer
				margin: 0
				position: relative
				.maintext
					margin-top: 33em
					span.tag
						font-size: 3.75em
					h1
						font-size: 10.8em
						max-width: 56rem
					a.btn-submit
						width: 47rem
						height: 11rem
						font-size: 3.3em
						line-height: 11rem
						margin-top: 3rem
					a.btn:hover
						font-size: 4.125em
			.scrollDown
				position: relative
				margin: 0
				p.text
					font-size: 2.9em
					max-width: none
					margin-top: 3.4em
					margin-bottom: 1.1em
		section.wantsTo
			padding-bottom: 29em
			.video.active
				margin-top: 200px
			.video
				width: 100%
				margin: 0
				padding: 0 6em
				.preview
					img.img-btn
						width: 8.2em
					.title
						font-size: 2.9em
						padding-top: 0
						padding-left: 3em
						bottom: 0
						margin-bottom: 2rem
						top: auto
						line-height: 1.2
						max-width: 55rem
			h2
				margin-top: 28em
				max-width: 58rem
				margin-left: auto
				margin-right: auto
			ul.desires
				margin-top: 28em
				padding-left: 15em
				margin-left: 2em
				margin-right: 6em
				li
					margin-top: 5rem
					margin-left: 0
					font-size: 3.75em
					max-width: none
				li::before
					margin-left: -15rem
					margin-top: 2.2rem
				li.active::before
					width: 8rem
			.photo-outer
				padding-top: 0
			.circle-text-outer
				width: 35em
				margin-top: 0
				img.circle-text
					width: 100%
				img.zipper
					width: 10.5em
				.photo2, .photo1
					width: 80em
					height: 53.4em
					background-size: contain
				.photo1
					bottom: 12.5em
					left: 0
					margin-left: -14em
				.photo2	
					top: 16.5em
					left: auto
					right: 0
					margin: 0
					margin-right: -14em
			.figure-block
				margin-top: 49em
				text-align: center
				.fb-img
					display: inline-block
					height: 25em
					background-size: 34em
					margin-left: -34em
				.fb-img.active
					width: 34em
					margin-left: 0
				p
					text-align: left
					margin-top: 2em
					margin-left: 20px	
					font-size: 4.58em
					max-width: 60rem
					br
						display: none
		section.whatGet
			padding-top: 37.5em
			background-size: 205%
			h2
				max-width: 63.5em
				margin-left: auto
				margin-right: auto
				span.sm-text
					line-height: 1.2
			.advantages
				margin-top: 0
				padding-top: 15em
				padding-bottom: 15em
				.table
					margin: 0
					.item
						width: 100%
						max-width: 54em
						margin-bottom: 7em
						p
							font-size: 3.3em
							margin-left: 3.5rem
							br
								display: none
						img
							width: 7.6em
				a.btn-subscribe
					width: 47rem
					height: 11rem
					font-size: 3.3em
					line-height: 11rem
					margin-top: 3rem
				a.btn:hover
					font-size: 3.9em
		section.antidepr
			height: auto
			background-size: cover
			margin-top: 30em
			margin-bottom: 30em
			background-position: 40% 0
			.text-block
				padding-top: 38em
				margin-right: 10em
				padding-bottom: 1em
				h3
					line-height: 1.2
					span.sm-text
						font-size: 4.5rem
					span.b-text
						font-size: 6.66em
						line-height: 1
				p.desc
					font-size: 3.4rem
					margin-top: 8.2rem
					margin-bottom: 3.3rem
					max-width: 46.2rem
			img.cross1
				width: 6.1em
				height: 6.1em
				top: 7em
				left: 2em
			img.cross2
				width: 12.5em
				height: 12.5em
				top: 29em
				right: 5em
			img.cross3
				left: auto
				right: 14em
				width: 9em
				height: 9em
				bottom: -4.2em
		section.reasons
			padding-top: 14em
			padding-bottom: 14em
			.table
				margin: 0
				margin-top: 10em
				display: block
				padding: 0 3em
				.item
					width: 100%
					margin: 0px
					margin-bottom: 10em
					.number
						font-size: 10em
					p
						margin-top: 1em
						font-size: 3.3em
				.heart-boxing
					width: 43.6em
					height: 40.1em
					margin: 0 auto
					margin-top: 2em
					line-height: 37em
					span
						font-size: 9.4em
		section.videos
			margin: 29em 0
			padding: 0 3em
			.container
				padding: 14em 0 5em 0
				h2
					margin-bottom: 9em
					span.sm-text
						display: inline-block
						max-width: 13.33em
						span.tag
							display: block
				.table
					display: block
					margin: 0
					padding: 0 3em
					.video-item
						width: 100%
						margin: 0
						margin-bottom: 9em
						.video
							.preview
								img.img-btn
									width: 8.7em
						p.desc
							font-size: 3.3em
							margin-top: 1em
		section.trainer
			height: auto
			background-image: url('../img/be-box/trainer-bg-mob.jpg')
			background-size: contain
			.container 
				img.aim2
					width: 6em
					height: 6em
					margin-left: 2em
					margin-top: 64.2em
					margin-bottom: auto
					top: 0
					bottom: auto
				img.aim1
					width: 11.2em
					height: 11.2em
					margin-top: -5.6em
					margin-right: 13.6em
			.text-block
				padding-top: 4.5em
				padding-left: 8em
				padding-right: 8em
				h2
					line-height: 1.2
					span.b-text
						font-size: 6.66em
					span.sm-text
						font-size: 3.33em
						line-height: 0.4
				.trainer-img
					position: relative
					width: 95%
					margin-left: auto
					margin-top: 35em
				.desc
					margin-top: 0
					p.text
						margin-top: 0
						font-size: 3.4rem
					p.subhead
						font-size: 4rem
		section.gym
			padding: 29em 0
			background-position: center
			h2
				margin-bottom: 9.5em
		section.buyCourse
			padding-bottom: 45.5em
			h2
				margin-bottom: 29em
			.container
				padding: 0
				.course-card
					position: relative
					display: block
					padding-top: 15em
					padding-bottom: 39em
					.text-block, .btns-block
						width: 100%
					.text-block
						text-align: left
						padding-left: 11em
						padding-right: 9em
						ul
							li::before
								width: 11em
								margin-top: 0.5em
								margin-bottom: 0
								margin-right: 2rem
							li
								font-size: 3.33em
								line-height: 1.2
								margin-bottom: 1em
						.video
							position: absolute
							bottom: 0
							width: 100%
							height: auto
							padding: 0 6em
							left: 0
							margin-bottom: -22%
							margin-top: 5.5em
							.preview
								position: relative
								height: auto
								img.img-btn
									width: 8.7em
							img.poster
								position: relative
								vertical-align: bottom
							.title
								position: absolute
								top: 0
								padding-left: 4.7rem
								padding-right: 1em
								padding-top: 2.7rem
								font-size: 2.6em
								line-height: 1

					.btns-block	
						span.price
							display: block
							text-align: center
							span.number
								font-size: 16.53em
							span.text
								font-size: 5.06em
						span.price, a.btn
							margin: 0
						a.btn
							width: 53.3rem
							height: 11rem
							font-size: 3.3em
							line-height: 11rem
							margin-top: 2rem
						a.btn:hover
							font-size: 4.125em
						a.btn-buyNow:hover
							font-size: 3em
						a.btn-buyNow
							font-size: 2.7em
							line-height: 9.9rem
		section.finishing
			height: 57em
			background-size: cover
			padding-top: 36em
		footer
			padding: 29em 0 
			.footer-d-flex
				display: block
				text-align: center
				.logo
					text-align: left
					img.imgLogo
						width: 6.3em
					.textLogo
						margin-left: 1.5em
						span.name
							font-size: 4.2em
						span.desc
							font-size: 1.9em

				a.phone
					display: block
					font-size: 5em
					margin: 3em 0
				a.btn-submit
					width: 47rem
					height: 11rem
					font-size: 3.3em
					line-height: 11rem
					margin-top: 3rem
				a.btn:hover
					font-size: 4.125em

@media only screen and (max-width: 767px)
	body
		nav.menu
			min-width: 390px
		nav.menu.hidden
			left: -390px


@media only screen and(max-width: 749px)
	body, html
		font-size: 6.66px
	body
		.scrollText-block
			height: 60px
			background-size: 574px
			// background-repeat-y: no-repeat
			// background-position-y: center
		@keyframes scrollText
			0%
				background-position-x: 0
			100%
				background-position-x: -574px
		header
			nav
				.menu
					button.circle
						width: 66px
						height: 66px
					.hamburger
						.hamburger-box
							width: 35px
							.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
								width: 35px
			.maintext
				margin-top: 29em

@media only screen and(max-width: 499px)
	body, html
		font-size: 5px
	body
		header
			nav
				.menu
					button.circle
						width: 50px
						height: 50px
						padding: 0
					.hamburger
						.hamburger-box
							width: 25px
							height: 19px
							.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
								width: 25px
								height: 3px
							.hamburger-inner
								top: 2px
							.hamburger-inner::before
								top: 8px
							.hamburger-inner::after
								top: 16px
					.hamburger--slider.is-active 
						.hamburger-inner::after
							transform: translate3d(0, -16px, 0) rotate(-90deg)
					.hamburger--slider.is-active .hamburger-inner
						transform: translate3d(0, 8px, 0) rotate(45deg)
			.maintext-outer
				.maintext
					margin-top: 15em
		section.wantsTo
			.container
				padding-top: 30%
				margin-top: -30%
				ul.desires
					margin-top: 7.5em
		section.whatGet
			h2
				margin-top: 20em
		section.trainer
			background-position-y: top
			.text-block
				.trainer-img
					margin-bottom: 5em
					margin-top: 40em
		section.videos
			.container
				.table
					margin-bottom: -15%
		section.gym
			.gym-carousel
				.owl-nav
					button.owl-next, button.owl-prev, button:hover, button:focus
						width: 30px
						height: 30px
					button.owl-next
						background-size: 11px
						background-position: 9px center
						margin-right: 2%
						transform: rotate(180deg)
						background-image: url('../img/be-box/owl-prev.svg')
					button.owl-prev
						background-size: 11px
						background-position: 9px center
						margin-left: 2%
		section.buyCourse
			.course-card
				.text-block
					ul
						li::before
							top: 1px

		footer
			.footer-d-flex
				.logo
					.textLogo
						span.name
							font-size: 4.2em
						span.desc
							font-size: 1.9em



@media only screen and(max-width: 374px)
	body
		section.wantsTo
			.video
				.preview
					.title
						font-size: 2.2em
		section
			h2
				span.b-text
					font-size: 8em
		section.whatGet
			.advantages
				.table
					.item
						margin-left: 2em
		section.trainer
			.text-block
				.desc
					font-size: 3.2em

@media only screen and(max-width: 600px)
	body
		nav.menu
			padding-top: 125px
@media only screen and(max-width: 500px)
	body
		nav.menu
			width: 100%
			min-width: 320px
			ul
				li.item
					a
						font-size: 20px
		nav.menu.hidden
			left: -100%


@media only screen and(max-width: 400px)
	body
		section.buyCourse
			.course-card
				.text-block
					.video
						margin-bottom: -30px

