@import "_mixins/font-face"

+font-face("MullerLight", "../fonts/MullerLight/MullerLight")

// Aeroport
// +
+font-face("Aeroport", "../fonts/Aeroport/Aeroport")
+font-face("Aeroport-Bold", "../fonts/Aeroport-Bold/Aeroport-Bold")
+font-face("Aeroport-BoldItalic", "../fonts/Aeroport-BoldItalic/Aeroport-BoldItalic")
+font-face("Aeroport-Italic", "../fonts/Aeroport-Italic/Aeroport-Italic")
// +
+font-face("Aeroport-Light", "../fonts/Aeroport-Light/Aeroport-Light")
+font-face("Aeroport-LightItalic", "../fonts/Aeroport-LightItalic/Aeroport-LightItalic")
// +
+font-face("Aeroport-Medium", "../fonts/Aeroport-Medium/Aeroport-Medium")
+font-face("Aeroport-MediumItalic", "../fonts/Aeroport-MediumItalic/Aeroport-MediumItalic")
+font-face("AeroportMono", "../fonts/AeroportMono/AeroportMono")

// HeadingSmallcasePro
// +
+font-face("HeadingSmallcasePro-Bold", "../fonts/HeadingSmallcasePro-Bold/HeadingSmallcasePro-Bold")
+font-face("HeadingSmallcasePro-Book", "../fonts/HeadingSmallcasePro-Book/HeadingSmallcasePro-Book")
+font-face("HeadingSmallcasePro-ExtLt", "../fonts/HeadingSmallcasePro-ExtLt/HeadingSmallcasePro-ExtLt")
+font-face("HeadingSmallcasePro-ExtraBold", "../fonts/HeadingSmallcasePro-ExtraBold/HeadingSmallcasePro-ExtraBold")
+font-face("HeadingSmallcasePro-Heavy", "../fonts/HeadingSmallcasePro-Heavy/HeadingSmallcasePro-Heavy")
// +
+font-face("HeadingSmallcasePro-Light", "../fonts/HeadingSmallcasePro-Light/HeadingSmallcasePro-Light")
// +
+font-face("HeadingSmallcasePro-Regular", "../fonts/HeadingSmallcasePro-Regular/HeadingSmallcasePro-Regular")
+font-face("HeadingSmallcasePro-Thin", "../fonts/HeadingSmallcasePro-Thin/HeadingSmallcasePro-Thin")

$white: #ffffff
$black: #000000
$accent: #FF3536
$blackP: #120E18
$gray: #E7E7E7


html, body
	margin: 0
	padding: 0
	width: 100%
body
	-webkit-text-size-adjust: none
*
	box-sizing: border-box
.ovh
	overflow: hidden
.ovv
	overflow: visible
.fixed
	position: fixed
h1, h2, h3, span, p
	font-weight: normal
img, a.btn
	user-select: none
*::selection
	background: $accent
body
	position: relative
	overflow-x: hidden
	width: 100%
	background-color: $white
	font-size: 10px
	line-height: normal
	a, a:active, a:focus, a:link, a:visited
		outline: none
		text-decoration: none
		color: inherit
	.vimeo-video-popup
		display: none
		position: fixed
		z-index: 9000
		margin-right: auto
		top: 0
		left: 0
		right: 0
		bottom: 0
		#vimeo-video-container
			width: 100%
			height: 100%
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			justify-content: center
			background-color: rgba(0, 0, 0, 0.5)
			transition: 0.5s
			cursor: pointer
			position: relative
			img.btn-close
				position: absolute
				top: 0
				right: 0
				margin-top: 32px
				margin-right: 31px
				cursor: pointer
				opacity: 0.5
				transition: 0.3s
			img.btn-close:hover
				opacity: 1
			iframe
				width: 1077px
				height: 600px
				max-height: 100%
	#menu-pagedim
		background-color: $black
		opacity: 0
		transition: 0.3s
		position: absolute
		display: none
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 4500
	#menu-pagedim.turned
		display: block
	#menu-pagedim.turnedOpacity
		opacity: 0.3
	nav.menu.hidden
		left: -500px
	nav.menu
		position: fixed
		left: 0px
		top: 0
		z-index: 5000
		height: 100%
		min-width: 500px
		transition: 0.5s
		padding-top: 150px
		background-color: #303030
		ul 
			padding: 0
			list-style-type: none
			line-height: 1.6
			.separLine
				background-color: #eeeeee
				width: 100%
				height: 1px
				margin-top: 20px
				margin-bottom: 20px
			li.item 
				padding-left: 65px
				padding-right: 65px
				padding-top: 10px
				padding-bottom: 10px
				a
					transition: 0.3s
					text-decoration: none
					outline: none
					color: $white
					font-family: 'MullerLight'
					font-size: 24px
				a:hover
					color: $accent
	.container
		max-width: 1200px
		width: 100%
		margin: auto
		padding-left: 20px
		padding-right: 20px
	.d-flex
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
	.align-items-center
		align-items: center
	.justify-content-center
		justify-content: center
	.justify-content-between
		justify-content: space-between
	@keyframes blink
		0%
			opacity: 0
		50%
			opacity: 1
		100%
			opacity: 0
	header
		min-height: 100vh
		position: relative
		.background
			position: absolute
			z-index: -1
			width: 100%
			height: 100%
			top: -62px
			left: 0
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: flex-start
			padding-right: 7.35%
			padding-left: 31%
			overflow: hidden
			.photo1, .photo2
				overflow: hidden
				position: relative
				img
					position: relative
					opacity: 0
					transform: scale(2)
					vertical-align: bottom
				img.mob
					display: none
			.photo1.active1, .photo2.active1
				background-position: bottom left
				transition: 1.5s
				img
					transition: 0.75s
			.photo1.img-anim, .photo2.img-anim
				img
					transform: none
			.photo1
				background: linear-gradient(80deg, #d9d9d9, #d9d9d9 20%, #fff 30%, #fff 100%)
				background-size: 500% 500%
				background-position: top right
				margin-left: auto
				img
					width: 605px	
					height: auto
				.white-board-mob
					display: none
			.photo2
				background: linear-gradient(80deg, $accent, $accent 20%, #fff 30%, #fff 100%)
				background-size: 500% 500%
				background-position: top right
				margin-top: 250px
				img
					width: 405px
					height: auto
		nav
			padding-top: 35px
			padding-right: 135px
			.menu
				.circle
					border-radius: 50%
					position: relative
					z-index: 5000
					cursor: pointer
					background-color: $accent
					width: 52px
					height: 52px
					outline: none
				.hamburger
					outline: none
					padding: 13px
					.hamburger-box
						width: 27px
						height: 15px
						.hamburger-inner, 
						.hamburger-inner::after,
						.hamburger-inner::before
							background-color: $white
							width: 27px
							height: 3px
							transition-duration: 0.5s
							border-radius: 0
						.hamburger-inner
							top: 1px
						.hamburger-inner::before
							top: 6px
						.hamburger-inner::after
							top: 12px
				.hamburger--slider.is-active 
					.hamburger-inner::after
						transform: translate3d(0, -12px, 0) rotate(-90deg)
					.hamburger-inner
						transform: translate3d(0, 6px, 0) rotate(45deg)
				.hamburger:hover, .hamburger.is-active:hover
					opacity: 1
			.logo
				margin-left: 30px
				margin-right: 55px
				img
					width: 163px
					height: 37px
					vertical-align: bottom
			.contacts
				margin-right: auto
				a
					font-family: "Aeroport"
					font-size: 16px
					color: $blackP
					font-weight: 100
				a:not(:last-child)
					margin-right: 25px
			.socials
				padding-bottom: 5px
				align-items: flex-end
				a
					img
						width: 28px
						height: 28px
						vertical-align: bottom
				a:not(:last-child)
					margin-right: 10px
		section.first
			padding-top: 100px
			padding-bottom: 150px
			h1
				margin-top: 0
				margin-bottom: 30px
				font-family: 'HeadingSmallcasePro-Regular'
				font-size: 95px
				color: $black
				text-transform: uppercase
				letter-spacing: -2px
				line-height: 86px
				.online
					position: relative
					display: inline-block
					.dot
						position: absolute
						top: -16px
						right: -23px
						background-color: $accent
						width: 17px
						height: 17px
						border-radius: 50%
						animation: 1.5s blink infinite
			p.desc
				margin-top: 0
				margin-bottom: 45px
				font-family: 'Aeroport-Medium'
				font-size: 20px
				font-weight: 100
				color: $black
				letter-spacing: 1px
				line-height: normal
			.number
				font-family: 'HeadingSmallcasePro-Light'
				font-size: 219px
				line-height: 1
				color: $gray
				margin-bottom: -13px
			.number.mob
				display: none
			.btn-outer, .offer
				display: inline-block
				vertical-align: top
				text-align: center
			.btn-outer
				margin-right: 47px
			a.btn.try
				background-color: $black
				display: inline-block
				width: 176px
				height: 57px
				line-height: 60px
				text-align: center
				span
					transition: 0.3s
					font-family: 'HeadingSmallcasePro-Regular'
					font-size: 18px
					color: $white
					text-transform: uppercase
					display: block
			a.btn.try:hover
				span
					transform: scale(1.2)
			.offer.trans-active
				transition: 0s
				background: linear-gradient(80deg, $accent, $accent 20%, #000 30%, #000 100%)
				background-size: 500% 500%
				background-position: top right
			.offer.active1
				background-position: bottom left
				transition: 1.5s
			.offer
				background: linear-gradient(80deg, #000, #000 20%, #fff 30%, #fff 100%)
				background-size: 500% 500%
				background-position: top right
				color: $white
				padding: 45px 60px 135px 73px
				.headtext
					margin-bottom: 40px
					span
						position: relative
						font-family: 'HeadingSmallcasePro-Regular'
						font-size: 36px
						text-transform: uppercase
					span::after
						content: ''
						position: absolute
						left: 0
						bottom: -5px
						width: 100%
						height: 3px
						background-color: $white
				p.text
					margin-top: 0
					margin-bottom: 37px
					font-size: 24px
					font-family: 'Aeroport'
					line-height: 1
				a.btn
					margin-bottom: 45px
					display: inline-block
					width: 174px
					height: 57px
					line-height: 55px
					border: 3px solid $white
					span
						transition: 0.3s
						font-size: 18px
						font-family: 'HeadingSmallcasePro-Bold'
						text-transform: uppercase
						display: block
				a.btn:hover
					span
						transform: scale(1.2)
				.arrow
					position: relative
					animation: 1s linear moveDown infinite
				@keyframes moveDown
					0%
						opacity: 0
						top: 0
					20%
						opacity: 1
						top: 7px
					80%
						top: 28px
						opacity: 1
					100%
						opacity: 0
						top: 35px
	main
		section.types
			position: relative
			padding-top: 85px
			padding-bottom: 180px
			background-color: $black
			overflow: hidden
			iframe
				user-select: none
				position: absolute
				width: 1920px
				height: 1080px
				opacity: 0.5
				top: 0
				left: 0
				right: 0
				bottom: 0
				margin: 0 auto
				z-index: 0
			.container
				position: relative
				z-index: 1
			h2
				margin-top: 0
				margin-bottom: 75px
				font-family: 'HeadingSmallcasePro-Regular'
				font-size: 72px
				color: $white
				text-transform: uppercase
			ol
				counter-reset: myCounter1
				margin-top: 0
				margin-bottom: 0
				margin-left: auto
				padding: 0
				max-width: 302px
				li:not(:last-child)
					margin-bottom: 17px
				li
					position: relative
					list-style: none
					font-family: 'Aeroport-Light'
					font-size: 24px
					color: $white
					line-height: 1
					.sm
						font-size: 16px
				li::before
					content: counter(myCounter1, decimal-leading-zero)
					counter-increment: myCounter1
					margin-right: 35px
					position: absolute
					right: 100%
					top: 1px
					color: $accent
		section.wantsTo
			position: relative
			padding-top: 170px
			padding-bottom: 210px
			.background, .info-board-outer
				position: absolute
				z-index: -1
				width: 100%
				height: 100%
				top: 0
				left: 0
				overflow: hidden
				padding-top: 140px
				text-align: center
			.background
				.photo1
					background: linear-gradient(80deg, #d9d9d9, #d9d9d9 20%, #fff 30%, #fff 100%)
					background-size: 500% 500%
					background-position: top right
					display: inline-block
					margin-left: -10%
					img
						width: 608px
						height: auto
						opacity: 0
						transition-delay: 2s
						transition-duration: 1s
				.photo1.active1
					background-position: bottom left
					transition: 1.5s
					img
						opacity: 1
			.info-board::before
				content: ''
				position: absolute
				left: 0
				top: -225px
				width: 19px
				height: 19px
				border-radius: 50%
				animation: 1.5s blink infinite
				background-color: $accent
			.info-board.active1
				background-position: bottom left
				transition: 1.5s
			.info-board
				background: linear-gradient(80deg, $accent, $accent 20%, #fff 30%, #fff 100%)
				background-size: 500% 500%
				background-position: top right
				position: absolute
				left: 55.5%
				bottom: 155px
				padding-top: 70px
				padding-bottom: 58px
				padding-left: 120px
				padding-right: 100px
				width: 685px
				text-align: left
				h3
					opacity: 0
					margin-top: 0
					margin-bottom: 50px
					font-family: 'HeadingSmallcasePro-Regular'
					font-size: 72px
					font-weight: 100
					color: $white
					text-transform: uppercase
				p.desc
					margin-top: 0
					margin-bottom: 65px
					font-family: 'Aeroport-Light'
					font-size: 24px
					line-height: 1.3
					color: $white
				.plus
					opacity: 0
					svg
						width: 140px
						height: 140px
					img.mob
						display: none
				.plus.animate__animated
					opacity: 1

			h2
				margin-top: 0
				margin-bottom: 50px
				font-family: 'HeadingSmallcasePro-Regular'
				font-size: 72px
				color: $black
				text-transform: uppercase
				line-height: 66px
			ul
				margin-top: 0
				margin-bottom: 50px
				padding-left: 64px
				list-style: none
				max-width: 340px
				li:not(:last-child)
					margin-bottom: 20px
				li
					position: relative
					font-family: 'Aeroport'
					font-size: 20px
					color: $blackP
				li::before
					content: ''
					position: absolute
					top: 13px
					right: 100%
					margin-right: 20px
					width: 44px
					height: 2px
					background-color: $accent
			.check
				opacity: 0
				svg
					width: 163px
					height: 122px
				img.mob
					display: none
			.check.animate__animated
				opacity: 1
		section.howGoing
			position: relative
			padding-top: 95px
			margin-bottom: 120px
			.background.active1
				background-position: bottom left
				transition: 1.5s
			.background
				background: linear-gradient(80deg, #f2f2f2, #f2f2f2 20%, #fff 30%, #fff 100%)
				background-size: 500% 500%
				background-position: top right
				position: absolute
				top: 0
				right: 0
				left: 0
				z-index: -1
				width: 100%
				height: 100%
			.laptop-video
				position: absolute
				bottom: -110px
				right: 53%
				user-select: none
				.video-layer
					position: absolute
					top: 14px
					left: 105px
					width: 691px
					overflow: hidden
					background-color: $black
					iframe
						width: 753px
						height: 432px
						margin-left: -49px
						background-color: $black
			h2
				margin-top: 0
				margin-bottom: 90px
				font-family: 'HeadingSmallcasePro-Regular'
				font-size: 72px
				color: $black
				text-align: center
				text-transform: uppercase
			.text-block
				margin-left: auto
				max-width: 590px
				padding-right: 60px
				p.desc
					margin-top: 0
					margin-bottom: 55px
					font-family: 'Aeroport'
					font-size: 20px
					color: $blackP
					line-height: 1.2
					span.accent
						color: $accent
				ul
					margin-top: 0
					margin-bottom: 30px
					padding-left: 64px
					list-style: none
					li:not(:last-child)
						margin-bottom: 12px
					li
						position: relative
						font-family: 'Aeroport'
						font-size: 20px
						color: $black
					li::before
						content: ''
						position: absolute
						top: 14px
						right: 100%
						margin-right: 20px
						width: 44px
						height: 2px
						background-color: $accent
				a.btn
					position: relative
					margin-top: 30px
					margin-bottom: -30px
					display: inline-block
					width: 212px
					height: 58px
					line-height: 61px
					text-align: center
					background-color: $accent
					span
						font-family: 'HeadingSmallcasePro-Regular'
						font-size: 18px
						color: $white
						text-transform: uppercase
						transition: 0.3s
						display: block
				a.btn:hover
					span
						transform: scale(1.2)
		section.equipment
			padding-top: 130px
			padding-bottom: 160px
			overflow: hidden
			h2
				margin-top: 0
				margin-bottom: 210px
				font-family: 'HeadingSmallcasePro-Light'
				font-size: 115px
				color: $black
				text-transform: uppercase
				text-align: center
				letter-spacing: -2px
				span.accent
					color: $accent
			h3
				margin-top: 0
				margin-bottom: 70px
				padding-left: 300px
				font-family: 'HeadingSmallcasePro-Regular'
				font-size: 72px
				color: $white
				text-transform: uppercase
			.black-board
				position: relative
				background-color: $black
				padding-top: 165px
				padding-left: 60px
				padding-right: 55px
				padding-bottom: 170px
				display: inline-block
				.back-photo
					position: absolute
					z-index: -1
					left: 130px
					bottom: 47px
					background-color: #F1E9E8
					img
						width: 1177px
						height: 657px
						vertical-align: bottom
				ul
					list-style: none
					padding-left: 75px
					margin: 0
					li:not(:last-child)
						margin-bottom: 19px
					li
						position: relative
						font-family: 'Aeroport-Light'
						font-size: 20px
						color: $white
					li::before
						content: ''
						position: absolute
						top: 14px
						right: 100%
						margin-right: 30px
						width: 44px
						height: 2px
						background-color: $accent
		section.fitnessProgram
			position: relative
			padding-top: 170px
			padding-bottom: 145px
			.background
				position: absolute
				z-index: -1
				top: 0
				left: 0
				width: 100%
				height: 100%
				text-align: center
				overflow: hidden
				.photo
					margin-right: -10px
					display: inline-block
					background-color: #F1E9E8
					img
						width: 1404px
						height: auto
						vertical-align: bottom
			h2
				margin-top: 0
				margin-bottom: 340px
				padding-right: 100px
				font-family: 'HeadingSmallcasePro-Regular'
				font-size: 72px
				color: $black
				text-align: right
				text-transform: uppercase
			.text-block
				padding-left: 300px
				max-width: 705px
				p.text
					margin-top: 0
					margin-bottom: 0
					font-family: 'Aeroport'
					font-size: 20px
					color: $black
				p.text:not(:last-child)
					margin-bottom: 30px
				.number, .subhead
					font-family: 'Aeroport-Medium'
					color: $accent
				.number 
					font-size: 112px
					line-height: 0.9
				.subhead
					font-size: 24px
					text-transform: uppercase
		section.nutritionProgram
			position: relative
			padding-bottom: 150px
			padding-top: 100px
			.background
				position: absolute
				z-index: -1
				top: 0
				left: 0
				width: 100%
				height: 100%
				padding-left: 53%
				overflow: hidden
				.photo
					background-color: #F1E9E8
					display: inline-block
					img
						width: 705px
						height: auto
						vertical-align: bottom
			.container
				position: relative
			h2
				margin-top: 0
				margin-bottom: 95px
				padding-left: 300px
				font-family: 'HeadingSmallcasePro-Regular'
				font-size: 72px
				color: $black
				text-transform: uppercase
			.phone-block
				position: absolute
				top: 170px
				left: -4%
				pointer-events: none
				display: inline-block
				// margin-right: 115px
				// margin-left: -70px
				img.phone
					position: relative
					z-index: 2
					width: 439px
					height: auto
					vertical-align: bottom
					line-height: normal
					pointer-events: none
				// img.view
				// 	margin: auto
				// 	position: absolute
				// 	z-index: 1
				// 	top: 17px
				// 	left: 0
				// 	right: 0
				// 	width: 389px
				// 	height: auto
				// 	display: none
				// img.view.active
				// 	display: block
				.owl-carousel
					margin: auto
					position: absolute
					z-index: 1
					top: 17px
					left: 0
					right: 0
					width: 389px
			.phone-block::before
				content: ''
				position: absolute
				z-index: 0
				top: 17px
				left: 0
				right: 0
				margin: auto
				width: 389px
				height: 828px
				background-color: $black
			.text-block
				display: inline-block
				max-width: 410px
				margin-left: 500px
				.number, .subhead
					font-family: 'Aeroport-Medium'
					color: $accent
				.number
					font-size: 112px
					line-height: 0.9
				.subhead
					font-size: 24px
					text-decoration: underline
					text-transform: uppercase
					cursor: pointer
					line-height: 1.2
				p.text
					margin-top: 3px
					margin-bottom: 0
					line-height: 1.2
					font-family: 'Aeroport'
					font-size: 20px
					color: $black 
				p.text:not(:last-child)
					margin-bottom: 40px
				a.btn
					display: inline-block
					width: 190px
					height: 58px
					line-height: 60px
					text-align: center
					background-color: $accent
					span
						font-family: 'HeadingSmallcasePro-Regular'
						font-size: 18px
						color: $white
						text-transform: uppercase
						transition: 0.3s
						display: block
				a.btn:hover
					span
						transform: scale(1.2)
		section.trialClass
			position: relative
			padding-top: 80px
			padding-bottom: 110px
			margin-bottom: 145px
			.background
				position: absolute
				z-index: -1
				top: 0
				left: 0
				width: 100%
				height: 100%
				overflow: hidden
				.layer
					height: 100%
					width: 1400px
					margin: auto
					background-color: #f2f2f2
			h2, p.desc
				text-align: center
				margin-top: 0
			h2
				margin-bottom: 30px
				font-family: 'HeadingSmallcasePro-Regular'
				font-size: 72px
				color: $black
				text-transform: uppercase
			p.desc
				margin-bottom: 35px
				font-family: 'Aeroport-Medium'
				font-size: 24px
				color: $black
				text-transform: uppercase
			.videos
				margin-bottom: 50px
				user-select: none
				.video:not(:last-child)
					margin-right: 40px
				.video:hover
					.big-btn
						transform: scale(1.2)
				.video
					cursor: pointer
					width: calc((100% / 2) - 22px)
					display: inline-block
					vertical-align: top
					position: relative
					img
						width: 100%
						height: auto
						vertical-align: bottom
					.big-btn
						transition: 0.3s
						position: absolute
						top: 0
						bottom: 0
						left: 0
						right: 0
						margin: auto
						border-width: 1.5px
						border-color: $white
						border-style: solid
						border-radius: 44px
						width: 109px
						height: 86px
						cursor: pointer
						svg
							position: absolute
							top: 0
							bottom: 0
							left: 0
							right: -7px
							margin: auto
			.text-block
				margin-top: 0
				text-align: center
				span.b, p.text
					vertical-align: middle
					line-height: 20px
				p.text
					margin-bottom: 0
					margin-top: -8px
					margin-right: 30px
					display: inline-block
					font-family: 'Aeroport-Medium'
					font-size: 20px
					color: $black
				span.b
					font-family: 'HeadingSmallcasePro-Regular'
					font-size: 60px
					margin-right: 15px
					text-transform: uppercase
				a.btn
					display: inline-block
					width: 261px
					height: 58px
					line-height: 61px
					text-align: center
					background-color: $black
					span
						font-family: 'HeadingSmallcasePro-Regular'
						font-size: 18px
						color: $white
						text-transform: uppercase
						transition: 0.3s
						display: block
				a.btn:hover
					span
						transform: scale(1.2)
		section.price
			position: relative
			padding: 185px 0
			margin-bottom: 150px
			.background
				position: absolute
				z-index: -1
				overflow: hidden
				width: 100%
				height: 100%
				top: 0
				left: 0
				.photo
					width: 1544px
					position: absolute
					left: 0
					right: 0
					margin: auto
					background-color: $accent
					img
						height: auto
						width: 100%
						vertical-align: bottom
			.text-block
				padding-left: 160px
				h2
					margin-top: 0
					margin-bottom: 0
					font-family: 'HeadingSmallcasePro-Regular'
					font-size: 72px
					color: $white
					text-transform: uppercase
				p.price
					margin-top: 0
					margin-bottom: 0
					font-family: 'Aeroport'
					font-size: 96px
					color: $black
				a.btn
					display: inline-block
					width: 194px
					height: 58px
					line-height: 61px
					text-align: center
					background-color: $black
					span
						display: block
						transition: 0.3s
						font-family: 'HeadingSmallcasePro-Regular'
						font-size: 18px
						color: $white
						text-transform: uppercase
				a.btn:hover
					span
						transform: scale(1.2)
		section.viktoria
			padding-top: 100px
			padding-bottom: 265px
			.container
				position: relative
			.photo
				background-color: #F1E9E8
				position: absolute
				z-index: -1
				top: -100px
				left: 0
				img
					width: 533px
					height: auto
					vertical-align: bottom
			.text-block
				margin-left: auto
				max-width: 680px
				h2
					margin-top: 0
					margin-bottom: 45px
					font-family: 'HeadingSmallcasePro-Regular'
					font-size: 72px
					color: $black
					text-transform: uppercase
				.black-board
					position: relative
					padding-left: 70px
					padding-right: 115px
					padding-top: 65px
					padding-bottom: 55px
					background-color: $black
					.back
						display: none
						position: absolute
						z-index: 1
						width: 100%
						height: 100%
						top: 0
						left: 0
						background-color: $accent
					.name
						font-family: 'Aeroport'
						font-size: 24px
						color: $white
						margin-bottom: 25px
					ul
						list-style: none
						padding: 0
						margin-top: 0
						margin-bottom: 40px
						li:not(:last-child)
							margin-bottom: 5px
						li
							position: relative
							font-family: 'Aeroport-Light'
							font-size: 20px
							color: $white
							line-height: 1.3
							.sub
								font-family: 'Aeroport-Medium'
								margin-bottom: 5px
								margin-top: 5px
						li::before
							content: ''
							position: absolute
							top: 14px
							right: 100%
							margin-right: 10px
							width: 34px
							height: 2px
							background-color: $accent
					.subhead
						font-family: 'Aeroport-Light'
						font-size: 18px
						color: $white
						margin-bottom: 40px
					.hidden
						display: none
					a.site
						font-family: 'Aeroport-Light'
						font-size: 20px
						color: $accent
						text-decoration: underline
						margin-bottom: 25px
					.more
						display: inline-block
						cursor: pointer
						font-family: 'Aeroport-Light'
						font-size: 20px
						color: $white
						border-bottom: 1px dashed $white
		section.feedback
			h2
				margin-bottom: 30px
			a.btn
				display: block
				margin: auto
				width: 273px
				height: 58px
				line-height: 60px
				text-align: center
				background-color: $accent
				span
					display: block
					text-transform: uppercase
					transition: 0.3s
					font-family: 'HeadingSmallcasePro-Regular'
					font-size: 18px
					color: $white
			a.btn:hover
				span
					transform: scale(1.2)
			.carousel
				width: 85%
				margin: auto
				margin-bottom: 52px
		section.compare
			h2
				margin-bottom: 70px
			.carousel
				max-width: 1120px
				margin: 0 auto
			.owl-theme
				.owl-nav
					button.owl-next, button.owl-prev
						top: -45%
					button.owl-next
						right: -100px
					button.owl-prev
						left: -100px

		section.feedback, section.compare
			padding-bottom: 140px
			.owl-theme
				.owl-nav
					margin-top: 0
					.owl-prev:hover, .owl-next:hover, 
						background-color: $accent
					.owl-prev, .owl-next
						transition: 0.3s
						outline: none
						position: absolute
						top: 0
						bottom: 0
						margin: auto
						width: 30px
						height: 30px
						border-radius: 50%
						background-color: $black
						background-repeat: no-repeat
						background-size: 8px
						span
							display: none
					.owl-prev
						left: -17%
						background-position: 11px 9px
						background-image: url('../img/be-box/owl-prev.svg')
					.owl-next
						right: -17%
						background-position: 11px 9px
						background-image: url('../img/be-box/owl-prev.svg')
						transform: rotate(180deg)
				.owl-dots
					margin-top: 28px
					.owl-dot
						outline: none
						span
							width: 6px
							height: 6px
							background-color: #C0C0C0
							margin: 0 10px
							transition: 0.3s
					.owl-dot:hover, .owl-dot.active
						span
							background-color: $accent
		section.feedback, section.compare, section.faq
			overflow: hidden
			h2
				margin-top: 0
				font-family: 'HeadingSmallcasePro-Regular'
				font-size: 72px
				color: $blackP
				text-transform: uppercase
				text-align: center
		section.faq
			padding-bottom: 150px
			h2
				margin-bottom: 90px
			.questions
				padding: 0 100px
				.separ
					height: 1px
					width: 100%
					background-color: #F0F0F0
					display: block
				p.head
					font-family: 'Aeroport-Bold'
					font-size: 24px
					color: $blackP
					margin: 0
					cursor: pointer
					padding: 24px 0
					position: relative
				p.head::after, p.head::before
					content: ''
					position: absolute
					top: 0
					bottom: 0
					right: 0
					margin: auto
					width: 1px
					height: 23px
					background-color: $accent
					transition: 0.3s
				p.head.active::after
					transform: rotate(45deg)
				p.head.active::before
					transform: rotate(-45deg)
				p.head::before
					transform: rotate(90deg)
				p.hidden
					font-family: 'Aeroport'
					font-size: 18px
					color: $black
					display: none
					margin: 0
					max-width: 80%
					line-height: 1.25
					margin-bottom: 30px
		section.callMe
			position: relative
			margin-bottom: 200px
			.background
				position: absolute
				z-index: -1
				overflow: hidden
				width: 100%
				height: 100%
				top: 0
				left: 0
				.layer
					width: 1445px
					height: 492px
					position: absolute
					left: 0
					right: 0
					bottom: 0
					margin: auto
					background-color: #F8F8F8
			.text-block, form
				display: inline-block
				vertical-align: bottom
			.text-block
				padding-left: 100px
				padding-top: 280px
				padding-bottom: 100px
				h2
					font-family: 'HeadingSmallcasePro-Regular'
					font-size: 72px
					color: $accent
					text-transform: uppercase
					margin-top: 0
					margin-bottom: 35px
				p.subhead
					font-family: 'Aeroport-Medium'
					font-size: 24px
					color: $black
					margin-top: 0
					margin-bottom: 50px
					line-height: 1.2
				a
					font-family: 'Aeroport'
					font-size: 20px
					color: #000
					line-height: 1.5
				a.underline
					border-bottom: 2px solid #9E9E9E
			form
				width: 515px
				margin-left: 115px
				margin-right: -50px
				padding: 130px 95px 60px 80px
				background-image: url('../img/marathon/nutritionProgram-iphone.png')
				background-repeat: no-repeat
				background-size: cover
				position: relative
				p.form-head
					text-transform: uppercase
					font-family: 'HeadingSmallcasePro-Light'
					font-size: 36px
					color: $accent
					margin-bottom: 65px
				.text-field
					width: 100%
					border: none
					border-bottom: 1px solid #3E3E3E
					background-color: $black
					font-family: 'Aeroport-Medium'
					font-size: 16px
					font-weight: normal
					color: $white
					outline: none
					margin-bottom: 24px
					height: 33px
					padding-bottom: 12px
				.text-field::placeholder
					color: #808080
				.text-field::-webkit-input-placeholder
					color: #808080
				.text-field::-moz-placeholder
					color: #808080
				.text-field:-moz-placeholder
					color: #808080
				.text-field:-ms-input-placeholder
					color: #808080
				textarea.text-field
					resize: none
					height: 87px
					margin-bottom: 57px
				a.btn
					display: inline-block
					width: 194px
					height: 58px
					line-height: 60px
					text-align: center
					background-color: $white
					span
						display: block
						font-family: 'HeadingSmallcasePro-Regular'
						font-size: 18px
						color: $black
						transition: 0.3s
						text-transform: uppercase
				a.btn:hover
					span
						transform: scale(1.2)
			form::before
				content: ''
				position: absolute
				z-index: -1
				bottom: 0
				left: 0
				margin: auto
				right: 0
				width: 96%
				height: 97%
				border-top-left-radius: 6%
				border-top-right-radius: 6%
				background-color: $black
		section.buyCourse
			padding-bottom: 240px
			.container
				position: relative
				.photo
					position: absolute
					z-index: -1
					top: -90px
					left: 29%
					width: 723px
					height: 964px
					background-color: $gray
					img
						width: 100%
						vertical-align: bottom
			.content
				padding-left: 100px
				h2
					position: relative
					z-index: 2
					margin-top: 0
					margin-bottom: 20px
					font-family: 'HeadingSmallcasePro-Regular'
					font-size: 95px
					color: $black
					text-transform: uppercase
					letter-spacing: -3px
					line-height: 78px
					.online
						position: relative
						.dot
							position: absolute
							top: -16px
							right: -23px
							background-color: $accent
							width: 17px
							height: 17px
							border-radius: 50%
							animation: 1.5s blink infinite	
				h2::before
					content: '#1'
					position: absolute
					z-index: 1
					top: -80px
					left: 350px
					font-family: 'HeadingSmallcasePro-Light'
					font-size: 231px
					color: #E7E7E7
				p.subhead
					font-family: 'Aeroport'
					font-size: 20px
					color: $black
					margin-bottom: 65px
					margin-top: 0
				ul
					list-style: none
					padding-left: 64px
					margin-bottom: 10px
					margin-top: 0
					li
						position: relative
						font-family: 'Aeroport'
						font-size: 24px
						color: $black
					li:not(:last-child)
						margin-bottom: 17.5px
					li::before
						content: ''
						position: absolute
						left: -64px
						top: 6px
						bottom: 0
						margin: auto
						background-color: $accent
						width: 44px
						height: 2px
				span.price
					font-family: 'Aeroport'
					font-size: 96px
					color: $black
				a.btn
					display: inline-block
					width: 194px
					height: 58px
					line-height: 60px
					margin-top: 35px
					text-align: center
					background-color: $accent
					span
						display: block
						font-family: 'HeadingSmallcasePro-Regular'
						font-size: 18px
						color: $white
						text-transform: uppercase
						transition: 0.3s
				a.btn:hover
					span
						transform: scale(1.2)
	footer
		padding-top: 160px
		padding-bottom: 160px
		nav
			.logo
				margin-right: auto
				a
					display: inline-block
				img
					width: 163px
					height: 37px
					vertical-align: bottom
			.contacts
				padding-right: 35px
				padding-bottom: 4px
				a
					font-family: "Aeroport"
					font-size: 20px
					color: $blackP
				a:not(:last-child)
					margin-right: 30px
			.socials
				padding-bottom: 3px
				a
					display: inline-block
					img
						width: 28px
						height: 28px
						vertical-align: bottom
				a:not(:last-child)
					margin-right: 10px
			a.btn.request
				display: none
				width: 35.9rem
				height: 10rem
				line-height: 10.5rem
				margin-top: 10.5rem
				background-color: $accent
				text-align: center
				span
					display: block
					font-family: 'HeadingSmallcasePro-Regular'
					font-size: 4.167rem
					color: $white
					text-transform: uppercase
					transition: 0.3s
			a.btn.request:hover
				span
					transform: scale(1.2)
@media only screen and(max-width: 1650px)
	body
		main
			section.types
				iframe
					width: 1650px
					height: 930px
@media only screen and(max-height: 830px)
	body
		nav.menu
			overflow-y: scroll
@media only screen and(max-width: 1499px)
	body
		nav.menu
			min-width: 450px
		nav.menu.hidden
			left: -450px
@media only screen and(max-width: 1365px)
	body
		main
			section.types
				padding-top: 70px
				padding-bottom: 135px
				iframe
					width: 1365px
					height: 765px
			section.feedback, section.compare
				.owl-theme
					.owl-nav
						.owl-prev
							left: -10%
						.owl-next
							right: -10%
			section.compare
				.carousel
					width: 80%
					margin: 0 auto
@media only screen and(max-width: 1200px)
	body
		header
			nav
				.socials
					a
						background-color: $white
						border-radius: 50%
		main
			section.wantsTo
				.info-board-outer
					padding-top: 0
					position: relative
					width: auto
					height: auto
					.info-board
						position: relative
						left: 0
						bottom: 0
				.background
					.photo1
						margin-left: 45%
			section.howGoing
				margin-bottom: 0
				.background
					height: 80%
				.laptop-video
					position: relative
					bottom: 0
					right: 0
					width: 900px
					margin: 0 auto
					margin-top: 50px
				.text-block
					max-width: none
					padding-left: 60px
					a.btn
						margin-bottom: 0
						margin-left: auto
						margin-right: auto
						display: block
			section.equipment
				padding-top: 100px
				h2
					font-size: 90px
					margin-bottom: 165px
			section.fitnessProgram
				h2
					padding-right: 0
				.text-block
					padding-left: 390px
			section.trialClass
				.text-block
					a.btn
						display: block
						margin: 0 auto
					span.b, p.text
						line-height: normal
			section.price
				.background
					.photo
						img
							margin-left: -20%
			section.callMe
				.background
					.layer
						width: 100%
						height: 100%
						top: 0
					.text-block
						padding-top: 100px
@media only screen and(max-width: 1100px)
	body
		main
			section.viktoria
				.text-block
					max-width: 550px
			section.buyCourse
				.container
					.photo
						left: auto
						right: 0
@media only screen and(max-width: 1000px)
	body
		main
			section.faq
				.questions
					padding: 0 50px

@media only screen and(max-width: 960px)
	html, body
		font-size: 10px
	body
		.container
			padding: 0 3rem
		header
			min-height: auto
			.background
				top: 0
				padding: 0
				display: block
				text-align: right
				.white-board-mob
					position: absolute
					left: 0
					top: 52.2rem
					z-index: 1
					display: block
					background-color: $white
					width: 50.9rem
					height: 34.3rem
				.photo1, .photo2
					display: block
					margin-left: auto
					img.desk
						display: none
					img.mob
						display: block
				.photo1
					position: relative
					width: 48.7rem
					img.mob
						width: 100%
				.photo2
					margin-top: 0
					position: relative
					width: 33.2rem
					img.photo.mob
						width: 100%
					img.phone.mob
						width: 25.3rem
						position: absolute
						z-index: 2
						top: 2.3rem
						left: 6.0rem
				.photo2::before
					content: ''
					position: absolute
					z-index: 1
					top: 3.1rem
					left: 7.6rem
					width: 1.6rem
					height: 4.2rem
					background-color: #EEE4E3
					opacity: 0
					transition-delay: 1s
					transition-duration: 1s
				.photo2.img-anim::before
					opacity: 1
			nav
				padding: 3em 0
				.logo
					margin-left: 6rem
					margin-right: 0
					img.imgLogo
						width: 24rem
						height: auto
				.menu
					button.circle
						width: 75px
						height: 75px
					.hamburger
						.hamburger-box
							width: 40px
							height: 21px
							.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
								width: 40px
								height: 4px
							.hamburger-inner
								top: 2px
							.hamburger-inner::before
								top: 8px
							.hamburger-inner::after
								top: 16px
					.hamburger--slider.is-active 
						.hamburger-inner::after
							transform: translate3d(0, -16px, 0) rotate(-90deg)
					.hamburger--slider.is-active .hamburger-inner
						transform: translate3d(0, 8px, 0) rotate(45deg)
				.contacts, .socials
					display: none
			section.first
				padding-top: 4rem
				padding-bottom: 10.9rem
				h1
					font-size: 11.667rem
					line-height: 10.9rem
					margin-bottom: 2rem
					max-width: 55%
					.online
						.dot
							width: 22px
							height: 22px
							top: -26px
							right: -32px
				p.desc, .number.mob
					display: inline-block
					vertical-align: middle
				p.desc
					font-size: 2.917rem
					line-height: 3.2rem
					margin-top: 4rem
					margin-bottom: 4.5rem
					margin-right: 8.5rem
					max-width: 20rem
				.number
					font-size: 20.148rem
					margin-bottom: -3rem
				.btn-outer
					display: block
					.number.desk
						display: none
				a.btn.try
					display: block
					width: 35.5rem
					height: 10rem
					line-height: 10.5rem
					margin-bottom: 3rem
					span
						font-size: 4.167rem
				.offer
					padding: 4rem 3rem 15.6rem 3rem
					margin-left: -3rem
					.headtext
						margin-bottom: 4rem
						span
							font-size: 6.25rem
						span::after
							height: 5px
					p.text
						margin-bottom: 4rem
						line-height: 4rem
						font-size: 3.333rem
						text-transform: uppercase
						font-family: 'HeadingSmallcasePro-Regular'
					a.btn
						width: 36.1rem
						height: 10rem
						line-height: 9.5rem
						border-width: 4px
						margin-bottom: 4.4rem
						span
							font-size: 4.167rem

		main
			section.types
				padding: 14rem 0
				iframe
					width: 218rem
					height: 123rem
				h2
					font-size: 9.167rem
					max-width: 40rem
					margin: 0 3rem 14.5rem 3rem
				ol
					margin-left: 16rem
					max-width: none
					li
						font-size: 3.333rem
						.sm
							font-size: 2.5rem
							margin-top: 1rem
					li:not(:last-child)
						margin-bottom: 1.75rem
			section.wantsTo
				padding: 15rem 0 
				.background
					padding-top: 26rem
					.photo1
						position: relative
						margin-left: 26%
						width: 79.9rem
						img
							width: 100%
				h2
					position: relative
					font-size: 9.167rem
					margin: 0 3rem	
					line-height: normal
					margin-bottom: 6.5rem
					br
						display: none
				h2::before
					content: ''
					position: absolute
					bottom: 10px
					right: -20px
					width: 22px
					height: 22px
					border-radius: 50%
					animation: 1.5s blink infinite
					background-color: $accent
				ul
					padding-left: 8rem
					max-width: 42rem
					margin-bottom: 1rem
					li
						font-size: 3.333rem
						line-height: 1.08
					li::before
						width: 6rem
						height: 0.4rem
						top: 1.8rem
						margin-right: 2rem
					li:not(:last-child)
						margin-bottom: 5rem
				.check
					margin-bottom: 8rem
					img.mob
					 	display: block
					 	margin-left: 8rem
					 	width: 30.9rem
					 	height: auto
					svg
						display: none
				.info-board-outer
					.info-board
						width: 64rem
						padding: 9.4rem 7rem 9rem 10rem
						h3
							font-size: 9.167rem
							line-height: 0.88
							margin-bottom: 5rem
						p.desc
							font-size: 4.167rem
							line-height: 1.16
							margin-bottom: 8rem
							max-width: none
							span.subtext
								display: block
						.plus
							text-align: right
							svg
								display: none
							img.mob
								display: inline-block
								vertical-align: bottom
								width: 24rem
								height: 24rem
					.info-board::before
						content: none
			section.howGoing
				padding-top: 14.5rem
				.background
					height: 87%
				h2
					font-size: 9.167rem
					line-height: 8.5rem
					margin-bottom: 8.5rem
				.text-block
					padding: 0 3rem
					p.desc
						font-size: 3.333rem
						margin-bottom: 9rem
					ul
						margin-bottom: 8.5rem
						padding-left: 8rem
						li
							font-size: 3.333rem
							line-height: 4rem
						li::before
							width: 6rem
							height: 0.4rem
							top: 2rem
							margin-right: 2rem
						li:not(:last-child)
							margin-bottom: 4rem
					a.btn
						width: 47rem
						height: 10rem
						line-height: 10.5rem
						span
							font-size: 4.167rem
				.laptop-video
					width: 75rem
					margin: 10rem auto 0 auto
					img
						width: 77rem
						margin-left: -2.4rem
					.video-layer
						width: auto
						top: 1.2rem
						left: 6.8rem
						iframe
							width: 61.1rem
							height: 38.1rem
							margin: 0
			section.equipment
				padding-top: 18.5rem
				padding-bottom: 15rem
				h2
					font-size: 12.013rem
					text-align: left
					padding-left: 16rem
					margin-bottom: 35rem
					max-width: 59rem
				h3
					font-size: 9.167rem
					padding-left: 8rem
					margin-bottom: 13.5rem
				.black-board
					margin-left: -3rem
					padding: 10rem 5rem 10rem 13.5rem
					max-width: 56rem
					.back-photo
						left: -30.2rem
						bottom: auto
						top: -37.2rem
						width: 117.7rem
						img
							width: 100%
							height: auto
					ul
						padding-left: 0
						li
							font-size: 3.333rem
						li::before
							width: 6rem
							height: 0.4rem
							margin-right: 2rem
							top: 2.2rem
						li:not(:last-child)
							margin-bottom: 3.5rem
			section.fitnessProgram
				padding-top: 5rem
				padding-bottom: 17rem
				.background
					.photo
						margin: 0
						img
							width: 100%
				h2
					font-size: 9.167rem
					margin-bottom: 15rem
					text-align: left
					letter-spacing: -3px
					padding: 0 6rem 0 25rem
				.text-block
					padding-left: 17.5rem
					max-width: 56.5rem
					.number
						font-size: 14.583rem
						line-height: 0.8
						margin-bottom: 2rem
					.subhead
						font-size: 4.167rem
						line-height: 1
						margin-bottom: 2.5rem
					p.text
						font-size: 3.333rem
						line-height: 1.25
					p.text:not(:last-child)
						margin-bottom: 6rem
			section.nutritionProgram
				padding-top: 9rem
				padding-bottom: 14.5rem
				.background
					top: 0
					padding-left: 22%
					.photo
						width: 70.5rem
						img
							width: 100%
				h2
					font-size: 9.167rem
					padding: 0
					margin-bottom: 14.5rem
					text-align: center
				.phone-block
					position: relative
					top: auto
					left: auto
					margin: 0 auto
					display: block
					width: 52.1rem
					pointer-events: all
					img.phone
						width: 100%
					.owl-carousel	
						width: 88%
						height: 100%
					.owl-carousel 
						.owl-nav 
							margin-top: 0
							.owl-prev, .owl-next
								transition: 0.3s
								outline: none
								position: absolute
								top: 0
								bottom: 0
								margin: auto
								width: 40px
								height: 40px
								border-radius: 50%
								background-color: $black
								background-repeat: no-repeat
								background-size: 12px
								span
									display: none
							.owl-prev
								left: -25%
								background-position: 13.5px 11px
								background-image: url('../img/be-box/owl-prev.svg')
							.owl-next
								right: -25%
								background-position: 13.5px 11px
								background-image: url('../img/be-box/owl-prev.svg')
								transform: rotate(180deg)
				.phone-block::before
					width: 88%
					height: 96%
				.text-block
					max-width: none
					padding-left: 8rem
					padding-right: 3rem
					margin-left: 0
					.number
						font-size: 14.583rem
						line-height: 0.8
						margin-bottom: 1rem
					.subhead
						font-size: 4.167rem
						line-height: 1.1
						margin-bottom: 1.5rem
					p.text
						font-size: 3.333rem
						margin-top: 0
						margin-bottom: 5.5rem
					a.btn
						display: block
						width: 47rem
						height: 10rem
						line-height: 10.5rem
						margin: 10.5rem 7.8rem 10.5rem auto
						span
							font-size: 4.167rem
			section.trialClass
				padding-top: 15rem
				padding-bottom: 16rem
				margin-bottom: 15rem
				h2
					font-size: 9.167rem
					margin-bottom: 2.5rem
				p.desc
					font-size: 3.333rem
					max-width: 75%
					margin: 0 auto 3.5rem auto
				.videos
					margin-bottom: 4.8rem
					.video
						width: 100%
						.big-btn
							width: 100px
							height: 80px
							svg
								width: 25px
								height: 30px
					.video:not(:last-child)
						margin-right: 0
						margin-bottom: 4.5rem

				.text-block
					span.b
						font-size: 8.333rem
						display: block
						margin-right: 0
						margin-bottom: 1.5rem
					p.text
						font-size: 3.333rem
						display: block
						margin-right: 0
						margin-bottom: 3rem
					a.btn
						width: 52rem
						height: 10rem
						line-height: 10.5rem
						span
							font-size: 4.167rem
			section.price
				padding: 10rem 0
				margin-bottom: 14.5rem
				.background
					.photo
						left: -17rem
						width: 154.4rem
				.text-block
					padding-left: 3rem
					h2
						font-size: 9.167rem
						max-width: 40rem
						span.mob-hidden
							display: none
					p.price
						font-size: 9.167rem
						margin-top: -1.5rem
						margin-bottom: 1rem
						font-weight: 100
					a.btn
						width: 26rem
						height: 10rem
						line-height: 10.5rem
						span 
							font-size: 4.167rem
			section.viktoria
				padding-top: 9rem
				padding-bottom: 18.5rem
				.photo
					top: -9rem
					width: 53.3rem
					img
						width: 100%
				.text-block
					max-width: none
					h2
						max-width: 33.5rem
						font-size: 9.167rem
						margin-left: auto
						margin-bottom: 43.8rem
					.black-board
						margin-left: 3rem
						margin-right: -3rem
						padding-left: 12rem
						padding-top: 6rem
						padding-right: 6rem
						padding-bottom: 6rem
						.subhead
							font-size: 3.333rem
							margin-bottom: 4rem
							font-weight: bold
						.name
							font-size: 4.167rem
							margin-bottom: 2.5rem
						ul
							margin-bottom: 4rem
							li
								font-size: 3.333rem
								line-height: 1.2
								a.site
									font-size: 3.333rem
								.sub
									margin: 0.5rem 0
							li::before
								width: 6rem
								height: 0.4rem
								top: 2.2rem
								margin-right: 2.8rem
							li:not(:last-child)
								margin-bottom: 0.5rem

						.more
							font-size: 3.333rem
			section.feedback, section.compare
				h2	
					font-size: 9.167rem
					margin-bottom: 3rem
				.owl-theme
					.owl-nav
						button.owl-next:hover, button.owl-prev:hover
							background-color: #000
						.owl-prev, .owl-next
							width: 40px
							height: 40px
							background-size: 11px
						.owl-prev
							background-position: 14px 11px
							left: -12%
						.owl-next
							background-position: 14px 11px
							right: -12%
					.owl-dots
						.owl-dot
							span
								width: 10px
								height: 10px
								margin: 0 17px
			section.feedback
				.carousel
					margin-bottom: 4.5rem
				.owl-theme
					.owl-nav
						.owl-prev, .owl-next
							top: -19%
				a.btn
					width: 56rem
					height: 10rem
					line-height: 10.5rem
					span
						font-size: 4.167rem
			section.compare
				padding-bottom: 13rem
				.carousel
					width: 70%
				.owl-carousel.owl-theme
					.owl-nav
						button.owl-prev, button.owl-next
							top: -10%
						button.owl-prev
							left: -24%
						button.owl-next
							right: -24%
			section.faq
				padding-bottom: 15rem
				h2
					font-size: 9.167rem
					margin-bottom: 10rem
				.questions
					padding: 0 3rem
					.separ
						height: 3px
					p.head
						font-size: 3.75rem
						padding: 3rem 0
						padding-right: 22%
						line-height: 1.2
					p.head::before
					p.head::after
					p.head::before, p.head::after
						width: 0.3rem
						height: 5.2rem
						right: 2.6rem
					p.hidden
						font-size: 2.917rem
						max-width: none
						margin-bottom: 5rem

			section.callMe
				margin-bottom: 27rem
				.container
					.text-block
						display: block
						margin: 0 auto
						text-align: center
						padding-top: 15rem
						padding-left: 0
						padding-right: 0
						padding-bottom: 9rem
						h2	
							font-size: 9.167rem
							margin-bottom: 8rem
						p.subhead
							display: none
						a
							font-size: 3.333rem
							display: inline-block
							max-width: 75%
							line-height: 1.2
						a.underline
							border-color: $black
					form
						display: block
						margin: 0 auto
						width: 53.3rem
						padding-left: 8rem
						padding-top: 10rem
						padding-right: 10rem
						padding-bottom: 5rem
						p.form-head
							font-size: 5.833rem
							margin-top: 0
							margin-bottom: 4rem
						input.text-field, textarea.text-field
							font-size: 2.917rem
							font-weight: 100
							padding-bottom: 2rem
						input.text-field
							margin-bottom: 3rem
							height: 4.5rem
						textarea.text-field
							margin-bottom: 5rem
							height: 8.7rem
						a.btn
							width: 25.4rem
							height: 10rem
							line-height: 10.5rem
							span
								font-size: 4.167rem
			section.buyCourse
				padding-bottom: 55rem
				.container
					.photo
						top: 49rem
						left: 0
						right: 0
						margin: 0 auto
						width: calc(100% - 6rem)
						max-width: 69rem
						height: auto
					.content
						padding-left: 8rem
						h2
							font-size: 10rem
							line-height: 0.9
							margin-bottom: 2.5rem
							.online
								.dot
									width: 22px
									height: 22px
									top: -26px
									right: -32px
						h2::before
							font-size: 23.104rem
							top: -15rem
							left: 37rem
						p.subhead
							font-size: 3.333rem
							margin-bottom: 4.5rem
						ul
							padding-left: 8rem
							max-width: 90%
							margin-bottom: 2rem
							li
								font-size: 3.333rem
								line-height: 1.2
							li:not(:last-child)
								margin-bottom: 4.5rem
							li::before
								width: 6rem
								height: 0.4rem
								margin-right: 2rem
								margin-bottom: 0
								margin-top: 0
								left: -8rem
								top: 2.1rem
						span.price
							font-size: 9.167rem
							letter-spacing: -4px
						a.btn
							width: 26rem
							height: 10rem
							line-height: 10.5rem
							margin-top: 3rem
							span
								font-size: 4.167rem

		footer
			padding: 17.5rem 0
			.container
				.d-flex
					display: block
				nav
					text-align: center
					.logo
						img
							width: 31.3rem
							height: auto
					.contacts 
						padding: 8rem 0
						a
							display: block
							margin: 0
							font-size: 4.167rem
						a:not(:last-child)
							margin-bottom: 3rem
					.socials
						padding: 0
						a
							img
								width: 6.5rem
								height: auto
						a:not(:last-child)
							margin-right: 2rem
					a.btn.request.mob
						display: inline-block

@media only screen and(max-width: 749px)
	html, body
		font-size: 8px
	body
		header
			nav
				.menu
					button.circle
						width: 66px
						height: 66px
					.hamburger
						.hamburger-box
							width: 35px
							.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
								width: 35px
			section.first
				h1	
					line-height: 10.8rem
				h1
					.online
						.dot
							width: 19px
							height: 19px
							top: -22px
							right: -24px
		main
			section.buyCourse
				.container
					.content
						h2
							.online
								.dot
									width: 19px
									height: 19px
									top: -22px
									right: -24px
			section.wantsTo
				h2::before
					bottom: 10px
					right: -10px
					width: 19px
					height: 19px



@media only screen and(max-width: 600px)
	html, body
		font-size: 6.66px
	body
		header
			section.first
				h1	
					line-height: 10.3rem
					margin-bottom: 1.9rem
		main
			section.nutritionProgram
				.text-block
					a.btn
						line-height: 10.6rem
				.phone-block::before
					top: 15px
				.phone-block
					.owl-carousel
						.owl-nav
							.owl-prev, .owl-next
								width: 30px
								height: 30px
								background-size: 9px
							.owl-prev
								background-position: 10px 8px
							.owl-next
								background-position: 10px 8px
			section.howGoing
				.text-block
					a.btn
						line-height: 10.6rem
					ul
						li::before
							height: 0.45rem
							top: 1.8rem
			section.equipment
				.black-board
					ul
						li::before
							height: 0.47rem
			section.viktoria
				.text-block
					h2
						margin-bottom: 43.6rem
					.black-board
						ul
							li::before
								top: 1.9rem
								height: 0.45rem
			section.wantsTo
				ul
					li::before
						height: 0.45rem
						top: 1.45rem
			section.callMe
				.container
					form
						a.btn
							line-height: 10.6rem
			section.feedback
				a.btn
					line-height: 10.6rem
			section.feedback, section.compare
				.owl-theme
					.owl-nav
						.owl-prev, .owl-next
							width: 30px
							height: 30px
							background-size: 9px
						.owl-prev
							background-position: 10px 8px
						.owl-next
							background-position: 10px 8px
					.owl-dots
						.owl-dot
							span
								width: 10px
								height: 10px
								margin: 0 12px
			section.buyCourse
				.container
					.content
						a.btn
							line-height: 10.6rem
						span.price
							letter-spacing: 0
		footer
			nav
				a.btn.request
					line-height: 10.6rem


@media only screen and(max-width: 499px)
	html, body
		font-size: 5px
	body
		header
			nav
				.menu
					button.circle
						width: 50px
						height: 50px
						padding: 0
					.hamburger
						.hamburger-box
							width: 25px
							height: 19px
							.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
								width: 25px
								height: 3px
							.hamburger-inner
								top: 3px
							.hamburger-inner::before
								top: 7px
							.hamburger-inner::after
								top: 14px
					.hamburger--slider.is-active 
						.hamburger-inner::after
							transform: translate3d(0, -14px, 0) rotate(-90deg)
					.hamburger--slider.is-active .hamburger-inner
						transform: translate3d(0, 7px, 0) rotate(45deg)
			section.first
				h1
					margin-bottom: 1.7rem
					.online
						.dot
							width: 15px
							height: 15px
							top: -18px
							right: -18px
				p.desc
					max-width: 21rem
		main
			section.fitnessProgram
				h2
					letter-spacing: 0
					font-weight: 100
			section.nutritionProgram
				.phone-block::before
					top: 10px
			section.faq
				.questions
					p.head::before, p.head::after
						width: 0.35rem
					.separ 
						height: 2px
			section.feedback, section.compare
				.owl-theme
					.owl-dots
						.owl-dot
							span
								width: 8px
								height: 8px
								margin: 0 7px
			section.wantsTo
				h2::before
					width: 15px
					height: 15px
			section.buyCourse
				.container
					.content
						h2
							.online
								.dot
									width: 15px
									height: 15px
									top: -18px
									right: -18px


@media only screen and(max-width: 400px)
	body
		header
			.background
				.white-board-mob
					top: 63.8rem
				.photo1
					width: 55.7rem
					margin-right: -4rem
			section.first
				padding-top: 8rem
				h1
					line-height: 10.7rem
					margin-bottom: 8.1rem
				.offer
					a.btn
						border-width: 2px

					.headtext
						span::after
							height: 3px

		main
			section.trialClass
				.videos
					.video
						.big-btn
							width: 80px
							height: 64px
							svg
								width: 20px
								height: 24px
@media only screen and(max-width: 374px)
	html, body
		font-size: 4.25px
	body
		header
			.background
				.white-board-mob
					top: 60rem
				.photo1
			section.first
				padding-top: 3rem
		main
			section.callMe
				.text-block
					a.underline
						border-width: 1px



