@import "vars"
@import "fonts"

body + div
	display: none !important
main
	.video-section
		display: none
		.steps-navigation
			padding: 50px 0 70px 0
			a.step-link
				font-family: 'MullerRegular'
				font-size: 24px
				color: #373737
				margin-right: 45px
				transition: 0.3s
			a.step-link:hover
				color: #ff2e2f
		.course-step
			padding-top: 30px
			h2
				font-family: 'MullerRegular'
				font-size: 36px
				color: #373737
				margin: 0
				margin-bottom: 50px

		.lecture
			margin-bottom: 90px
			h3
				font-family: 'MullerExtraBold'
				font-size: 30px
				color: #373737
				margin: 0
			.subhead
				border-left: 4px solid #ff2e2f
				font-family: 'MullerRegular'
				font-size: 18px
				color: #373737
				padding-left: 30px
				padding-top: 4px
				line-height: 1.3
				margin-top: 24px
				margin-bottom: 40px
			.separ-line
				width: 50px
				height: 4px
				margin-top: 20px
				margin-bottom: 40px
				background-color: #ff2e2f
			.slick-dots
				bottom: 20px
				li
					button:before
						font-size: 10px
			.slick-next
				right: -70px
			.slick-prev
				left: -60px
			.slick-prev, .slick-next
				z-index: 22
				width: 54px
				height: 54px
			.slick-prev.slick-disabled, .slick-next.slick-disabled
				display: none !important
			.slick-prev::before, .slick-next::before
				font-size: 0
				content: ''
				width: 54px
				height: 54px
				display: block
				opacity: 1
				background-repeat: no-repeat
				background-position: center
			.slick-prev::before
				background-image: url('../img/profile/video-slider-arrow-left.png')
			.slick-next::before
				background-image: url('../img/profile/video-slider-arrow-right.png')
			.slick-list
				overflow: visible
				margin: -50px -15px
				padding: 50px 0px
				.slick-slide
					margin: 0 15px
					opacity: 0
					outline: none
					transition: 0.3s
				.slick-slide.slick-active
					opacity: 1
			.height-fluid
				margin-left: -15px
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				.video-item
					margin: 0 15px
			.video-slider.height-fluid
				margin: 0
				display: block
				.video-item
					margin: 0
					height: 450px
			.video-item
				background-color: #ffffff
				border-radius: 25px
				display: inline-block
				vertical-align: top
				outline: none
				padding: 25px
				position: relative
				transition: 0.3s
				.video-index
					position: absolute
					z-index: 22
					top: 0
					left: 0
					width: 50px
					height: 50px
					line-height: 39px
					text-align: center
					border: 6px solid #f8f8f8
					border-radius: 50%
					background-color: #ff2e2f
					span
						font-family: 'MullerBold'
						font-size: 14px
						color: #ffffff
				.video-index.done
					background-image: url('../img/profile/video-index-checkmark.png')
					background-repeat: no-repeat
					background-position: center
					span
						opacity: 0
				ul.topics
					padding-left: 25px
					margin-top: 30px
					margin-right: -15px
					max-width: 300px
					li
						font-family: 'MullerLight'
						font-size: 18px
						color: #333333
						margin-bottom: 7px
						line-height: 1.2
						letter-spacing: -0.5px
						.li-dop
							font-size: 16px
							margin-top: 15px

			.video-item:hover
				box-shadow: 0px 19px 38px 0px rgba(0, 0, 0, 0.3)
			.video-item.disabled
				position: relative
				.video-container
					opacity: 0.502
				.video-index
					background-color: #FF9697
			.video-item.disabled::before
				content: ''
				position: absolute
				z-index: 900
				width: 100%
				height: 100%
				top: 0
				left: 0

			.useful-links
				padding-top: 10px
				img, .textblock
					display: inline-block
					vertical-align: top
				.textblock
					padding-top: 15px
					padding-left: 32px
					h4
						font-family: 'MullerBold'
						font-size: 24px
						color: #373737
					ul
						list-style-type: decimal
						list-style-position: inside
						padding-left: 5px
						li
							font-family: 'MullerLightItalic'
							font-size: 18px
							a
								color: #ff2e2f
								opacity: 0.8
								transition: 0.3s
							a:hover
								opacity: 1
								text-decoration: underline
								font-weight: bold
		.question-form
			padding-top: 30px
			h2, .subhead
				color: #333333
			h2
				font-family: 'MullerExtraBold'
				font-size: 36px
				margin: 0
			.subhead
				font-family: 'MullerRegular'
				font-size: 24px
			form
				padding-top: 40px
				textarea
					width: 100%
					border-radius: 10px
					height: 215px
					background-color: #ffffff
					border: 1px solid #d2d2d2
					resize: none
					padding-top: 15px
					padding-left: 25px
				textarea::-webkit-input-placeholder,
				textarea::-moz-placeholder,
				textarea:-moz-placeholder,
				textarea:-ms-input-placeholder
					font-family: 'MullerThin'
					font-size: 16px
					color: #777777
				input.submit
					background-color: rgb(55, 55, 55)
					width: 192px
					height: 54px
					line-height: 50px
					text-align: center
					border-radius: 27px
					margin-top: 25px
					font-family: 'MullerBold'
					font-size: 16px
					color: #ffffff

	section.header
		.container
			padding-top: 65px
			.head
				margin-top: 50px
				span.head
					line-height: 1.2
					font-family: 'MullerExtraBold'
					font-size: 50px
					color: #262626
				.line
					width: 67px
					height: 3px
					background-color: #FF2E2E
					margin-top: 20px
					margin-bottom: 30px
				p.text
					font-family: 'MullerLight'
					font-size: 20px
					color: #000
					line-height: 1.3
			.buttons
				margin-top: 35px
				display: flex
				flex-wrap: wrap
				justify-content: space-between
				.button:hover, .button.active
					background-color: #ff2e2f
				.button
					padding-left: 15px
					padding-right: 15px
					border-radius: 25px
					height: 50px
					background-color: #373737
					transition: 0.3s
					cursor: pointer
					span
						font-size: 16px
						color: #fff
						font-family: "MullerBold"
						font-weight: 600
						letter-spacing: 0.25px
	section.personInf
		margin-top: 60px
		margin-bottom: 35px
		.container
			background-color: #fff
			padding-top: 40px
			padding-bottom: 25px
			border-radius: 25px
			.photo
				.button
					background-color: #373737
					width: 100%
					height: 55px
					cursor: pointer
					border-radius: 25px
					margin-top: 10px
					padding-left: 10px
					padding-right: 10px
					span
						font-size: 16px
						color: #fff
						font-family: "MullerBold"
						font-weight: 600
						letter-spacing: 0.25px
			.text
				width: 100%
				.line.gray
					background-color: rgb(249, 249, 249)
				.line
					padding-left: 100px
					display: grid
					grid-template-columns: 40% 60%
					.item
						font-family: "MullerLight"
						font-size: 16px
						color: #333333
						margin-top: 14px
						margin-bottom: 14px
						.buttonCancel
							cursor: pointer
							max-width: 67px
							height: 22px
							border-radius: 11px
							background-color: #8e8989
							color: #ffffff
							display: flex
							align-items: center
							justify-content: center
							margin-left: 15px
							font-family: 'MullerMedium'
							font-size: 10px
							padding-left: 10px
							padding-right: 10px
					.itemB
						font-family: "MullerMedium"
					.itemRed
						color: #ff2e2f
			.iconQr
				padding-top: 25px
				margin-left: -15px
	section.promo
		.hidden
			.list
				.topLine, .line
					display: grid
					grid-template-columns: 79% 21%
				span.text, span.b, .badge
					vertical-align: middle
				.badge
					position: relative
					cursor: pointer
					width: 20px
					height: 20px
					margin-left: 15px
					margin-bottom: 5.5px
					background-image: url('../img/badge.png')
					background-size: cover
				.tooltip
					line-height: 1.4
					width: 200px
					.name
						text-transform: uppercase
						font-size: 12px
						text-align: center
						font-weight: bold
					ol
						text-align: left
						li
							font-size: 12px
	section.socials
		.hidden
			img.social
				cursor: pointer
				-ms-user-select: none
				-moz-user-select: none
				-khtml-user-select: none
				-webkit-user-select: none
				margin-right: 5px
			p.desc
				line-height: 1.3
				margin-bottom: 0
			.list
				border-bottom: 1px solid #EEEEEE
				padding-bottom: 5px
				.topLine, .line
					display: grid
					grid-template-columns: 69% 31%

	section.appForm
		.hidden	
			.button:hover
				background-color: #ff2e2f
			.button
				margin-top: 50px
				margin-left: 15px
				width: 195px
				border-radius: 25px
				height: 50px
				background-color: #373737
				transition: 0.3s
				cursor: pointer
				span
					font-size: 16px
					color: #fff
					font-family: "MullerBold"
					font-weight: 600
					letter-spacing: 0.25px
			.list
				padding-bottom: 5px
				.topLine, .line
					display: grid
					grid-template-columns: 46% 54%
					span.jusR
						text-align: right
						margin-right: 5px
				.topLine
					grid-template-columns: 1fr
				.fullAppForm
					.head
						margin-bottom: 10px
						span.name
							color: #ff2e2f
							transition: 0.3s
							font-size: 20px
							font-family: 'MullerExtraBold'
					.head:hover
						span.name
							color: #fa8384
						.profile-buttonOpen
							background-color: #fa8384
						.profile-buttonClose
							background-color: #9b9797
					.hidden
						padding: 0
						.topLine, .line
							display: grid
							grid-template-columns: 80% 20%
							padding-left: 15px
							padding-right: 15px
							span.jusR
								justify-content: right
							span.mob, .mob
								display: none
						.line.mob
							display: none

	section.orders, section.appointDiet, section.sTicketInf
		.hidden
			.button:hover, .button.active
				background-color: #ff2e2f
			.button
				margin-top: 35px
				margin-right: 15px
				width: 195px
				border-radius: 25px
				height: 50px
				background-color: #373737
				transition: 0.3s
				cursor: pointer
				span
					font-size: 16px
					color: #fff
					font-family: "MullerBold"
					font-weight: 600
					letter-spacing: 0.25px
	section.orders
		.list
			padding-bottom: 5px
		.orders-listUnpaid
			.topLine, .line
				display: grid
				grid-template-columns: 21% 38% 25% 16%
		.orders-listPaid
			.topLine, .line
				display: grid
				grid-template-columns: 20% 43% 37%
	section.sTicketInf
		.sTicket
			.list
				.topLine, .line
					display: grid
					grid-template-columns: 21% 25% 18% 20% 16%
		.schedule
			padding-top: 35px
			.list
				.topLine, .line
					display: grid
					grid-template-columns: 38% 12% 22% 12% 16%
					span
						font-size: 14px
					span.b
						font-size: 16px
					.buttonPay
						background-color: #8e8989
						span
							font-size: 10px
	section.appointDiet
		.hidden
			.orders-listUnpaid
				.topLine, .line
					display: grid
					grid-template-columns: 46% 17% 20% 17% 
			.orders-listPaid
				.topLine, .line
					display: grid
					grid-template-columns: 46% 54%
	section.progressInf
		.stats
			.hidden
				.list
					.topLine, .line
						display: grid
						grid-template-columns: 24% 9% 11% 10% 11% 11% 24%
						span.gr
							color: #3b3b3b
						span.small
							font-size: 14px
						span.time
							margin-left: 10px
						img
							width: 17px
							height: auto
							margin-left: 47.5px
							margin-top: -13px
							margin-bottom: -13px
						.circle-progress
							border-radius: 50%
							background-color: #2FA318
							width: 26px
							height: 22px
							color: #ffffff
							font-family: 'MullerBold'
							font-size: 12px
							margin-left: 7.5px
				.list.mob
					display: none
		.collages
			.item
				margin-right: 30px
				.borderOuter
					border: 1px solid #ddd8d8
					border-radius: 10px
					padding: 7.5px
					cursor: pointer
				span.name
					font-family: 'MullerMedium'
					font-size: 12px
					margin-left: 15px
					margin-top: 10px
					color: #333333
	section.sTicketInf, section.orders, section.appointDiet
		.list
			.line
				.buttonPay
					transition: 0.3s
					cursor: pointer
					border-radius: 11px
					background-color: #3B3B3B
					color: #ffffff
					font-size: 10px
					font-family: 'MullerMedium'
					height: 20px
					max-width: 75px
					padding-left: 10px
					padding-right: 10px
					span
						height: 15px
				.buttonPay:hover
					background-color: #ff2e2f
	section.appForm, section.promo, section.socials, section.orders, section.sTicketInf, section.schedule, section.appointDiet, section.progressInf
		padding-left: 0
		.head
			padding-left: 80px
		.container.contentBlock
			padding-left: 50px
			padding-bottom: 40px
			padding-top: 25px
			background-color: #fff
			border-radius: 25px
			margin-top: 25px
			margin-bottom: 35px
			.head
				display: grid
				grid-template-columns: auto 1fr auto
				align-items: center
				padding-left: 30px
				margin-bottom: 5px
				span.name
					font-family: 'MullerExtraBold'
					font-size: 30px
					line-height: 1.2
					color: #333
				.line
					background-color: rgb(0, 0, 0)
					opacity: 0.102
					height: 1px
					margin-left: 30px
					margin-right: 10px
				.profile-buttonOpen
					background-color: #ff2e2f
					width: 50px
					height: 50px
					border-radius: 50%
					cursor: pointer
					display: flex
					img
						-ms-user-select: none
						-moz-user-select: none
						-khtml-user-select: none
						-webkit-user-select: none
				.profile-buttonOpen:hover
					background-color: #fa8384
				.profile-buttonClose
					background-color: rgb(59, 59, 59)
					width: 50px
					height: 50px
					border-radius: 50%
					cursor: pointer
					display: none
					img
						-ms-user-select: none
						-moz-user-select: none
						-khtml-user-select: none
						-webkit-user-select: none
				.profile-buttonClose:hover
					background-color: #9b9797
				.profile-buttonClose, .profile-buttonOpen
					transition: 0.5s
					margin-left: 15px
			p.desc
				color: #333
				font-size: 16px
				font-family: 'MullerLight'
				margin-top: 25px
				margin-bottom: 0
				letter-spacing: 0.25px
		.hidden, .content
			padding-left: 30px
			padding-right: 50px
			.list
				margin-top: 35px
				.topLine
					padding-top: 15px
					padding-bottom: 15px
					padding-left: 30px
					padding-right: 30px
					background-color: rgb(59, 59, 59)
					width: 100%
					border-top-left-radius: 15px
					border-top-right-radius: 15px
					span
						text-transform: uppercase
						color: #fff
						font-family: 'MullerBold'
						font-size: 13px
						letter-spacing: 2px
				.line
					padding-top: 15px
					padding-bottom: 15px
					padding-left: 30px
					padding-right: 30px
					width: 100%
					background-color: #fff
				.line.gray
					background-color: #F5F5F5
		span.b
			font-family: 'MullerMedium'
			font-size: 16px
			color: #323232
		span.bb
			font-family: 'MullerBold'
			font-size: 16px
			color: #323232
		span.gr
			font-size: 16px
			font-family: 'MullerRegular'
			color: #575757
			margin-right: 20px
		span.lite
			font-family: 'MullerLight'
			color: #3b3b3b
			font-size: 16px
		span.m
			font-family: 'MullerMedium'
			color: #3b3b3b
		span.red
			color: #ff2e2f
			font-family: 'MullerRegular'
			font-weight: bold
		.collages
			margin-top: 35px

	span.mob, .mob
		display: none
	.container.contentBlock, .container
		.hidden, .content
			.list
				.line.mob, .line.gray.mob, .topLine.mob
					display: none
					span.mob, .mob
						display: none
@media only screen and(max-width: 1400px)
	body
		.popup
			width: 30%
@media only screen and(max-width: 1200px)
	body
		.popup
			width: 35%
		main
			section.header
				.container
					.buttons
						grid-gap: 5px
						.button
							span
								font-size: 14px
								text-align: center
@media only screen and(max-width: 1199px)
	body
		main
			section.personInf
				.container
					.iconQr
						img
							width: 100%
			section.progressInf
				.hidden
					.list
						.topLine
							span
								font-size: 12px
			section.sTicketInf
				.container.contentBlock
					.schedule
						.hidden, .content
							.list
								.topLine, .line
									grid-template-columns: 33% 17% 22% 12% 16%
@media only screen and(max-width: 991px)
	body
		.popup
			width: 40%
		main 
			section.header
				.container
					.buttons
						justify-content: flex-start
						.button
							margin-top: 5px
							margin-right: 5px
			section.personInf
				margin-top: 40px
				.container
					.iconQr
						padding-top: 0
						margin-left: 0
					.photo
						img.imgPerson
							width: 80%
						.button
							width: 80%
					.text
						margin-top: 25px
			section.promo
				.hidden
					.list
						.badge
							margin-left: 7.5px
			section.sTicketInf
				.container.contentBlock
					.schedule
						.hidden, .content
							.list
								.topLine, .line
									grid-template-columns: 33% 20% 22% 12% 13%
			section.progressInf
				.container.contentBlock
					.stats
						.hidden, .content
							.list
								.line, .line.gray
									span.gr
										margin: 0
									img
										margin-top: -7px
										margin-bottom: -7px
					.collages
						.hidden
							.d-flex
								.item
									.borderOuter
										img
											width: 240px
			section.appForm, section.promo, section.socials, section.orders, section.sTicketInf, section.schedule, section.appointDiet, section.progressInf
				.head
					padding-left: 40px
				.container.contentBlock
					padding-left: 25px
					padding-bottom: 30px
					padding-top: 25px
					.head
						padding-left: 20px
						span.name
							font-size: 25px
						.line
							margin-left: 20px
							margin-right: 10px
				.hidden, .content
					padding-left: 15px
					.list
						.topLine
							padding-top: 10px
							padding-bottom: 10px
							padding-left: 15px
							padding-right: 15px
							span
								font-size: 12px
						.line
							padding-top: 10px
							padding-bottom: 10px
							padding-left: 15px
							padding-right: 15px
							span
								font-size: 14px
						.line, .topLine
							.buttonPay
								span
									font-size: 10px

@media only screen and(max-width: 768px)
	body
		.popup
			width: 50%
		main 
			section.header
				.container
					.Outer
						display: flex
						flex-direction: column
						.head
							order: 2
					.head
						margin-top: 35px
						span.head
							font-size: 40px
					.buttons
						grid-template-columns: repeat(3, auto)
						a.button
							order: 6
			section.personInf
				.container
					.photo
						img.imgPerson
							width: 70%
						.button
							width: 70%
					.iconQr
						margin-top: 25px
			section.promo
				.container.contentBlock
					.hidden
						.list
							.topLine, .line
								grid-template-columns: 1fr
								span.desk
									display: none
								span.mob
									display: block
			section.orders
				.container.contentBlock
					.hidden	
						.list
							.topLine, .line
								grid-template-columns: 47% 53%
								span.gray-mob
									color: #b4aeae
			section.sTicketInf
				.container.contentBlock
					.sTicket
						.hidden, .content
							.list
								.topLine, .line
									grid-template-columns: 21% 25% 38% 16%
									span.desk
										display: none
									span.mob
										display: block
					.schedule
						.hidden, .content
							.list
								margin-top: 25px
								.topLine, .line
									padding-right: 15px
									grid-template-areas: "a a a"
									grid-template-columns: 50% 33% 17%
									span.gray-mob
										color: #b4aeae
									.gaa
										grid-area: a
								.topLine
									// grid-template-columns: 27% 53% 20%
								.line
									padding-top: 15px
									padding-bottom: 15px
									grid-template-columns: 50% 33% 17%
									.gaa
										margin-bottom: 10px
									.buttonPay
										margin-top: 10px
										margin-bottom: 10px
										justify-self: left
			section.appointDiet
				.container.contentBlock
					.hidden, .content
						.list
							.topLine, .line
								span.desk
									display: none
								span.mob
									display: block
								span.gray-mob
									color: #b4aeae
							.line
								padding-top: 20px
								padding-bottom: 20px
						.list.orders-listUnpaid
							.topLine
								grid-template-columns: 1fr
							.line
								grid-template-areas: "a a"
								grid-template-columns: 63% 37%
								.gaa
									grid-area: a
						.list.orders-listPaid
							.topLine, .line
								grid-template-areas: 
								grid-template-columns: 1fr
			section.progressInf
				.container.contentBlock
					.stats
						.hidden, .content
							.list.desk
								display: none
							.list.mob
								display: block
								.topLine
									align-items: center
									grid-template-columns: 40% 60%
									span.gr, span.time
										margin: 0
										font-family: 'MullerLight'
										color: #f5f5f5
										font-size: 14px
										letter-spacing: normal
									span.gr
										text-align: right
										span.time
											margin-left: 5px
								.list-content
									display: grid
									grid-template-columns: auto 70px
									.valueBlock
										.line
											padding-top: 9px
											padding-bottom: 9px
											align-items: center
											padding-right: 30px
											grid-template-columns: 56% 44%
											span.bb
												text-transform: uppercase
												font-size: 12px
											.item
												justify-self: right
								img
									align-self: center
									width: 100%
					.collages
						.hidden
							.d-flex
								.item
									.borderOuter
										img
											width: 195px
			section.appForm, section.promo, section.socials, section.orders, section.sTicketInf, section.schedule, section.appointDiet, section.progressInf
				.container.contentBlock
					padding-left: 15px
					.head
						padding-left: 0
						span.name
							font-size: 22px
						.profile-buttonOpen
							width: 30px
							height: 30px
							img
								width: 10px
						.profile-buttonClose
							width: 30px
							height: 30px
							img
								width: 10px
						.profile-buttonClose, .profile-buttonOpen
							margin-left: 10px
				.hidden, .content
					padding-right: 0px
					padding-left: 0
@media only screen and(max-width: 600px)
	body
		.popup
			width: 60%
		main
			section.header
				.container
					.buttons
						.button
							padding-left: 10px
							padding-right: 10px
							span
								font-size: 13px
			section.personInf
				.container
					.text
						.line
							padding-left: 50px
			section.progressInf
				.container.contentBlock
					.collages
						.hidden
							.d-flex
								.item
									.borderOuter
										img
											width: 170px
@media only screen and(max-width: 500px)
	body
		.popup
			width: 70%
		main
			section.header
				.container
					.head
						margin-top: 15px
						span.head
							font-size: 30px
					.buttons
						margin-top: 15px
						.button
							padding-left: 5px
							padding-right: 5px
							span.desk
								display: none
							span.mob
								display: block
			section.personInf
				margin-top: 20px
			section.socials
				.container.contentBlock
					.hidden
						.list.desk
							display: none
						.list.mob
							display: block
							border: none
							.topLine, .line
								grid-template-columns: 1fr
			section.orders, section.sTicketInf
				.container.contentBlock
					.sTicket
						.hidden, .content
							.list
								.topLine
									grid-template-areas: "a b" "c c"
									grid-template-columns: 51% 49%
								.line
									grid-template-columns: 23.5% 11.75% 11.75% 26.5% 26.5%
									grid-template-areas: "a a a b b" "c c c c d"
								.gaa
									grid-area: a
								.gab
									grid-area: b
								.gac
									grid-area: c
								.gad
									grid-area: d
								.line, .topLine
									padding-right: 15px !important
					.hidden, .content
						.list
							.topLine
								grid-template-areas: "a b" "c c"
								grid-template-columns: 51% 49%
							.line
								grid-template-columns: 23.5% 11.75% 11.75% 26.5% 26.5%
								grid-template-areas: "a a b b b" "c c c c d"
							.gaa
								grid-area: a
							.gab
								grid-area: b
							.gac
								grid-area: c
							.gad
								grid-area: d
							.line
								padding-right: 15px !important
			section.sTicketInf
				.container.contentBlock
					.sTicket
						.hidden, .content
							.list
								.line, .topLine
									span.gray-mob
										color: #b4aeae
			section.appForm
				.container.contentBlock
					.hidden, .content
						.list
							.line.desk, .line.gray.desk
								display: none
							.line.mob, .line.gray.mob
								display: grid
							.line, .topLine
								align-items: center
								span.desk
									display: none
								span.mob
									display: block
								span.bb
									text-transform: uppercase
									font-size: 12px
							.line.gray-desk
								background-color: #ffffff
							.line.gray-mob
								background-color: #f5f5f5
							.fullAppForm
								margin-top: 15px
								.hidden, .content
									.line, .topLine
										grid-template-columns: 1fr
										span
											text-transform: none
										span.jusR
											display: none
										span.bb
											font-size: 13px
									.line.gray-mob
										background-color: #f5f5f5
			section.progressInf
				.container.contentBlock
					.collages
						.hidden
							.d-flex
								padding-top: 15px
								.item
									margin: 0 auto
									.borderOuter
										img
											width: 100%
			section.appForm, section.promo, section.socials, section.orders, section.sTicketInf, section.schedule, section.appointDiet, section.progressInf
				.container.contentBlock
					.head
						.line
							display: none
						.profile-buttonOpen, .profile-buttonClose
							justify-self: right


@media only screen and(max-width: 400px)
	body
		.popup
			width: 80%
		main
			section.appForm, section.promo, section.socials, section.orders, section.sTicketInf, section.schedule, section.appointDiet, section.progressInf
				.head
					span.name
						font-size: 18px
				.hidden, .content
					p.desc
						font-size: 14px
					.list
						.line, .topLine
							padding-right: 5px
							span.gr
								margin-right: 7.5px
			section.header
				.container
					.buttons
						justify-content: center
						margin-left: -15px
						margin-right: -15px
						.button
							height: 35px
							span
								font-size: 10px
			section.personInf
				.container
					padding-top: 20px
					.photo
						img.imgPerson
							width: 100%
						.button
							width: 100%
					.text
						.line
							padding-left: 15px
							padding-right: 15px
							grid-template-columns: 37% 63%
							.item
								.buttonCancel
									margin-left: 10px
			section.promo
				.container.contentBlock
					.hidden
						.list
							.line
								.badge
									.tooltip
										.tooltip-inner
											margin-left: -40px
			section.orders, section.sTicketInf, section.appointDiet
				.container.contentBlock
					.hidden, .content
						.buttons
							margin-top: 15px
							justify-content: space-around
							.button
								width: 120px
								height: 35px
								margin: 0
								span
									font-size: 14px
						.list
							.line, .topLine
								.buttonPay
									justify-self: right
			section.appForm
				.container.contentBlock
					.hidden, .content
						.list
							.fullAppForm
								.hidden, .content
									.line
										padding-left: 15px
										padding-right: 15px
			section.appointDiet
				.container.contentBlock
					.hidden, .content
						.list
							.topLine, .line
								.buttonPay
									justify-self: left
							.topLine
								span
									letter-spacing: 1px
			section.progressInf
				.container.contentBlock
					.stats
						.hidden, .content
							.list.mob
								.topLine
									padding-right: 15px


@media only screen and(max-width: 350px)
	body
		main
			section.header
				.container
					.buttons
						.button
							height: 25px